<nav class="header__menu">
    <a class="header__menu-item" href="/index">Обо мне
        <canvas class="header__menu-item-line-v"></canvas>
    </a>
    <a class="header__menu-item" href="/works">Мои работы
        <canvas class="header__menu-item-line-v"></canvas>
    </a>
    <a class="header__menu-item" href="/contacts">Контакты
        <canvas class="header__menu-item-line-v"></canvas>
    </a>
</nav>