<meta charset="utf-8">
<meta name="description" content="Portfolio of web developer and web designer">
<meta name="viewport" content="width=device-width">
<link rel="icon" href="./img/favicon.png">
<meta property="og:image" content="img/_src/il">

<style>.page-preloader{width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 30; background: #030303} .logotype {width: 90px;
|   height: 58px;
|   max-width: 90px;
|   display: block;
|   background-image: url("./img/_src/logo-svg-sprite.svg");
|   background-repeat: no-repeat;
|   opacity: 1;
|   animation: drawLogo 3.5s steps(1) infinite;
|   position: absolute;
|   left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
|   @keyframes drawLogo {
|   0% {
|     background-position: 0 0; }
|
|   .33333% {
|     background-position: -91px 0; }
|
|   .66667% {
|     background-position: -182px 0; }
|
|   1% {
|     background-position: -273px 0; }
|
|   1.33333% {
|     background-position: -364px 0; }
|
|   1.66667% {
|     background-position: -455px 0; }
|
|   2.33333% {
|     background-position: -546px 0; }
|
|   2.66667% {
|     background-position: -637px 0; }
|
|   3% {
|     background-position: -728px 0; }
|
|   3.33333% {
|     background-position: -819px 0; }
|
|   3.66667% {
|     background-position: 0 -59px; }
|
|   4% {
|     background-position: -91px -59px; }
|
|   4.33333% {
|     background-position: -182px -59px; }
|
|   4.66667% {
|     background-position: -273px -59px; }
|
|   5.33333% {
|     background-position: -364px -59px; }
|
|
|   5.66667% {
|     background-position: -455px -59px; }
|
|
|   6% {
|     background-position: -546px -59px; }
|
|
|   6.33333% {
|     background-position: -637px -59px; }
|
|
|   6.66667% {
|     background-position: -728px -59px; }
|
|
|   7% {
|     background-position: -819px -59px; }
|
|
|   7.33333% {
|     background-position: 0 -118px; }
|
|
|   7.66667% {
|     background-position: -91px -118px; }
|
|
|   8% {
|     background-position: -182px -118px; }
|
|
|   8.33333% {
|     background-position: -273px -118px; }
|
|
|   8.66667% {
|     background-position: -364px -118px; }
|
|
|   9% {
|     background-position: -455px -118px; }
|
|
|   9.33333% {
|     background-position: -546px -118px; }
|
|
|   9.66667% {
|     background-position: -637px -118px; }
|
|
|   10% {
|     background-position: -728px -118px; }
|
|
|   10.33333% {
|     background-position: -819px -118px; }
|
|
|   10.66667% {
|     background-position: 0 -177px; }
|
|
|   11% {
|     background-position: -91px -177px; }
|
|
|   11.33333% {
|     background-position: -182px -177px; }
|
|
|   11.66667% {
|     background-position: -273px -177px; }
|
|
|   12% {
|     background-position: -364px -177px; }
|
|
|   12.33333% {
|     background-position: -455px -177px; }
|
|
|   12.66667% {
|     background-position: -546px -177px; }
|
|
|   13% {
|     background-position: -637px -177px; }
|
|
|   13.33333% {
|     background-position: -728px -177px; }
|
|
|   13.66667% {
|     background-position: -819px -177px; }
|
|
|   14% {
|     background-position: 0 -236px; }
|
|
|   14.33333% {
|     background-position: -91px -236px; }
|
|
|   14.66667% {
|     background-position: -182px -236px; }
|
|
|   15% {
|     background-position: -273px -236px; }
|
|
|   15.33333% {
|     background-position: -364px -236px; }
|
|
|   15.66667% {
|     background-position: -455px -236px; }
|
|
|   16% {
|     background-position: -546px -236px; }
|
|
|   16.33333% {
|     background-position: -637px -236px; }
|
|
|   16.66667% {
|     background-position: -728px -236px; }
|
|
|   17% {
|     background-position: -819px -236px; }
|
|
|   17.33333% {
|     background-position: 0 -295px; }
|
|
|   17.66667% {
|     background-position: -91px -295px; }
|
|
|   18% {
|     background-position: -182px -295px; }
|
|
|   18.33333% {
|     background-position: -273px -295px; }
|
|
|   18.66667% {
|     background-position: -364px -295px; }
|
|
|   19% {
|     background-position: -455px -295px; }
|
|
|   19.33333% {
|     background-position: -546px -295px; }
|
|
|   19.66667% {
|     background-position: -637px -295px; }
|
|
|   20% {
|     background-position: -728px -295px; }
|
|
|   20.33333% {
|     background-position: -819px -295px; }
|
|
|   20.66667% {
|     background-position: 0 -354px; }
|
|
|   21% {
|     background-position: -91px -354px; }
|
|
|   21.33333% {
|     background-position: -182px -354px; }
|
|
|   21.66667% {
|     background-position: -273px -354px; }
|
|
|   22% {
|     background-position: -364px -354px; }
|
|
|   22.33333% {
|     background-position: -455px -354px; }
|
|
|   22.66667% {
|     background-position: -546px -354px; }
|
|
|   23% {
|     background-position: -637px -354px; }
|
|
|   23.33333% {
|     background-position: -728px -354px; }
|
|
|   23.66667% {
|     background-position: -819px -354px; }
|
|   30% {
|     background-position: 0 	-413px; }
|
|   30.33333% {
|     background-position: -91px -413px; }
|
|   30.66667% {
|     background-position: -182px -413px; }
|
|   31% {
|     background-position: -273px -413px; }
|
|   31.33333% {
|     background-position: -364px -413px; }
|
|   31.66667% {
|     background-position: -455px -413px; }
|
|   32% {
|     background-position: -546px -413px; }
|
|   89% {
|     background-position: -637px -413px; }
|
|   89.33333% {
|     background-position: -728px -413px; }
|
|   89.66667% {
|     background-position: -819px -413px; }
|
|   90% {
|     background-position: 0 -472px; }
|
|   90.33333% {
|     background-position: -91px -472px; }
|
|   90.66667% {
|     background-position: -182px -472px; }
|
|   91% {
|     background-position: -273px -472px; }
|
|   91.33333% {
|     background-position: -364px -472px; }
|
|   91.66667% {
|     background-position: -455px -472px; }
|
|   92% {
|     background-position: -546px -472px; }
|   }
|   .loader {
|   width: 140px;
|   height: 140px;
|   line-height: 140px;
|   text-align: center;
|   position: absolute;
|   left: 50%;
|   top: 50%;
|   transform: translate(-50%, -50%);
|   font-weight: 300;
|   font-size: 30px;
|   color: #050c02;
|   border: 2px solid #4dc432;
|   border-radius: 50%;
|   border-top: 2px solid;
|   animation: rotateCircle 1s linear infinite;
|   transform-origin: center; }
|   @keyframes rotateCircle {
|   from {
|     transform: translate(-50%, -50%) rotate(0deg); }
|   to {
|     transform: translate(-50%, -50%) rotate(360deg); }
|   }
| </style>
<script src="js/preloader.min.js" defer></script>

<link rel="stylesheet" href="css/styles.min.css">
<link rel="icon" type="image/png" href="" width=32px>
<script src="js/scripts.min.js" defer></script>