<section class="main-window">
    <div class="logotype-AZ main-window__logotype-AZ"></div>
    <picture>
        <source class="main-window__illustration" srcset="img/_src/_header/webp/illustration-for-web-max400.webp" type="image/webp" media="(max-width: 400px)">
        <source class="main-window__illustration" srcset="img/_src/_header/webp/illustration-for-web-max600.webp" type="image/webp" media="(max-width: 600px)">
        <source class="main-window__illustration" srcset="img/_src/_header/webp/illustration-for-web-max800.webp" type="image/webp" media="(max-width: 800px)">
        <source class="main-window__illustration" srcset="img/_src/_header/webp/illustration-for-web-max1000.webp" type="image/webp" media="(max-width: 1000px)">
        <source class="main-window__illustration" srcset="img/_src/_header/webp/illustration-for-web-max1200.webp" type="image/webp" media="(max-width: 1200px)">
        <source class="main-window__illustration" srcset="img/_src/_header/webp/illustration-for-web.webp" type="image/webp">
        <source class="main-window__illustration" srcset="img/_src/_header/illustration-for-web-max400.jpg" media="(max-width: 400px)">
        <source class="main-window__illustration" srcset="img/_src/_header/illustration-for-web-max600.jpg" media="(max-width: 600px)">
        <source class="main-window__illustration" srcset="img/_src/_header/illustration-for-web-max800.jpg" media="(max-width: 800px)">
        <source class="main-window__illustration" srcset="img/_src/_header/illustration-for-web-max1000.jpg" media="(max-width: 1000px)">
        <source class="main-window__illustration" srcset="img/_src/_header/illustration-for-web-max1200.jpg" media="(max-width: 1200px)">
        <img class="main-window__illustration" srcset="img/_src/_header/illustration-for-web.png" alt="illustration">
    </picture>

    <picture>
        <source class="main-window__bg_blur" srcset="img/_src/_header/webp/bg-blurmax400.webp" type="image/webp" media="(max-width: 400px)">
        <source class="main-window__bg_blur" srcset="img/_src/_header/webp/bg-blurmax600.webp" type="image/webp" media="(max-width: 600px)">
        <source class="main-window__bg_blur" srcset="img/_src/_header/webp/bg-blurmax800.webp" type="image/webp" media="(max-width: 800px)">
        <source class="main-window__bg_blur" srcset="img/_src/_header/webp/bg-blurmax1000.webp" type="image/webp" media="(max-width: 1000px)">
        <source class="main-window__bg_blur" srcset="img/_src/_header/webp/bg-blurmax1200.webp" type="image/webp" media="(max-width: 1200px)">
        <source class="main-window__bg_blur" srcset="img/_src/_header/webp/bg-blur.webp" type="image/webp">
        <source class="main-window__bg_blur" srcset="img/_src/_header/bg-blurmax400.png" media="(max-width: 400px)">
        <source class="main-window__bg_blur" srcset="img/_src/_header/bg-blurmax600.png" media="(max-width: 600px)">
        <source class="main-window__bg_blur" srcset="img/_src/_header/bg-blurmax800.png" media="(max-width: 800px)">
        <source class="main-window__bg_blur" srcset="img/_src/_header/bg-blurmax1000.png" media="(max-width: 1000px)">
        <source class="main-window__bg_blur" srcset="img/_src/_header/bg-blurmax1200.png" media="(max-width: 1200px)">
        <img class="main-window__bg_blur" src="img/_src/_header/bg-blur-compressor.jpg" alt="bg-blur">
    </picture>

    <picture>
        <source class="main-window__light_blur" srcset="img/_src/_header/webp/light-blurmax400.webp" type="image/webp"type="image/webp" media="(max-width: 400px)">
        <source class="main-window__light_blur" srcset="img/_src/_header/webp/light-blurmax600.webp" type="image/webp" media="(max-width: 600px)">
        <source class="main-window__light_blur" srcset="img/_src/_header/webp/light-blurmax800.webp" type="image/webp" media="(max-width: 800px)">
        <source class="main-window__light_blur" srcset="img/_src/_header/webp/light-blurmax1000.webp" type="image/webp" media="(max-width: 1000px)">
        <source class="main-window__light_blur" srcset="img/_src/_header/webp/light-blurmax1200.webp" type="image/webp" media="(max-width: 1200px)">
        <source class="main-window__light_blur" srcset="img/_src/_header/webp/light-blur.webp" type="image/webp">
        <source class="main-window__light_blur" srcset="img/_src/_header/light-blurmax400.png" media="(max-width: 400px)">
        <source class="main-window__light_blur" srcset="img/_src/_header/light-blurmax600.png" media="(max-width: 600px)">
        <source class="main-window__light_blur" srcset="img/_src/_header/light-blurmax800.png" media="(max-width: 800px)">
        <source class="main-window__light_blur" srcset="img/_src/_header/light-blurmax1000.png" media="(max-width: 1000px)">
        <source class="main-window__light_blur" srcset="img/_src/_header/light-blurmax1200.png" media="(max-width: 1200px)">
        <img class="main-window__light_blur" src="img/_src/_header/light-blur-compressor.png" alt="light-blur">
    </picture>

    <picture>
        <source class="main-window__glich" srcset="img/_src/_header/webp/bg-glichmax400.webp" type="image/webp" media="(max-width: 400px)">
        <source class="main-window__glich" srcset="img/_src/_header/webp/bg-glichmax600.webp" type="image/webp" media="(max-width: 600px)">
        <source class="main-window__glich" srcset="img/_src/_header/webp/bg-glichmax800.webp" type="image/webp" media="(max-width: 800px)">
        <source class="main-window__glich" srcset="img/_src/_header/webp/bg-glichmax1000.webp" type="image/webp" media="(max-width: 1000px)">
        <source class="main-window__glich" srcset="img/_src/_header/webp/bg-glichmax1200.webp" type="image/webp" media="(max-width: 1200px)">
        <source class="main-window__glich" srcset="img/_src/_header/webp/bg-glich.webp" type="image/webp">
        <source class="main-window__glich" srcset="img/_src/_header/bg-glichmax400.png" media="(max-width: 400px)">
        <source class="main-window__glich" srcset="img/_src/_header/bg-glichmax600.png" media="(max-width: 600px)">
        <source class="main-window__glich" srcset="img/_src/_header/bg-glichmax800.png" media="(max-width: 800px)">
        <source class="main-window__glich" srcset="img/_src/_header/bg-glichmax1000.png" media="(max-width: 1000px)">
        <source class="main-window__glich" srcset="img/_src/_header/bg-glichmax1200.png" media="(max-width: 1200px)">
        <img class="main-window__glich" src="img/_src/_header/bg-glich-compressor.jpg" alt="Glich">
    </picture>
</section>