<nav class="header__mobile-menu">
    <a class="header__mobile-menu-link" href="/index">Обо мне <canvas class="header__menu-item-line-v"></canvas></a>
    <a class="header__mobile-menu-link" href="/works">Мои работы <canvas class="header__menu-item-line-v"></canvas></a>
    <a class="header__mobile-menu-link" href="/contacts">Контакты <canvas class="header__menu-item-line-v"></canvas></a>
</nav>