@import cards
@import work

.works
  position: relative

.works__container
  max-width: 1440px
  margin: 0 auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start
  justify-content: center
  overflow: hidden
  padding-bottom: 120px

.works__titleH2
  flex-basis: 100%
  margin-bottom: 40px
  text-align: center

.works__card
  flex-basis: 40%
  margin-bottom: 40px
  margin-right: 40px

.developing-work__container
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 200px

.git-works
  max-width: 1400px
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 0 auto 80px

  .titleH2
    flex-basis: 100%

.works__git
  border: 1px solid #cccccc20
  padding: 20px
  border-radius: 8px
  transition: .4s ease
  &:not(:last-child)
    margin-right: 12px

  a
    display: flex
    align-items: center
    transition: .4s ease

    &:hover
      transition: .2s ease
      img
        transform: scale(1.2)
        opacity: 1


  &:hover
    border: 1px solid #0089ff
    transition: .2s ease
    box-shadow: 0 2px 4px #0089ff10, 0 2px 8px #0089ff10, 0 2px 12px #0089ff10, 0 2px 16px #0089ff10, 0 2px 20px #0089ff10

.works__git-name
  color: #cccccc
  margin-left: 16px

@media (min-width: 1px)
  .works__container
    flex-direction: column
    align-items: center
    flex-wrap: nowrap

  .works__card
    flex-basis: 80%
    width: 80%
    margin-right: 0
    margin-bottom: 60px

    &:nth-child(odd)
      margin-right: 0

    &:nth-child(3n + 1)
      margin-right: 0

@media (min-width: 650px)
  .works__card
    flex-basis: 80%
    margin-right: 0

    &:nth-child(odd)
      margin-right: 0

@media (min-width: 768px)
  .works__container
    flex-direction: row
    align-items: center
    flex-wrap: wrap

  .works__card
    flex-basis: 45%
    margin-bottom: 40px

    &:nth-child(even)
      margin-right: 40px

@media (min-width: 1050px)
  .works__card
    flex-basis: 45%
    margin-bottom: 60px

    &:nth-child(even)
      margin-right: 40px

@media (min-width: 1200px)
  .works__card
    flex-basis: 40%
    margin-right: 40px
    margin-bottom: 40px

    &:nth-child(even)
      margin-right: 40px

@media (min-width: 1400px)
  .works__card
    flex-basis: 30%
    margin-right: 40px
    margin-bottom: 40px

    &:nth-child(even)
      margin-right: 0

    &:nth-child(n)
      margin-right: 40px

    &:nth-child(3n+1)
      margin-right: 0