<form class="contacts-form form" action="">
  <p class="contacts__subtitle">Напишите мне о чем нибудь</p>
  <h2 class="contacts__titleH2 titleH2">Для отправки сообщений</h2>

  <label class="form__label">
    <input name="contacts-form__email" class="contacts-form__email form__input-text" type="e-mail">
    <span class="form__label-text form__label-text--required">Ваш E-mail:</span>
  </label>

  <label class="form__label">
    <textarea name="contacts-form__message" class="contacts-form__textarea form__textarea" name=""></textarea>
    <span class="form__label-text form__label-text--required">Сообщение:</span>
  </label>

  <div class="form__switchbox">
    <input name="contacts-form__personal-data" class="form__switchbox-input" id="checkbox" type="checkbox"/>
    <label class="form__switchbox-label" for="checkbox">
      <a class="form__switchbox-link" href="">Соглашение</a> на обработку данных с формы
    </label>
  </div>

  <button class="contacts-form__button button button--green">
    <span class="button__container">Отправить</span>
  </button>
</form>
