<div class="contacts-data">
  <p class="contacts__subtitle">Где я бываю</p>
  <h2 class="contacts__titleH2 titleH2">Контактная информация</h2>

  <h4 class="contacts__titleH4 titleH4">Социальные сети</h4>
  <div class="contacts-social">
    <a class="contacts-social__link" href="https://www.instagram.com/o_upsssss" target="_blank">
      <img class="contacts-social__icon" src="img/_src/_contacts/social/instagram.svg" alt="Instagram">
    </a>
    <a class="contacts-social__link" href="https://vk.com/azmagulov" target="_blank">
      <img class="contacts-social__icon contacts-social__icon_vkontakte" src="img/_src/_contacts/social/vk.svg" alt="Vkontakte">
    </a>
    <a class="contacts-social__link" href="tg://resolve?domain=AZmagulov">
      <img class="contacts-social__icon contacts-social__icon_telegram" src="img/_src/_contacts/social/telegram.svg" alt="Telegram">
    </a>
    <a class="contacts-social__link" href="https://www.behance.net/azmaghulovce59" target="_blank">
      <img class="contacts-social__icon contacts-social__icon_behance" src="img/_src/_contacts/social/behance.svg" alt="Behance">
    </a>
    //<a href="#git" target="_blank">
    //  <img class="contacts-social__icon contacts-social__icon_git" src="img/_src/_aboutme/_developing-tools/developing/github-logo.svg" alt="Git">
    //</a>
  </div>

  <h4 class="contacts__titleH4 titleH4">E-mail</h4>
  <div class="contacts-social">
    <a class="contacts-social__link contacts-social--icon_email-link" href="#email">
      <img class="contacts-social__icon contacts-social--icon_email" src="img/_src/_contacts/social/mail-send-1.svg" alt="email">
      <address class="contacts-social__email">azfrontendsup@gmail.com</address>
    </a>
  </div>

</div>
