<div class="popup__logotype-AZ logotype-AZ main-window__logotype-AZ"></div>
<div class="design-site__brief-container popup__container">
  <span class="popup__icon-close"><span class="icon-close"></span>Закрыть</span>
  <div class="popup__preloader"></div>

  <div class="popup__success">
      <h3>Бриф успешно отправлен!</h3>
      <span class="popup__success-icon-close popup__icon-close"><span class="icon-close"></span></span>
      <p class="popup__success-description">В течении 2-х дней, вам придет на почту: <span class="popup__success__client-email"></span> сообщение с техническим заданием.</p>
  </div>

  <div class="popup__contacts">
      <div class="popup__contacts-container">
          <h4 class="popup__titleH4 titleH4">Контакты:</h4>

          <div class="popup__contacts-social contacts-social">
              <a class="popup__contacts-social-link" href="https://www.instagram.com/o_upsssss" target="_blank">
                  <img class="contacts-social__icon" src="img/_src/_contacts/social/instagram.svg" alt="Instagram">
              </a>
              <a class="popup__contacts-social-link" href="https://vk.com/azmagulov" target="_blank">
                  <img class="contacts-social__icon contacts-social__icon_vkontakte" src="img/_src/_contacts/social/vk.svg" alt="Vkontakte">
              </a>
              <a class="popup__contacts-social-link" href="tg://resolve?domain=AZmagulov">
                  <img class="contacts-social__icon contacts-social__icon_telegram" src="img/_src/_contacts/social/telegram.svg" alt="Telegram">
              </a>
              <a class="popup__contacts-social-link contacts-social--icon_email-link" href="#email">
                  <img class="popup__contacts-social-link-email contacts-social__icon contacts-social--icon_email" src="img/_src/_contacts/social/mail-send-1.svg" alt="email">
              </a>
          </div>

          //<button class="popup__contacts-button button button--green">
          //  <span class="button__container">Написать письмо</span>
          //</button>
          //<form name="contacts-form" class="popup__contacts-form" action="/i/contacts" method="POST">
          //  <span class="contacts-form__icon-close"><span class="icon-close"></span></span>
          //  <h3 class="contacts-form__titleH3 titleH3 title--green">Для отправки сообщения</h3>
          //  <label class="form__label">
          //    <input class="contacts-form__input-text form__input-text" type="email" name="client-email">
          //    <span class="form__label-text form__label-text--required">Ваш E-mail:</span>
          //  </label>
          //
          //  <label class="popup__form-label form__label">
          //      <textarea class="popup__textarea form__textarea" name="name-company-and-description"></textarea>
          //      <span class="form__label-text form__label-text--required">Сообщение:</span>
          //      <span class="form__info">Напишите, если есть что спросить.</span>
          //  </label>
          //
          //  <button class="contacts-form__button button button--green">
          //      <span class="button__container">Отправить</span>
          //  </button>
          //</form>
      </div>
  </div>

  <h3 class="popup__titleH3 titleH3 titleH3--yellow">Бриф на разработку Дизайна сайта</h3>

  <div class="popup__content">

      <p class="popup__description">Максимально подробное заполнение брифа поможет вам подготовить задание. Если на какой-то из вопросов Вы не сможете однозначно ответить, пожалуйста, обратитесь за разъяснениями по телефону или отправьте электронное письмо по адресу, указанному в верхней части брифа.</p>
      <p class="popup__description">Направляя заполненный бриф в адрес Исполнителя, Вы подтверждаете факт ознакомления с полным перечнем услуг и сроками выполнения работ, размещенных на странице <a class="link" href="#">https://madeas.ru/pricelist</a> и непосредственно на странице конкретной услуги и загрузки брифа, а также, соглашается на оказание услуг со стороны исполнителя.</p>

      <form name="brief-design-site" class="popup__form form" action="/i/finished-design-brief" method="POST">
          <label class="popup__form-label form__label">
              <textarea required class="popup__textarea form__textarea" name="name-company-and-description"></textarea>
              <span class="form__label-text form__label-text--required">Наименование компании и описание:</span>
              <span class="form__info">Название компании для размещения в дизайне сайта. Также, здесь можно указать слоган, если он есть и другую информацию о компании.</span>
          </label>

          <label class="popup__form-label form__label">
              <textarea required class="popup__textarea form__textarea" name="field-activity"></textarea>
              <span class="form__label-text form__label-text--required">Сфера деятельности:</span>
              <span class="form__info">Описание сферы деятельности вашей компании поможет четче понять стилистику будущего сайта.</span>
          </label>

          <label class="popup__form-label form__label">
              <textarea required class="popup__textarea--small form__textarea" name="brand-style-logotype"></textarea>
              <span class="form__label-text form__label-text--required">Фирменный стиль, логотип:</span>
              <span class="form__info">Перечислите ключевые цвета (2-3), в которых должен быть выполнен дизайн. Имеется ли разработанный логотип, фирменный стиль, брендбук компании? Если имеется, приложите соответствующие файлы с комментариями к заполненному брифу.<br/>Максимальный размер файла <b>2Мб</b>, Максиму <b>3</b> изображения!</span>

              <label class="popup__form-label-file form__file">
                  <input class="form__file-input" type="file" name="client-logotype" data-multiple-caption="{count} files selected" multiple accept=".png, .jpeg">
                  <span class="form__file-input-label">Выбрать файл...</span>
              </label>
          </label>

          <label class="form__label">
              <input class="form__input-text" type="text" name="old-site">
              <span class="form__label-text">Существующая версия сайта (если нет пропустить):</span>
          </label>

          <div class="form__item-list">
              <span class="form__label-text form__label-text--required">Каковы причины и цели создания нового сайта?</span>
              <span class="form__info">Расставить по уровню приоритета.</span>

              <div class="form__checkbox-list">
                  <h4 class="form__checkbox-list-titleH4 titleH4">Рекламные:</h4>
                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input class="form__checkbox-input" id="promo-1" name="promo-1" type="checkbox" value="promo-1"/>
                          <label class="form__checkbox-label" for="promo-1">Привлечение новых пользователей</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input class="form__checkbox-input" id="promo-2" name="promo-2" type="checkbox" value="promo-2"/>
                          <label class="form__checkbox-label" for="promo-2">Улучшение имиджа компании/частного лица(если сайт-визитка)</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input class="form__checkbox-input" id="promo-3" name="promo-3" type="checkbox" value="promo-3"/>
                          <label class="form__checkbox-label" for="promo-3">Улучшение узнаваемости торговой марки</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input class="form__checkbox-input" id="promo-4" name="promo-4" type="checkbox" value="promo-4"/>
                          <label class="form__checkbox-label" for="promo-4">Использование сайта в качестве вспомогательного инструмента при проведении общей рекламной кампании</label>
                      </div>
                  </div>
              </div>

              <div class="form__checkbox-list">
                  <h4 class="form__checkbox-list-titleH4 titleH4">Маркетинговые:</h4>
                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="marketing-1" class="form__checkbox-input" id="marketing-1" type="checkbox" value="marketing-1"/>
                          <label class="form__checkbox-label" for="marketing-1">Изучение интересов посетителей сайта</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="marketing-2" class="form__checkbox-input" id="marketing-2" type="checkbox" value="marketing-2"/>
                          <label class="form__checkbox-label" for="marketing-2">Изучение спроса на продукцию</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="marketing-3" class="form__checkbox-input" id="marketing-3" type="checkbox" value="marketing-3"/>
                          <label class="form__checkbox-label" for="marketing-3">Улучшения качества обслуживания</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="marketing-4" class="form__checkbox-input" id="marketing-4" type="checkbox" value="marketing-4"/>
                          <label class="form__checkbox-label" for="marketing-4">Организация сбыта продукции (интернет-магазин)</label>
                      </div>
                  </div>
              </div>

              <div class="form__checkbox-list">
                  <h4 class="form__checkbox-list-titleH4 titleH4">Информационные:</h4>
                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="info-1" class="form__checkbox-input" id="info-1" type="checkbox" value="info-1"/>
                          <label class="form__checkbox-label" for="info-1">Информирование о компании (заявление о себе)</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="info-2" class="form__checkbox-input" id="info-2" type="checkbox" value="info-2"/>
                          <label class="form__checkbox-label" for="info-2">Информирование о товарах/услугах</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="info-3" class="form__checkbox-input" id="info-3" type="checkbox" value="info-3"/>
                          <label class="form__checkbox-label" for="info-3">Интерактивная информация (вопрос-ответ, форум)</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="info-4" class="form__checkbox-input" id="info-4" type="checkbox" value="info-4"/>
                          <label class="form__checkbox-label" for="info-4">Мотивирующая информация (специальные предложения)</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="info-5" class="form__checkbox-input" id="info-5" type="checkbox" value="info-5"/>
                          <label class="form__checkbox-label" for="info-5">Оперативная информация (новости или другие постоянно обновляющиеся разделы)</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="info-6" class="form__checkbox-input" id="info-6" type="checkbox" value="info-6"/>
                          <label class="form__checkbox-label" for="info-6">Справочная информация (документы, справочники, базы данных)</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="info-7" class="form__checkbox-input" id="info-7" type="checkbox" value="info-7"/>
                          <label class="form__checkbox-label" for="info-7">Развлекательная информация</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="info-8" class="form__checkbox-input" id="info-8" type="checkbox" value="info-8"/>
                          <label class="form__checkbox-label" for="info-8">Познавательная и обучающая информация</label>
                      </div>
                  </div>
              </div>

              <div class="form__checkbox-list">
                  <h4 class="form__checkbox-list-titleH4 titleH4">Другие:</h4>
                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="other-1" class="form__checkbox-input" id="other-1" type="checkbox" value="other-1"/>
                          <label class="form__checkbox-label" for="other-1">Оптимизация документооборота внутри компании</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="other-2" class="form__checkbox-input" id="other-2" type="checkbox" value="other-2"/>
                          <label class="form__checkbox-label" for="other-2">Организация сообщества</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="other-3" class="form__checkbox-input" id="other-3" type="checkbox" value="other-3"/>
                          <label class="form__checkbox-label" for="other-3">Получение прибыли от продажи рекламы на сайте</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--checked-textarea form__checkbox--drag-drop form__checkbox--list-item">
                      <div class="form__checkbox-container">
                          <input name="other-4" class="form__checkbox-input" id="other-other" type="checkbox"/>
                          <label class="form__checkbox-label form__label" for="other-other">Другие (какие именно?)
                              <textarea required id="other-other-textarea" class="popup__textarea--small form__textarea form__textarea--checkbox-checked" name="other-4-textarea"></textarea>
                          </label>
                      </div>
                  </div>
              </div>


          </div>

          <label class="popup__form-label form__label">
              <textarea class="popup__textarea--small form__textarea" name="words-characterizing-aesthetics"></textarea>
              <span class="form__label-text">Слова, наиболее полно характеризующие эстетику будущего вашего сайта:</span>
              <span class="form__info">Например: строгий, агрессивный, академичный, молодежный, креатив, последние тенденции, индивидуальность, хай-тек, и т.д.</span>
          </label>

          <label class="popup__form-label form__label">
              <textarea class="popup__textarea--small form__textarea" name="sites-competitors"></textarea>
              <span class="form__label-text">Сайты конкурентов:</span>
              <span class="form__info">Укажите 3-5 адресов, на ваше усмотрение. Это поможет лучше ориентироваться в целевой категории сайтов.</span>
          </label>

          <label class="popup__form-label form__label">
              <textarea required class="popup__textarea--small form__textarea" name="sites-successful-design-decision"></textarea>
              <span class="form__label-text form__label-text--required">Сайты, отвечающие вашим представлениям об удачном дизайнерском решении:</span>
              <span class="form__info">Что именно понравилось, (вы хотели бы видеть на вашем сайте) – каталог, меню, анимация, шрифты, цвета и т.д.</span>
          </label>

          <div class="form__item-list">
              <span class="form__label-text form__label-text--required">Как можно назвать тип создаваемого сайта?</span>

              <div class="form__radio-list">
                  <div class="form__radio">
                      <div class="form__radio-container">
                          <input name="type-site" class="form__radio-input" id="radio-type-site1" type="radio" value="personal"/>
                          <label class="form__radio-label" for="radio-type-site1">Персональный сайт</label>
                      </div>
                  </div>

                  <div class="form__radio">
                      <div class="form__radio-container">
                          <input name="type-site" class="form__radio-input" id="radio-type-site2" type="radio" value="site-business-card"/>
                          <label class="form__radio-label" for="radio-type-site2">Сайт-визитка</label>
                      </div>
                  </div>

                  <div class="form__radio">
                      <div class="form__radio-container">
                          <input name="type-site" class="form__radio-input" id="radio-type-site3" type="radio" value="landing-page"/>
                          <label class="form__radio-label" for="radio-type-site3">Landing page</label>
                      </div>
                  </div>

                  <div class="form__radio">
                      <div class="form__radio-container">
                          <input name="type-site" class="form__radio-input" id="radio-type-site4" type="radio" value="site-catalog"/>
                          <label class="form__radio-label" for="radio-type-site4">Сайт-каталог</label>
                      </div>
                  </div>

                  <div class="form__radio">
                      <div class="form__radio-container">
                          <input name="type-site" class="form__radio-input" id="radio-type-site5" type="radio" value="corporate-site"/>
                          <label class="form__radio-label" for="radio-type-site5">Корпоративный сайт</label>
                      </div>
                  </div>

                  <div class="form__radio">
                      <div class="form__radio-container">
                          <input name="type-site" class="form__radio-input" id="radio-type-site6" type="radio" value="information-site"/>
                          <label class="form__radio-label" for="radio-type-site6">Информационный сайт-портал</label>
                      </div>
                  </div>

                  <div class="form__radio">
                      <div class="form__radio-container">
                          <input name="type-site" class="form__radio-input" id="radio-type-site7" type="radio" value="shop"/>
                          <label class="form__radio-label" for="radio-type-site7">Интернет-магазин</label>
                      </div>
                  </div>

                  <div class="form__radio form__radio--checked-textarea">
                      <div class="form__radio-container">
                          <input name="type-site" class="form__radio-input" id="radio-type-site8" type="radio" value="other-type-site"/>
                          <label class="form__radio-label form__label" for="radio-type-site8">Другой (какой именно?)
                              <textarea required id="other-type-site8" class="popup__textarea--small form__textarea form__textarea--radio-checked" name="other-type-site-textarea"></textarea>
                          </label>
                      </div>
                  </div>

              </div>
          </div>

          <div class="form__item-list">
              <span class="form__label-text">Необходимые разделы информации:</span>

              <div class="form__checkbox-list">
                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-1" class="form__checkbox-input" id="required-info-section-1" type="checkbox" value="required-info-section-1"/>
                          <label class="form__checkbox-label" for="required-info-section-1">Новости</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-2" class="form__checkbox-input" id="required-info-section-2" type="checkbox" value="required-info-section-2"/>
                          <label class="form__checkbox-label" for="required-info-section-2">Анонсы</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-3" class="form__checkbox-input" id="required-info-section-3" type="checkbox" value="required-info-section-3"/>
                          <label class="form__checkbox-label" for="required-info-section-3">Календарь событий</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-4" class="form__checkbox-input" id="required-info-section-4" type="checkbox" value="required-info-section-4"/>
                          <label class="form__checkbox-label" for="required-info-section-4">Акции и специальные предложения</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-5" class="form__checkbox-input" id="required-info-section-5" type="checkbox" value="required-info-section-5"/>
                          <label class="form__checkbox-label" for="required-info-section-5">Личный кабинет</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-6" class="form__checkbox-input" id="required-info-section-6" type="checkbox" value="required-info-section-6"/>
                          <label class="form__checkbox-label" for="required-info-section-6">Достижения, награды</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-7" class="form__checkbox-input" id="required-info-section-7" type="checkbox" value="required-info-section-7"/>
                          <label class="form__checkbox-label" for="required-info-section-7">Сертификаты</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-8" class="form__checkbox-input" id="required-info-section-8" type="checkbox" value="required-info-section-8"/>
                          <label class="form__checkbox-label" for="required-info-section-8">Список клиентов</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-9" class="form__checkbox-input" id="required-info-section-9" type="checkbox" value="required-info-section-9"/>
                          <label class="form__checkbox-label" for="required-info-section-9">Партнеры</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-10" class="form__checkbox-input" id="required-info-section-10" type="checkbox" value="required-info-section-10"/>
                          <label class="form__checkbox-label" for="required-info-section-10">Список магазинов, филиалов, дилеров</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-11" class="form__checkbox-input" id="required-info-section-11" type="checkbox" value="required-info-section-11"/>
                          <label class="form__checkbox-label" for="required-info-section-11">Документы и раскрытие информации</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-12" class="form__checkbox-input" id="required-info-section-12" type="checkbox" value="required-info-section-12"/>
                          <label class="form__checkbox-label" for="required-info-section-12">Вакансии</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-13" class="form__checkbox-input" id="required-info-section-13" type="checkbox" value="required-info-section-13"/>
                          <label class="form__checkbox-label" for="required-info-section-13">Фотогалерея</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-14" class="form__checkbox-input" id="required-info-section-14" type="checkbox" value="required-info-section-14"/>
                          <label class="form__checkbox-label" for="required-info-section-14">Прайс-лист</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-15" class="form__checkbox-input" id="required-info-section-15" type="checkbox" value="required-info-section-15"/>
                          <label class="form__checkbox-label" for="required-info-section-15">Статьи</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-16" class="form__checkbox-input" id="required-info-section-16" type="checkbox" value="required-info-section-16"/>
                          <label class="form__checkbox-label" for="required-info-section-16">Карта сайта</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-17" class="form__checkbox-input" id="required-info-section-17" type="checkbox" value="required-info-section-17"/>
                          <label class="form__checkbox-label" for="required-info-section-17">Облако тегов</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--checked-textarea">
                      <div class="form__checkbox-container">
                          <input name="required-info-section-other" class="form__checkbox-input" id="required-info-section-other" type="checkbox" value="required-info-section-other"/>
                          <label class="form__checkbox-label form__label" for="required-info-section-other">Другой (какой именно?)
                              <textarea required id="required-info-section-other-textarea" class="popup__textarea--small form__textarea form__textarea--checkbox-checked" name="required-info-section-other-textarea"></textarea>
                          </label>
                      </div>
                  </div>
              </div>

          </div>

          <div class="form__item-list">
              <span class="form__label-text form__label-text--required">Сервисы коммуникации с посетителями:</span>

              <div class="form__checkbox-list">
                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="communication-services-1" class="form__checkbox-input" id="communication-services-1" type="checkbox"value="communication-services-1"/>
                          <label class="form__checkbox-label" for="communication-services-1">Форма обратной связи</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="communication-services-2" class="form__checkbox-input" id="communication-services-2" type="checkbox" value="communication-services-2"/>
                          <label class="form__checkbox-label" for="communication-services-2">Вопрос-Ответ</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="communication-services-3" class="form__checkbox-input" id="communication-services-3" type="checkbox"value="communication-services-3"/>
                          <label class="form__checkbox-label" for="communication-services-3">Голосования и опросы</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="communication-services-4" class="form__checkbox-input" id="communication-services-4" type="checkbox" value="communication-services-4"/>
                          <label class="form__checkbox-label" for="communication-services-4">Форум</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="communication-services-5" class="form__checkbox-input" id="communication-services-5" type="checkbox" value="communication-services-5"/>
                          <label class="form__checkbox-label" for="communication-services-5">Система отзывов</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="communication-services-6" class="form__checkbox-input" id="communication-services-6" type="checkbox" value="communication-services-6"/>
                          <label class="form__checkbox-label" for="communication-services-6">Система комментирования материалов</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="communication-services-7" class="form__checkbox-input" id="communication-services-7" type="checkbox" value="communication-services-7"/>
                          <label class="form__checkbox-label" for="communication-services-7">Онлайн-консультант</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="communication-services-8" class="form__checkbox-input" id="communication-services-8" type="checkbox" value="communication-services-8"/>
                          <label class="form__checkbox-label" for="communication-services-8">Подписки и рассылки</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="communication-services-9" class="form__checkbox-input" id="communication-services-9" type="checkbox" value="communication-services-9"/>
                          <label class="form__checkbox-label" for="communication-services-9">Регистрация посетителей</label>
                      </div>
                  </div>
              </div>

          </div>

          <label class="popup__form-label form__label">
              <textarea required class="popup__textarea--small form__textarea" name="blocks-main-page"></textarea>
              <span class="form__label-text">Информационные блоки ГЛАВНОЙ страницы:</span>
              <span class="form__info">Опишите, а лучше начертите (в любой программе или на бумаге) информационные блоки, которые должны присутствовать на главной странице.<br>Например: (меню, каталог, авторизация, новости, спец. предложения, анонсы, о компании, фотогалерея и т.п.).</span>

              <label class="popup__form-label-file form__file">
                  <input class="form__file-input" type="file" name="blocks-main-page-files" data-multiple-caption="{count} files selected" multiple>
                  <span class="form__file-input-label">Выбрать файл...</span>
              </label>
          </label>

          <div class="form__item-list">
              <span class="form__label-text form__label-text--required">Языковые версии сайта:</span>

              <div class="form__checkbox-list">
                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="lang-site-1" class="form__checkbox-input" id="lang-site-1" type="checkbox" value="lang-site-1"/>
                          <label class="form__checkbox-label" for="lang-site-1">Русская</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="lang-site-2" class="form__checkbox-input" id="lang-site-2" type="checkbox" value="lang-site-2"/>
                          <label class="form__checkbox-label" for="lang-site-2">Английская</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--checked-textarea">
                      <div class="form__checkbox-container">
                          <input name="lang-site-other" class="form__checkbox-input" value="lang-site-other" id="other-lang-site" type="checkbox"/>
                          <label class="form__checkbox-label form__label" for="other-lang-site">Другая (какая именно?)
                              <textarea required id="other-lang-site" class="popup__textarea--small form__textarea form__textarea--checkbox-checked" name="lang-site-other-textarea"></textarea>
                          </label>
                      </div>
                  </div>
              </div>
          </div>

          <div class="form__item-list">
              <span class="form__label-text form__label-text--required">Для каких устройств нужно создавать сайт?:</span>

              <div class="form__checkbox-list">
                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="devices-site-1" class="form__checkbox-input" id="devices-site-1" type="checkbox"value="devices-site-1"/>
                          <label class="form__checkbox-label" for="devices-site-1">Настольные компьютеры</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="devices-site-2" class="form__checkbox-input" id="devices-site-2" type="checkbox" value="devices-site-2"/>
                          <label class="form__checkbox-label" for="devices-site-2">Ноутбуки</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="devices-site-3" class="form__checkbox-input" id="devices-site-3" type="checkbox" value="devices-site-3"/>
                          <label class="form__checkbox-label" for="devices-site-3">Планшеты</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="devices-site-4" class="form__checkbox-input" id="devices-site-4" type="checkbox" value="devices-site-4"/>
                          <label class="form__checkbox-label" for="devices-site-4">Смартфоны</label>
                      </div>
                  </div>
              </div>
          </div>

          <label class="popup__form-label form__label">
              <textarea class="popup__textarea--small form__textarea" name="banners"></textarea>
              <span class="form__label-text">Наличие баннеров:</span>
              <span class="form__info">Предполагаете ли Вы использовать на сайте баннерную рекламу? <br> Если да, то, какого формата? Какого размера, и в каком количестве?</span>

              <label class="popup__form-label-file form__file">
                  <input class="form__file-input" type="file" name="banners-files" data-multiple-caption="{count} files selected" multiple>
                  <span class="form__file-input-label">Выбрать файл...</span>
              </label>
          </label>

          <label class="popup__form-label form__label">
              <input required class="form__input-text form__input-text--info" type="text" name="count-site-pages">
              <span class="form__label-text form__label-text--required">Сколько страниц требуется нарисовать?</span>
              <span class="form__info">В основном для создания сайта достаточно нарисовать одну главную страницу. В последующих страничках меняется внутренний текст или содержание, но если другие странички будут сильно отличаться от главной построением блоков или дизайном, то нужно их рисовать тоже.</span>
          </label>

          <label class="form__label">
              <textarea required class="popup__textarea--small form__textarea" name="client-visitors-description"></textarea>
              <span class="form__label-text form__label-text--required">Опишите ваших наиболее вероятных посетителей:</span>
          </label>

          <label class="popup__form-label form__label">
              <textarea required class="popup__textarea--small form__textarea" name="visitors-site-impression"></textarea>
              <span class="form__label-text form__label-text--required">При посещении вашего сайта пользователь должен:</span>
              <span class="form__info">Например, почувствовать: «доверие», «запах только что собранной земляники в свою корзинку», «ужас».</span>
          </label>

          <div class="form__item-list">
              <span class="form__label-text form__label-text--required">Существует ли информация в электронном виде, которая может быть использована при наполнении сайта?</span>
              <span class="form__info">Выберите то, что у вас есть.</span>

              <div class="form__checkbox-list">
                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="info-for-site-1" class="form__checkbox-input" id="info-for-site-1" type="checkbox" value="info-for-site-1"/>
                          <label class="form__checkbox-label" for="info-for-site-1">Каталоги продукции</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="info-for-site-2" class="form__checkbox-input" id="info-for-site-2" type="checkbox" value="info-for-site-2"/>
                          <label class="form__checkbox-label" for="info-for-site-2">Тексты и статьи о компании</label>
                      </div>
                  </div>

                  <div class="form__checkbox">
                      <div class="form__checkbox-container">
                          <input name="info-for-site-3" class="form__checkbox-input" id="info-for-site-3" type="checkbox"value="info-for-site-3"/>
                          <label class="form__checkbox-label" for="info-for-site-3">Фотографии персонала, офиса, продукции</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--checked-textarea">
                      <div class="form__checkbox-container">
                          <input name="info-for-site-other" class="form__checkbox-input" id="info-for-site-other" type="checkbox" value="info-for-site-other"/>
                          <label class="form__checkbox-label form__label" for="info-for-site-other">Другая (какая именно?)
                              <textarea required id="info-for-site-other" class="popup__textarea--small form__textarea form__textarea--checkbox-checked" name="info-for-site-other-textarea"></textarea>
                          </label>
                      </div>
                  </div>
              </div>
          </div>

          <label class="popup__form-label form__label">
              <textarea required class="popup__textarea form__textarea" name="client-wishes-design-site"></textarea>
              <span class="form__label-text form__label-text--required">Ваши комментарии и пожелания к дизайну сайта:</span>
              <span class="form__info">В свободной форме опишите возможные нюансы проекта, важные замечания и т.п.</span>
          </label>

          <label class="popup__form-label form__label">
              <textarea required class="popup__textarea form__textarea" name="contraindications-design-site"></textarea>
              <span class="form__label-text form__label-text--required">Противопоказания:</span>
              <span class="form__info">В свободной форме опишите, каким дизайн сайта не должен быть.</span>
          </label>

          <div class="form__item-list">
              <span class="form__label-text">Какие дополнительные услуги Вы хотели бы получить:</span>

              <div class="form__checkbox-list form__checkbox-list--tag-type">
                  <div class="form__checkbox form__checkbox--tag-type">
                      <div class="form__checkbox-container">
                          <input name="create-illustration" class="form__checkbox-input" id="create-illustration" type="checkbox"/>
                          <label class="form__checkbox-label" for="create-illustration">Создание иллюстраций</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--tag-type">
                      <div class="form__checkbox-container">
                          <input name="design-site" class="form__checkbox-input" id="design-site" type="checkbox"/>
                          <label class="form__checkbox-label" for="design-site">Верстка сайта</label>
                      </div>
                  </div>

                  <div class="form__checkbox form__checkbox--checked-textarea form__checkbox--tag-type">
                      <div class="form__checkbox-container">
                          <input name="other-services" class="form__checkbox-input" id="other-services" type="checkbox"/>
                          <label class="form__checkbox-label form__label" for="other-services">Другая (какая именно?)
                              <textarea id="other-services" class="popup__textarea--small form__textarea form__textarea--checkbox-checked" name="other-services-textarea"></textarea>
                          </label>
                      </div>
                  </div>
              </div>
          </div>
          
          <label class="popup__form-label form__label">
              <input required class="form__input-text form__input-text--info" type="email" name="client-email">
              <span class="form__label-text form__label-text--required">Ваш E-mail</span>
          </label>

          <div class="form__guarantee">Исполнитель гарантирует полную конфиденциальность представленной Вами информации.</div>

          <div class="form__switchbox">
              <input required class="form__switchbox-input" id="checkbox" type="checkbox" value="client-data-for-form"/>
              <label class="form__switchbox-label" for="checkbox">
                  <a class="form__switchbox-link" href="">Соглашение</a> на обработку данных с формы
              </label>
          </div>

          <button type="button" class="design-site__form-button button button--green">
              <span class="button__container">Заказать сайт</span>
          </button>
      </form>
  </div>
</div>
