@import accordion
@import slider
@import popup

.aboutme
  position: relative

.developing__button
  order: 1
  margin-top: 40px

.aboutme__container
  display: flex
  padding: 40px 0 100px
  justify-content: center
  align-items: flex-start

.aboutme__left-block
  flex-basis: 40%
  max-width: 600px
  margin-right: 64px

.aboutme__left-block-accordion
  margin-left: -16px

.aboutme__right-block
  flex-basis: 40%
  max-width: 640px

.aboutme__right-block-container
  display: flex
  flex-direction: column

.aboutme__works
  margin-top: 0

.hello-text
  font-size: 24px
  font-weight: 200
  line-height: 36px
  color: #cccccc

.hello-text__frontend
  color: #d2d2d2
  margin-right: 8px

.developing__content
  display: flex
  align-items: flex-start

.developing__image-container
  flex-basis: 60%
  display: flex
  flex-direction: column

.developing__image
  width: 250px

.developing__button
  max-width: 200px
  margin: 40px 0
  z-index: 10
  order: 1

.developing__description-container
  border-radius: 8px
  padding: 12px 16px
  min-width: 260px
  max-width: 320px
  flex-basis: 320px
  overflow: hidden
  transition: .2s

  &:hover
    transition: .2s

.works__container
  padding-bottom: 16px

.tools__container
  display: flex
  flex-wrap: wrap
  width: 95%

.tools__images-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.tools__image-item
  margin: 12px
  cursor: pointer
  width: 40px
  height: 100%
  position: relative

  &:hover
    .icon-info
      opacity: 1
      width: 8px
      height: 8px
      transform: rotateZ(360deg)
      transition: .2s ease-in

    .tools__link
      transform: translateY(6px) scale(1.5)
      z-index: 12
      transform-origin: right bottom
      right: -10px
      transition: .15s ease-in

    .tools__link-icon
      transform: translateY(6px) scale(1.5)
      transition: .15s ease

    .tools__image-description
      transform: scale(1)
      transition: .1s

.tools__image
  height: 40px
  max-width: 80px
  margin: 0 auto
  padding: 4px
  display: block
  flex-basis: 60px
  border-radius: 2px

.icon-info
  width: 10px
  height: 10px
  border: 0.5px solid #fff
  border-radius: 100%
  display: block
  position: absolute
  right: -15px
  top: -8px
  background: url("../../img/_src/info.svg") no-repeat
  background-size: 100%
  background-position: center
  opacity: .3
  transition: .15s
  z-index: 11

.tools__link-icon
  width: 10px
  height: 10px
  display: block
  background: url("../../img/_src/link.svg") no-repeat
  background-size: 100%
  background-position: center
  opacity: .6
  transition: .15s
  z-index: 11

  &:hover
    opacity: 1 !important

.tools__link
  width: 10px
  height: 10px
  position: absolute
  right: -14px
  top: 10px

.icon-git
  cursor: pointer
  opacity: .5
  transition: .3s

  &:hover
    opacity: 1

.icon-npm
  width: 52px

.icon-gulp
  width: 52px

.icon-sass
  height: 52px

.tools__image-description
  display: block
  height: 64px
  width: 72px
  padding: 4px 8px
  overflow: hidden
  position: absolute
  right: -20px
  top: -14px
  background: #0f0f0f
  border-radius: 6px
  z-index: 10
  box-shadow: 0 0 4px #ffffff10
  transition: .25s ease-in
  transform-origin: right top
  transform: scale(0)

.titleH5
  color: $color-subtitle
  font-weight: 600
  margin-bottom: 0
  margin-top: 0
  font-size: 12px
  @include text-crop

.tools__image-description-percent
  margin: 0
  padding: 0
  margin-top: -4px
  font-size: 14px
  line-height: 14px
  font-weight: 800
  color: #ffffff90
  @include text-crop

.tools__image-description-indicator
  width: 44px
  margin: 0
  margin-top: -14px

.aboutme__right-block-titleH2
  margin: 0 !important

.design-site
  .developing__titleH3
    &:before
      background: #fff463

  .developing__description-container
    box-shadow: 0 0 2px #FFBC0080, 0 0 10px #ffbc0040, 0 0 20px #ffbc0010

  .developing__image
    margin-left: -30px
    margin-top: -32px

    .clip
      animation: slide 30s ease-in-out infinite

    .lineX
      stroke-dasharray: 0px 180px
      animation: dashray 20s ease-in-out infinite
      stroke: #ffffff25

    .lineY
      stroke-dasharray: 0px 180px
      animation: dashray 20s ease-in-out infinite
      animation-delay: 5s
      stroke: #ffffff25

.developing-site
  .developing__titleH3
    &:before
      background: #7197ff

  .developing__description-container
    box-shadow: 0 0 2px #2b45ff, 0 0 10px #1000ff40, 0 0 20px #0400ff10

  .tools__image-item
    &:last-child
      order: -1

  .developing__image
    margin-left: -30px
    margin-top: -48px

    .site-border
      animation: dashray2 20s ease-in-out infinite
      stroke: #ffffff25
      stroke-dasharray: 0 100px

    .header
      transform-origin: 50% 50%
      animation: scaleHeader 15s ease-in-out infinite

    .main-left
      transform-origin: 50% 50%
      animation: blocksDown 15s ease-in-out infinite

    .main-right
      transform-origin: 50% 50%
      animation: blocksRight 15s ease-in-out infinite

    .block3
      transform-origin: 50% 50%
      animation: blocksLeft 15s ease-in-out infinite

    .bottom_block
      transform-origin: 50% 50%
      animation: blocksUp 15s ease-in-out infinite

    .small-elements-type1
      animation: scaleSmallElements 30s ease-in-out infinite
      transform-origin: 50% 50%

    .small-elements-type2
      transform-origin: 50% 50%

    .small-elements-type2
      animation: scaleSmallElements2 30s ease-in-out infinite

@media (min-width: 1px)
  .aboutme__titleH4
    text-align: left

  .aboutme__left-block-accordion
    padding: 0

  .accordion__title
    &:before
      width: 16px
      height: 16px
      left: 32px

    &:after
      right: 8px

  .accordion__item
    padding-right: 24px
    padding-left: 64px

  .aboutme__right-block-titleH2
    margin: 80px 0 20px !important
    text-align: center

  .slider__dot-navigation
    right: -28px

  .aboutme__container
    flex-direction: column
    align-items: center
    align-content: center

  .aboutme__left-block
    max-width: 300px
    flex-basis: 90%
    margin: 0

  .hello-text
    font-size: 22px
    padding: 0 12px
    line-height: 32px

  .aboutme__right-block
    flex-basis: 100%
    max-width: 300px

  .developing__titleH3
    position: relative
    &:before
      content: ''
      width: 4px
      height: 4px
      border-radius: 20px
      background: #ffffff
      position: absolute
      top: -20px
      left: 0
      right: 0
      margin: auto
      opacity: .3

  .developing__image-container
    flex-basis: 100%
    margin: 0 auto

  .developing__content
    margin-bottom: 40px
    flex-direction: column

  .developing__button
    margin: 20px auto 20px

  .design-site
    .developing__image
      margin-left: -8px

  .developing-site
    .developing__image
      margin-left: 0px


@media (min-width: 768px)
  .aboutme__left-block-accordion
    padding: 0

  .accordion__title
    &:before
      width: 20px
      height: 20px
      left: -16px

  .accordion__item
    padding-right: 56px
    padding-left: 20px

  .aboutme__right-block-titleH2
    margin: 0 0 20px !important
    text-align: left

  .hello-text
    padding: 0
    line-height: 36px

  .slider__dot-navigation
    right: -4px

  .aboutme__container
    flex-direction: column
    align-items: center

  .aboutme__left-block
    max-width: 80%
    flex-basis: 100%
    margin-right: 0
    margin-bottom: 80px

  .aboutme__right-block
    flex-basis: 50%
    max-width: 600px

  .developing__titleH3
    position: relative
    &:before
      content: ''
      width: 0
      height: 0

  .developing__content
    margin-bottom: 0
    flex-direction: row
    justify-content: space-between

  .developing__image-container
    flex-basis: 40%
    margin: 0

  .developing__description
    flex-basis: 50%

  .developing__button
    max-width: 200px
    margin: 40px 0
    z-index: 10
    order: 1

  .design-site
    .developing__image
      margin-left: -40px
      margin-top: -40px

  .developing-site
    .developing__image
      margin-left: -30px
      margin-top: -48px


@media (min-width: 900px)
  .aboutme__container
    flex-direction: row
    align-items: flex-start

  .aboutme__left-block
    max-width: 300px
    flex-basis: 30%
    margin-right: 10%
    position: relative
    top: -390px

    .aboutme__left-block--social
      justify-content: flex-start
      margin-bottom: 40px

  .aboutme__right-block
    flex-basis: 50%
    max-width: 600px

@media (min-width: 1000px)
  .hello-text
    font-size: 24px