.accordion
  color: #adadad
  list-style: none
  padding: 0

.accordion__item
  margin-bottom: 20px
  position: relative
  line-height: 26px
  font-size: 18px
  font-weight: 300
  padding-right: 56px
  padding-left: 16px

  &:first-child
    margin-top: 40px

  &:hover
    cursor: pointer
    transition: .2s
    color: #f7f7f7
    display: block

    .accordion__title
      &:after
        opacity: 1
        transform: scale(1) translateX(12px)
        transition: .3s

      &:before
        transition: .1.5s
  
  &:focus
    outline: none

.accordion__title
  display: block
  transition: .4s
  font-weight: 400

  &:before
    content: ''
    width: 20px
    height: 20px
    background-color: #5b5b5b
    background: url('../img/_src/icons/tick.svg') no-repeat
    background-position: center center
    background-size: 100%
    display: block
    font-size: 18px
    position: absolute
    top: 0
    bottom: 0
    left: -16px
    margin: auto
    opacity: .5
    transition: .15s
    border-radius: 50%
    box-shadow: 0 0 2px #9aff9f80, 0 0 4px #9aff9f60, 0 0 10px #9aff9f40, 0 0 20px #9aff9f20

  &:after
    content: '+'
    font-size: 18px
    position: absolute
    top: 0
    right: 0
    display: block
    opacity: .5
    transition: .15s

.accordion__description
  padding-left: 16px
  padding-bottom: 60px
  display: block
  font-size: 18px
  font-weight: 300
  transform-origin: top
  transform: translateY(-100px) scale(.7)
  color: #6b6b6b
  height: 0
  opacity: 0
  visibility: hidden
  transition: .6s
  position: absolute

.accordion__item--active
  transition: .15s
  

.accordion__description--show
  height: 100%
  transform: translateY(0)
  position: relative
  opacity: 1
  visibility: visible
  transition: .8s

@media (min-width: 0px)
  .accordion__description
    padding-left: 28px

@media (min-width: 768px)
  .accordion__description
    padding-left: 20px