.popup
  position: absolute
  right: -100%
  top: 0
  bottom: 0
  width: 60%
  max-width: 800px	
  min-width: 800px
  background: #0d0d0d
  z-index: 20
  border-radius: 8px
  padding: 12px 48px 60px 32px
  box-shadow: 0 150px 1000px 200px #030303, 0 200px 1000px 150px #03030370, 0 250px 1000px 300px #03030380, 0 200px 1000px 100px #03030390, 0 200px 1000px 400px #03030340, 0 200px 1000px 500px #03030370, 0 200px 1000px 500px #03030370
  overflow-y: scroll
  overflow-x: hidden
  opacity: 0
  visibility: hidden
  transform: translateX(200px)
  transition: .4s

.popup__container
  display: flex
  flex-direction: column
  position: relative
  padding-bottom: 80px

.popup__description
  color: #404040
  text-indent: 24px

.popup__contacts-container
  display: flex
  justify-content: flex-start
  align-items: center
  margin-bottom: 40px
  margin-top: 20px

.popup__titleH3
  font-size: 32px
  line-height: 40px

.popup__titleH4
  padding-left: 0
  margin: 0
  display: inline-flex
  flex-basis: 92px

.popup__contacts-social
  margin-bottom: 0
  flex-basis: 25%
  justify-content: flex-start

.popup__contacts-social-link
  &:not(:last-child)
    margin-right: 20px

.popup__contacts-social-link-email
  width: 28px
  height: 28px

.popup__contacts-button
  flex-basis: 35%
  width: 35%

.popup__icon-close
  position: absolute
  right: 60px
  top: 42px
  cursor: pointer
  opacity: .6
  transition: .2s
  color: #c46c68
  font-weight: 200

  &:hover
    opacity: 1
    transform-origin: center
    transform: scale(1.1)

  .icon-close
    margin-top: 4px
    margin-right: 4px
    width: 16px
    float: left

.popup__form
  margin-top: 40px
  max-width: 100%

.popup__form-label
  margin-bottom: 40px

.popup__form-label-file
  margin-top: 8px

.popup__textarea
  height: 100px
  min-height: 100px
  max-height: 200px
  margin-bottom: 6px

.popup__textarea--small
  height: 60px
  min-height: 60px
  max-height: 100px
  margin-bottom: 12px

.popup__input-text
  margin-bottom: 6px

.form__checkbox-label
  .popup__textarea--small
    margin-bottom: 0

.popup--show
  right: 20px
  opacity: 1
  visibility: visible
  transform: translateX(0)
  transition: .4s

.popup--scroll-stop
  overflow: hidden

.popup__success
  position: absolute
  width: 50%
  background: #a6ff63
  padding: 20px
  border-radius: 10px
  visibility: hidden
  z-index: -1
  opacity: 0
  transform: translateX(-400px)
  transition: .4s ease
  box-shadow: 0 2px 4px #0e0e0e, 0 2px 10px #1f1f1f, 0 6px 14px #060606, 0 10px 24px #0c0c0c, 0 16px 34px #151515
  color: #1a1a1a

.popup__success--show
  z-index: 22
  transform: translateX(0px)
  transition: .2s ease-in
  visibility: visible
  opacity: 1

.popup__success-description
  line-height: 22px

.popup__success-icon-close
  margin-right: 8px
  margin-top: -4px

  .icon-close
    width: 24px

.popup__success__client-email
  font-weight: 600
  font-size: 20px
  color: #3f6f00
  display: block

.popup__preloader
  width: 120%
  height: 100%
  position: absolute
  background: #0d0d0d
  border-radius: 10px
  left: -10%
  opacity: 0
  visibility: hidden
  transition: .8s
  z-index: 24

.popup__preloader--show
  visibility: visible
  opacity: 1
  transition: .8s

.popup__logotype-AZ
  z-index: 25
  bottom: 0
  top: 0
  margin: auto
  opacity: 0
  visibility: hidden
  transform: scale(0)
  transform-origin: center
  transition: .4s

.popup__logotype-AZ--show
  transform: scale(1)
  visibility: visible
  opacity: 1
  transition: .6s

.popup__contacts-form
  background: #0a0a0a
  border-radius: 12px
  padding: 12px 20px 28px
  max-width: 300px
  min-width: 300px
  box-shadow: 0 2px 4px #0e0e0e, 0 2px 10px #040404, 0 6px 14px #000, 0 10px 24px #0c0c0c, 0 16px 34px #080808, 0 2px 60px #000, 0 0 100px #000, 0 0 150px  #000, 0 0 400px #000
  position: absolute
  top: 10px
  left: 0
  z-index: 25
  display: none

.contacts-form__titleH3
  margin-bottom: 20px

.contacts-form__input-text
  margin-bottom: 12px

.contacts-form__button
  width: 100%
  flex-basis: 100%

.contacts-form__icon-close
  position: absolute
  right: 12px
  cursor: pointer
  transition: .4s
  opacity: .5

  &:hover
    transform: scale(1.15)
    transition: .2s
    opacity: 1


@media (min-width: 1px)
  .popup
    min-width: 300px
    width: calc(100% - 16px)
    right: 8px
    padding: 12px 20px 40px
    transform: translateX(0)

  .popup__contacts-container
    flex-direction: column
    align-content: flex-start
    align-items: flex-start
    margin-bottom: 20px

  .popup__titleH4
    flex-basis: 32px

  .popup__contacts-button
    margin-top: 20px
    flex-basis: 100%
    width: 100%
    max-width: 200px

  .popup__icon-close
    top: 16px
    right: 0

  .form__checkbox-list--tag-type
    align-items: center
    justify-content: center

    &:nth-child(even)
      .form__checkbox-label
        margin-left: 0

    .form__checkbox-label
      margin-left: 8px

  .form__guarantee
    width: 100%

  .popup__success
    width: 100%

    h3
      line-height: 22px

  .popup__preloader
    .logotype-AZ
      margin-top: calc(50%)
      transform: translateY(-50%)

@media (min-width: 500px)
  .popup__success
    width: 80%

    h3
      line-height: 22px

  .popup__preloader
    .logotype-AZ
      margin-top: calc(50% - 100px)
      transform: translateY(-50%)

  .popup__contacts-form
    min-width: 340px

@media (min-width: 768px)
  .popup__contacts-container
    flex-direction: row
    align-content: center
    align-items: center
    margin-bottom: 20px

  .popup__titleH4
    flex-basis: 100px

  .popup__contacts-button
    margin-top: 0

  .form__checkbox-list--tag-type
    align-items: center
    justify-content: space-around

    &:nth-child(even)
      .form__checkbox-label
        margin-left: 0

    .form__checkbox-label
      margin-left: 8px

  .popup__success
    width: 50%

    h3
      line-height: 22px

  .popup__preloader
    .logotype-AZ
      margin-top: calc(50% - 300px)
      transform: translateY(-50%)

@media (min-width: 1000px)
  .popup
    padding: 12px 48px 60px 32px

@media (min-width: 1400px)
  .popup
    right: 18%