@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="education__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">Визуализация данных</h1>
		<p class="main-window__subtitle subtitle subtitle--white">Краткие методические указания</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="education.html">Education</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">Визуализация данных</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<h2 id="nav1" class="titleH1 title--dark title--bold">Дашборды</h2>
			<p class="custom-text">В основе визуализации наборов данных, импортированных в систему EMS, лежит создание
				дашбордов.В основе визуализации наборов данных, импортированных в систему EMS, лежит создание дашбордов.</p>
			<p class="custom-text"><b>Основной целью визуализации</b> выступает реализация ключевой идеи (композиция,
				сравнение, отношения в данных, тип распределения и пр.), ради которой необходимо отобразить данные.</p>
			<p class="custom-text">Следовательно, необходимо установить основные цели визуализации данных, определить тип
				данных для исследования (профиль в формате <i>.csv</i>) и уже затем перейти к формированию дашбордов с выбором
				предпочтительных инструментов визуализации (<b>виджетов</b>).</p>
			<p class="custom-text"><b>Дашборд</b> (англ. <i>dashboard</i> – информационная панель) – собой визуальное
				представление данных, сгруппированных по смыслу на одном экране для более легкого визуального восприятия
				информации.</p>
			<p class="custom-text">Для того, чтобы сформировать дашборд, пользователю достаточно собрать ключевые метрики,
				которые необходимо отобразить.</p>
			<p class="custom-text">Как только необходимые данные (предварительно импортированные в систему с привязкой к
				конкретному устройству, установленному на конкретной нагрузке – см. пп. 1.2–1.4) будут подобраны пользователем,
				их необходимо отразить на дашборде с помощью специально разработанных инструментов визуализации –
				<b>виджетов</b> – в которых уже сгруппированы необходимые функции и параметры, что значительно упрощает работу с
				метриками и приводит к созданию значимых информационных панелей.</p>
		</div>

		<div class="text-content">
			<h2 id="nav2" class="titleH1 title--dark title--bold">Виджеты</h2>
			<p class="custom-text">При формировании дашбордов предусмотрено использование виджетов из двух панелей:</p>
			<ul class="list">
				<li class="list__item">Информационная панель (содержит виджеты для комбинирования и структурирования информации
					в виде, удобном для визуального восприятия, а также служит для анализа большого объема данных со сложной
					структурой).
				</li>
				<li class="list__item">Панель управления (содержит виджеты управления при работе с дашбордом)</li>
			</ul>
			<div class="note">
				<p class="note__text"><span class="note__title">Примечание:</span> корректный подбор виджет-графика напрямую
					сказывается на информативности и эффективности полученной визуализации. Любой график позволяет выразить
					смысловую составляющую, которая заложена в данных.</p>
			</div>
			<p class="custom-text">В составе EMS – системы представлены следующие виджеты:</p>
		</div>

		<div class="cards-type2">
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget1.png"
						 alt="vidget 1">
				<h2 class="cards-type2__title">Круговая диаграмма</h2>
				<p class="cards-type2__description">Отображение пропорционального и процентного соотношения и распределения
					между категориями (параметрами) сравнения за счет деления круга на пропорциональные сегменты</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget2.png"
						 alt="vidget 2">
				<h2 class="cards-type2__title">Кольцевая диаграмма</h2>
				<p class="cards-type2__description">Сравнение нескольких рядов данных (их параметров), в виде дуговых участков,
					длина которых пропорциональна дискретным числовым данных, характеризующим параметры сравнения</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget5.png"
						 alt="vidget 5">
				<h2 class="cards-type2__title">Столбчатый график (вертикальный)</h2>
				<p class="cards-type2__description">Числовые и дискретные сравнения между различными категориями (параметрами)
					данных. Длина столбца характеризуется значением параметра сравнения</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget4.png"
						 alt="vidget 4">
				<h2 class="cards-type2__title">Ступенчатый график</h2>
				<p class="cards-type2__description">Динамическая визуализация данных с помощью ряда вертикальных линий,
					характеризующих переходы (изменений значений) на границе каждого интервалов считывания</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget11.png"
						 alt="vidget 11">
				<h2 class="cards-type2__title">Таблица</h2>
				<p class="cards-type2__description">Систематизация данных с возможностью ускоренной структуризации и поиска
					информации</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget7.png"
						 alt="vidget 7">
				<h2 class="cards-type2__title">Текстовая панель</h2>
				<p class="cards-type2__description">Размещение текста на панели дашборда с описанием элементов, параметров и
					характеристик данных</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget6.png"
						 alt="vidget 6">
				<h2 class="cards-type2__title">Линейный график</h2>
				<p class="cards-type2__description">Отображение количественных показателей за непрерывные или дискретные периоды
					времени; демонстрация трендов и динамических показателей; соотношение нескольких показателей, совмещенных на
					одном графике</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget9.png"
						 alt="vidget 9">
				<h2 class="cards-type2__title">Линейная диаграмма</h2>
				<p class="cards-type2__description">Сравнение нескольких рядов данных (их параметров), сгруппированных по
					категориям; длина полос используется для отображения дискретных числовых данных, сравниваемых по
					категориям</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget3.png"
						 alt="vidget 3">
				<h2 class="cards-type2__title">Диаграмма рассеяния</h2>
				<p class="cards-type2__description">Отображение значений исследуемого ряда данных по двум переменным с
					определением соотношений и степени корреляции между значениями ряда в зависимости от их расположения
					относительно друг друга; определение взаимозависимости переменных исследуемого ряда данных; сравнение рядов
					данных относительно одинаковых переменных</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget8.png"
						 alt="vidget 8">
				<h2 class="cards-type2__title">Бенчмаркинг</h2>
				<p class="cards-type2__description">Сопоставительный анализ на основе эталонных показателей с совмещением
					оценивания и сопоставления числовых и дискретных значений данных (их параметров). Длина столбца
					характеризуется значением параметра сравнения с учетом показателя эффективности</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-education/data-visualization/vidget10.png"
						 alt="vidget 10">
				<h2 class="cards-type2__title">Многофункциональный блок</h2>
				<p class="cards-type2__description">Реализация простых статистических функций в отношении указанного при
					настройке виджета источника данных</p>
			</div>

		</div>

		<div class="text-content">
			<h2 id="nav3" class="titleH1 title--dark title--bold">Создание дашборда в системе EMS Insyte</h2>
			<p class="custom-text">Для того, чтобы в системе создать новый дашборд, необходимо нажать значок
				<img src="components/_img/page-education/data-visualization/button-plus.png" alt="dashboard plus">
			</p>
			<p class="custom-text">При создании дашборда, после присвоения ему названия, следует приступить к подбору виджетов
				для визуализации информации.</p>
			<div class="note">
				<p class="note__text"><span class="note__title">Примечание:</span> процедура визуализации данных реализуется
					после постановки задач и целей визуализации, подбора и определения формата данных в соответствии с
					поставленными задачами, подготовки данных (в случае необходимости) и интегрировании их в систему с привязкой к
					определенному устройству, установленному на определенной нагрузке.</p>
			</div>
			<p class="custom-text">Ключевой этап в создании дашборда – расстановка виджетов с масштабированием в окне
				размещения элементов в режиме редактирования в порядке, удобном для восприятия и демонстрации (Рисунок 1,2).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen1.png"
				 data-fancybox="gallery" data-caption="Рисунок 1 – Режим редактирования дашборда.
				Окно размещения элементов дашборда">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen1.png"
					 alt="Рисунок 1">
			</a>
			<figcaption class="img-content__description">Рисунок 1 – Режим редактирования дашборда.
				Окно размещения элементов дашборда
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen2.png"
				 data-fancybox="gallery" data-caption="Рисунок 2 – Расстановка виджетов в окне размещения элементов дашборда
				Test">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen2.png"
					 alt="Рисунок 2">
			</a>
			<figcaption class="img-content__description">Рисунок 2 – Расстановка виджетов в окне размещения элементов дашборда
				<b><i>Test</i></b>
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Рассмотрим настройку виджетов на примере создания дашборда <b><i>Test</i></b> (рисунок
				2).
			</p>
			<p class="custom-text">В состав дашборда, созданного с целью демонстрации и тестирования работы системы, включены
				виджеты для отображения ключевых показателей потребления активной и реактивной мощности промышленного
				предприятия (фабрики).</p>
			<p class="custom-text">Для этого предварительно в системе была сформирована нагрузка <b><i>Factory</i></b> (п.1.2
				инструкции), на которую были установлены два виртуальных устройства для регистрации показаний активной
				<b><i>(Smart_Meter_Test)</i></b> и реактивной мощности <b><i>(Metering_Device)</i></b> (в п.1.3 дано пошаговое
				описание регистрации в
				системе одного из виртуальных устройств).</p>
			<p class="custom-text">В состав тестового дашборда <b><i>Test</i></b>, представленного на рисунке 2, включены
				виджеты,
				рассмотренные далее с подробным описанием и принципом редактирования.</p>

			<h2 id="nav4" class="titleH1 title--dark title--bold">Текстовый блок</h2>
			<p class="custom-text">Окно редактирования для текстового виджета с названием «Примечание» и кратким содержанием
				приведено на рисунке 3.</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen3.png"
				 data-fancybox="gallery" data-caption="Рисунок 3 – Окно редактирования тектового виджета «Примечание»">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen3.png"
					 alt="Рисунок 3">
			</a>
			<figcaption class="img-content__description">Рисунок 3 – Окно редактирования тектового виджета «Примечание»
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav5" class="titleH1 title--dark title--bold">Линейный график</h2>
			<p class="custom-text">Линейный график был внедрен в дашборд с целью отображения текущих показателей профилей
				активной и реактивной мощности, снятых в месте технологического присоединения объекта электропотребления
				<b><i>Factory</i></b> к системе электроснабжения.</p>
			<p class="custom-text">Режим редактирования линейного графика (совокупности графиков) в системе подразумевает
				наличие названия (предпочтительно, с указанием единиц измерения), указание источников визуализируемых данных –
				переменные, прикрепленные к устройствам, установленным на соответствующей нагрузке) (рисунок 4).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen4.png"
				 data-fancybox="gallery" data-caption="Рисунок 4 – Режим редактирования линейных графиков в системе EMS">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen4.png"
					 alt="Рисунок 4">
			</a>
			<figcaption class="img-content__description">Рисунок 4 – Режим редактирования линейных графиков в системе EMS
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen5_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 5.1 – Подбор цветов визуализируемых линейных профилей">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen5_1.png"
					 alt="Рисунок 5.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen5_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 5.2 – Подбор цветов визуализируемых линейных профилей">
			<img class="img-content__image" src="components/_img/page-education/data-visualization/screen5_2.png"
					 alt="Рисунок 5.2">
			</a>
			<figcaption class="img-content__description">Рисунок 5 – Подбор цветов визуализируемых линейных профилей
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">В качестве дополнительных опций указываются предпочтительные цвета визуализируемых
				профилей. В случае, если настройка дополнительных опций будет пропущена, цвета профилей на дашборде будут
				выставлены системой по умолчанию (рисунок 5).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen6.png"
				 data-fancybox="gallery" data-caption="Рисунок 6 – Сохранение настроек линейных графиков в режиме
				редактирования системы EMS">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen6.png"
					 alt="Рисунок 6">
			</a>
			<figcaption class="img-content__description">Рисунок 6 – Сохранение настроек линейных графиков в режиме
				редактирования системы EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">После настройки и редактирования всех опций внесенные в режиме редактирования изменения
				необходимо сохранить и перейти к настройке следующего виджета (рисунок 6).</p>
			<h2 id="nav6" class="titleH1 title--dark title--bold">Функциональный блок</h2>
			<p class="custom-text">Основным предназначением функционального блока является реализация простых статистических
				функций в отношении указанного при настройке виджета источника данных.</p>
			<p class="custom-text">В составе функционального блока присуствуют следующие функции:</p>
			<ul class="list">
				<li class="list__item"><b>count</b> (количество измерений/значений в профиле);</li>
				<li class="list__item"><b>integral</b> (агрегированная величина, характеризующая отношение суммы значений
					временного ряда к диапазону времени);
				</li>
				<li class="list__item"><b>mean</b> (среднее значение в ряду данных);</li>
				<li class="list__item"><b>median</b> (уровень показателя, который делит набор данных на две равные половины);
				</li>
				<li class="list__item"><b>mode</b> (значение во множестве наблюдений, которое встречается наиболее часто);</li>
				<li class="list__item"><b>spread</b> (возвращает разницу между максимальным и минимальным значением временного
					ряда);
				</li>
				<li class="list__item"><b>sum</b> (сумма всех значений профиля);</li>
				<li class="list__item"><b>max value</b> (максимальное значение профиля);</li>
				<li class="list__item"><b>min value</b> (минимальное значение профиля);</li>
				<li class="list__item"><b>last value</b> (последнее значение профиля);</li>
				<li class="list__item"><b>percentile</b> (показатель, используемый в статистике, показывающий значение, ниже
					которого падает определенный процент наблюдений в группе наблюдений).
				</li>
			</ul>
			<p class="custom-text">Режим редактирования для функционального блока включает настройку трех параметров (рисунок
				7): </p>
			<ul class="list">
				<li class="list__item">источник данных (рисунок 7);</li>
				<li class="list__item">функция, исполняемая блоком (рисунок 8);</li>
				<li class="list__item">цвет (доп. опция), в который будет окрашен виджет после настройки (рисунок 9).</li>
			</ul>
			<p class="custom-text"><b>Функциональный блок 1</b> – характеризует максимальное значение активной мощности в
				точке технологического присоединения за рассматриваемый период времени.</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen7.png"
				 data-fancybox="gallery" data-caption="Рисунок 7 – Режим редактирования для функционального блока №1">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen7.png"
					 alt="Рисунок 7">
			</a>
			<figcaption class="img-content__description">Рисунок 7 – Режим редактирования для функционального блока №1
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen8.png"
				 data-fancybox="gallery" data-caption="Рисунок 8 – Настройка функции, реализуемой функц. блоком №1">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen8.png"
					 alt="Рисунок 8">
			</a>
			<figcaption class="img-content__description">Рисунок 8 – Настройка функции, реализуемой функц. блоком №1
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen9_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 9.1 – Настройка цвета функц. блока №1 в режиме редактирования">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen9_1.png"
					 alt="Рисунок 9.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen9_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 9.2 – Настройка цвета функц. блока №1 в режиме редактирования">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen9_2.png"
					 alt="Рисунок 9.2">
			</a>
			<figcaption class="img-content__description">Рисунок 9 – Настройка цвета функц. блока №1 в режиме редактирования
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">В качестве дополнительной опции указывается предпочтительный цвет инструмента визуализации.
				В случае, если настройка дополнительных опций будет пропущена, цвета функционального виджета на дашборде будут
				выставлен системой по умолчанию.</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen10.png"
				 data-fancybox="gallery" data-caption="Рисунок 10 – Сохранение настроек функц. блока №1 в режиме
				редактирования системы EMS">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen10.png"
					 alt="Рисунок 10">
			</a>
			<figcaption class="img-content__description">Рисунок 10 – Сохранение настроек функц. блока №1 в режиме
				редактирования системы EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">После настройки и редактирования всех опций внесенные в режиме редактирования изменения
				необходимо сохранить и перейти к настройке следующего виджета (рисунок 10).</p>
			<p class="custom-text">Настройка следующих функиональных блоков осуществляется аналогично предыдущему (рисунок 11
				–18).</p>
			<p class="custom-text"><b>Функциональный блок 2</b> – характеризует максимальное значение реактивной мощности в
				точке технологического присоединения за рассматриваемый период времени (рисунок 11 – 14).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen11.png"
				 data-fancybox="gallery" data-caption="Рисунок 11 – Режим редактирования для функционального блока №2">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen11.png"
					 alt="Рисунок 11">
			</a>
			<figcaption class="img-content__description">Рисунок 11 – Режим редактирования для функционального блока №2
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen12.png"
				 data-fancybox="gallery" data-caption="Рисунок 12 – Настройка функции, реализуемой функц. блоком №2">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen12.png"
					 alt="Рисунок 12">
			</a>
			<figcaption class="img-content__description">Рисунок 12 – Настройка функции, реализуемой функц. блоком №2
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen13.png"
				 data-fancybox="gallery" data-caption="Рисунок 13 – Настройка цвета функционального блока №2 в режиме
				редактирования">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen13.png"
					 alt="Рисунок 13">
			</a>
			<figcaption class="img-content__description">Рисунок 13 – Настройка цвета функционального блока №2 в режиме
				редактирования
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen14.png"
				 data-fancybox="gallery" data-caption="Рисунок 14 – Сохранение настроек функционального блока №2 в режиме
				редактирования системы EMS">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen14.png"
					 alt="Рисунок 14">
			</a>
			<figcaption class="img-content__description">Рисунок 14 – Сохранение настроек функционального блока №2 в режиме
				редактирования системы EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text"><b>Функциональный блок 3</b> – характеризует суммарное значение почасовой активной мощности
				в точке технологического присоединения за рассматриваемый период времени (рисунок 15 – 18).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen15_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 15.1 – Режим редактирования для функционального блока №3">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen15_1.png"
					 alt="Рисунок 15.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen15_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 15.2 – Режим редактирования для функционального блока №3">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen15_2.png"
					 alt="Рисунок 15.2">
			</a>
			<figcaption class="img-content__description">Рисунок 15 – Режим редактирования для функционального блока №3
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen16.png"
				 data-fancybox="gallery" data-caption="Рисунок 16 – Настройка цвета функц. блока №3 в режиме
				редактирования">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen16.png"
					 alt="Рисунок 16">
			</a>
			<figcaption class="img-content__description">Рисунок 16 – Настройка цвета функц. блока №3 в режиме
				редактирования
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen17.png"
				 data-fancybox="gallery" data-caption="Рисунок 17 – Сохранение настроек функц. блока №1 в режиме
				редактирования системы EMS">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen17.png"
					 alt="Рисунок 17">
			</a>
			<figcaption class="img-content__description">Рисунок 17 – Сохранение настроек функц. блока №1 в режиме
				редактирования системы EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav7" class="titleH1 title--dark title--bold">Круговая диаграмма</h2>
			<p class="custom-text">Для настройки круговой диаграммы необходимо заполнить поля:</p>
			<ul class="list">
				<li class="list__item">источник данных (рисунок 20);</li>
				<li class="list__item">единица измерения (рисунок 20);</li>
				<li class="list__item">функция сравнения (рисунок 20);</li>
				<li class="list__item">цвет секторов соответствующего профиля – дополнительная опция (рисунок 19).</li>
			</ul>
			<p class="custom-text">В примере: круговая диаграмма строится для сравнения усредненных величин потребления
				активной и реактивной мощности энергопотребляющего объекта <b><i>Factory</i></b>. Площадь секторов круговой
				диаграммы
				пропорциональна дискретным числовым величинам, характеризующим параметры сравнения (рисунок 21).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen18_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 18.1 – Настройка цвета секторов круговой диаграммы в режиме
				редактирования">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen18_1.png"
					 alt="Рисунок 18.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen18_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 18.2 – Настройка цвета секторов круговой диаграммы в режиме
				редактирования">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen18_2.png"
					 alt="Рисунок 18.2">
			</a>
			<figcaption class="img-content__description">Рисунок 18 – Настройка цвета секторов круговой диаграммы в режиме
				редактирования
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen19_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 19.1 – Режим редактирования круговой диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen19_1.png"
					 alt="Рисунок 19.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen19_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 19.2 – Режим редактирования круговой диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen19_2.png"
					 alt="Рисунок 19.2">
			</a>
			<figcaption class="img-content__description">Рисунок 19 – Режим редактирования круговой диаграммы</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen20.png"
				 data-fancybox="gallery" data-caption="Рисунок 20 – Сохранение настроек кольцевой диаграммы в режиме
				редактирования системы EMS">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen20.png"
					 alt="Рисунок 20">
			</a>
			<figcaption class="img-content__description">Рисунок 20 – Сохранение настроек кольцевой диаграммы в режиме
				редактирования системы EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav8" class="titleH1 title--dark title--bold">Кольцевая диаграмма</h2>
			<p class="custom-text">Для настройки кольцевой диаграммы необходимо заполнить поля:</p>
			<ul class="list">
				<li class="list__item">источник данных (рисунок 22);</li>
				<li class="list__item">единица измерения (рисунок 23);</li>
				<li class="list__item">функция сравнения (рисунок 23);</li>
				<li class="list__item">цвет секторов соответствующего профиля – дополнительная опция (рисунок 22).</li>
			</ul>
			<p class="custom-text">В примере: кольцевая диаграмма строится для сравнения суммарных величин потребления
				активной и реактивной мощности энергопотребляющего объекта Factory. Величины дуг кольцевой диаграммы
				пропорциональны дискретным числовым величинам, характеризующим параметры сравнения.</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen21_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 21.1 – Режим редактирования кольцевой диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen21_1.png"
					 alt="Рисунок 21.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen21_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 21.2 – Режим редактирования кольцевой диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen21_2.png"
					 alt="Рисунок 21.2">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen21_3.png"
				 data-fancybox="gallery" data-caption="Рисунок 21.3 – Режим редактирования кольцевой диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen21_3.png"
					 alt="Рисунок 21.3">
			</a>
			<figcaption class="img-content__description">Рисунок 21 – Режим редактирования кольцевой диаграммы</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen22_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 22.1 – Подбор функции для кольцевой диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen22_1.png"
					 alt="Рисунок 22.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen22_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 22.2 – Подбор функции для кольцевой диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen22_2.png"
					 alt="Рисунок 22.2">
			</a>
			<figcaption class="img-content__description">Рисунок 22 – Подбор функции для кольцевой диаграммы</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav9" class="titleH1 title--dark title--bold">Облако точек</h2>
			<p class="custom-text">Для настройки кольцевой диаграммы необходимо заполнить поля:</p>
			<ul class="list">
				<li class="list__item">название диаграммы (рисунок 24);</li>
				<li class="list__item">источник данных (рисунок 24);</li>
				<li class="list__item">цвет обозначения соответствующего профиля – дополнительная опция (рисунок 24).</li>
			</ul>
			<p class="custom-text">В примере: облако точек строится для отображения значений исследуемого ряда данных по двум
				переменным относительно соответствующих временных меток с определением соотношений и степени корреляции между
				значениями активной и реактивной мощности энергопотребляющего объекта <b><i>Factory</i></b> в зависимости от их
				расположения
				относительно друг друга.</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen23_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 23.1 – Режим редактирования облака точек">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen23_1.png"
					 alt="Рисунок 23.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen23_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 23.2 – Режим редактирования облака точек">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen23_2.png"
					 alt="Рисунок 23.2">
			</a>
			<figcaption class="img-content__description">Рисунок 23 – Режим редактирования облака точек</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen24.png"
				 data-fancybox="gallery" data-caption="Рисунок 24 – Режим редактирования облака точек с сохранением настроек
				в режиме редактирования системы EMS">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen24.png"
					 alt="Рисунок 24">
			</a>
			<figcaption class="img-content__description">Рисунок 24 – Режим редактирования облака точек с сохранением настроек
				в режиме редактирования системы EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">После настройки и редактирования всех опций внесенные в режиме редактирования изменения
				необходимо сохранить и перейти к настройке следующего виджета (рисунок 25).</p>
			<h2 id="nav10" class="titleH1 title--dark title--bold">Линейная диаграмма</h2>
			<p class="custom-text">Для настройки линейной диаграммы потребуется заполнить поля:</p>
			<ul class="list">
				<li class="list__item">название диаграммы (рисунок 26);</li>
				<li class="list__item">единицы измерения (рисунок 26);</li>
				<li class="list__item">источник данных (рисунок 26);</li>
				<li class="list__item">функция сравнения (рисунок 27);</li>
				<li class="list__item">цвет обозначения соответствующего профиля – дополнительная опция (рисунок 27).</li>
			</ul>
			<p class="custom-text">В примере: линейная диаграмма строится для сравнения профилей активной и реактивной
				мощности по показателю <i>median</i> - уровень, который делит каждый из профилей нагрузки на две равные половины
				пропорционально длине полос настраиваемого графика.</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen25.png"
				 data-fancybox="gallery" data-caption="Рисунок 25 – Режим редактирования линейной диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen25.png"
					 alt="Рисунок 25">
			</a>
			<figcaption class="img-content__description">Рисунок 25 – Режим редактирования линейной диаграммы
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen26_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 26.1 – Подбор функциональных параметров и цветовых обозначений
				в режиме редактирования линейной диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen26_1.png"
					 alt="Рисунок 26.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen26_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 26.2 – Подбор функциональных параметров и цветовых обозначений
				в режиме редактирования линейной диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen26_2.png"
					 alt="Рисунок 26.1">
			</a>
			<figcaption class="img-content__description">Рисунок 26 – Подбор функциональных параметров и цветовых обозначений
				в режиме редактирования линейной диаграммы
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav11" class="titleH1 title--dark title--bold">Ступенчатый график</h2>
			<p class="custom-text">Для настройки ступенчатого графика потребуется заполнить слдующие поля:</p>
			<ul class="list">
				<li class="list__item">название диаграммы (рисунок 28);</li>
				<li class="list__item">единицы измерения (рисунок 28);</li>
				<li class="list__item">источник данных (рисунок 28);</li>
				<li class="list__item">цвет обозначения соответствующего профиля – дополнительная опция (рисунок 29).</li>
			</ul>
			<p class="custom-text">В примере: ступенчатый график строится для динамической визуализации профилей активной и
				реактивной мощности энергопотребляющего объекта <b><i>Factory</i></b> с помощью ряда вертикальных линий,
				характеризующих
				переходы (изменений значений) на границе каждого интервалов считывания.</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen27.png"
				 data-fancybox="gallery" data-caption="Рисунок 27 – Режим редактирования ступенчатого графика">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen27.png"
					 alt="Рисунок 27">
			</a>
			<figcaption class="img-content__description">Рисунок 27 – Режим редактирования ступенчатого графика
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen28_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 28.1 – Подбор цветовых обозначений">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen28_1.png"
					 alt="Рисунок 28.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen28_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 28.2 – Подбор цветовых обозначений">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen28_2.png"
					 alt="Рисунок 28.2">
			</a>
			<figcaption class="img-content__description">Рисунок 28 – Подбор цветовых обозначений
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav12" class="titleH1 title--dark title--bold">Бенчмаркинг</h2>
			<p class="custom-text">Для настройки диаграммы бенчмаркинга потребуется заполнить поля:</p>
			<ul class="list">
				<li class="list__item">единицы измерения (рисунок 30);</li>
				<li class="list__item">источник данных (рисунок 30);</li>
				<li class="list__item">функция сравнения (рисунок 31);</li>
				<li class="list__item">цвет обозначения соответствующего профиля – дополнительная опция (рисунок 32).</li>
			</ul>
			<p class="custom-text">В примере: диаграмма бенчмаркинга строится для сопоставительного анализа величин
				потребления активной и реактивной мощности в абсолютном выражении для наиболее часто встречающихся значений
				временных рядов данных <b><i>(mode)</i></b>.</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen29.png"
				 data-fancybox="gallery" data-caption="Рисунок 29 – Режим редактирования диаграммы бенчмаркинга">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen29.png"
					 alt="Рисунок 29">
			</a>
			<figcaption class="img-content__description">Рисунок 29 – Режим редактирования диаграммы бенчмаркинга
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen30_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 30.1 – Подбор функциональных параметров в режиме редактирования
				линейной диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen30_1.png"
					 alt="Рисунок 30.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen30_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 30.2 – Подбор функциональных параметров в режиме редактирования
				линейной диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen30_2.png"
					 alt="Рисунок 30.2">
			</a>
			<figcaption class="img-content__description">Рисунок 30 – Подбор функциональных параметров в режиме редактирования
				линейной диаграммы
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen31_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 31.1 – Подбор цветовых обозначений в режиме редактирования
				линейной диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen31_1.png"
					 alt="Рисунок 31.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen31_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 31.2 – Подбор цветовых обозначений в режиме редактирования
				линейной диаграммы">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen31_2.png"
					 alt="Рисунок 31.2">
			</a>
			<figcaption class="img-content__description">Рисунок 31 – Подбор цветовых обозначений в режиме редактирования
				линейной диаграммы
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav13" class="titleH1 title--dark title--bold">Настройка дашборда</h2>
			<p class="custom-text">После настройки и редактирования всех опций внесенные в режиме редактирования изменения
				необходимо сохранить и перейти к формированию дашборда с названием <b><i>Test</i></b> нажатием на кнопку <img
								src="components/_img/page-education/first-steps/button-add-dashboard.png" alt="add dashboard"> (рисунок
				33).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen32.png"
				 data-fancybox="gallery" data-caption="Рисунок 32 – Заключительный этап создания дашборда в ржиме
				редактирования после настройки всех виджетов">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen32.png"
					 alt="Рисунок 32">
			</a>
			<figcaption class="img-content__description">Рисунок 32 – Заключительный этап создания дашборда в ржиме
				редактирования после настройки всех виджетов
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">В случае корректного ввода опциональных параметров в каждом виджете и правильных настроек
				дашборда после нажатия на кнопку <img src="components/_img/page-education/first-steps/button-add-dashboard.png"
																							alt="add dashboard"> пользователь системы будет проинформирован об
				успешном создании дашборда
				диалоговым окном с соответствующим подтверждением (рисунок 34).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen33.png"
				 data-fancybox="gallery" data-caption="Рисунок 33 – Диалоговое окно с подтверждением успешного создания
				дашборда в системе EMS">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen33.png"
					 alt="Рисунок 33">
			</a>
			<figcaption class="img-content__description">Рисунок 33 – Диалоговое окно с подтверждением успешного создания
				дашборда в системе EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav14" class="titleH1 title--dark title--bold">Отображение дашборда в системе EMS Insyte</h2>
			<p class="custom-text">Для того, чтобы отобразить созданный в системе EMS дашборд <b><i>Test</i></b>, необходимо
				на правой синей
				панели системы нажать на значок <img src="components/_img/page-education/first-steps/button-speed.png"
																						 alt="speed">. После нажатия на синей панели справа раскроется список всех
				действующих
				дашбордов, ранее созданных в рабочем кабинете пользователя (рисунок 35). </p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen34.png"
				 data-fancybox="gallery" data-caption="Рисунок 34 – Заключительный этап создания дашборда в ржиме
				редактирования после настройки всех виджетов">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen34.png"
					 alt="Рисунок 34">
			</a>
			<figcaption class="img-content__description">Рисунок 34 – Список действующих дашбордов в системе EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Требуется зайти в окно визуализации дашборда <b><i>Test</i></b> по названию, размещенному
				на синей
				панели. Для отображения всех размещенных на дашборде <b><i>Test</i></b> графиков необходимо настроить период
				отображения (с
				<i>дата/время</i> по <i>дата/время</i>) в левом верхнем углу экрана (рисунок 36).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen35.png"
				 data-fancybox="gallery" data-caption="Рисунок 35 – Настройка периода отображения графиков на дашборде
				Test">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen35.png"
					 alt="Рисунок 35">
			</a>
			<figcaption class="img-content__description">Рисунок 35 – Настройка периода отображения графиков на дашборде
				<b><i>Test</i></b>
			</figcaption>
		</figure>
		<div class="text-content">
			<div class="note">
				<p class="note__text"><span class="note__title">Примечание:</span> дата/время указывается корректно – в
					соответствии с периодом считывания профилей, импортированных в систему.</p>
			</div>
			<p class="custom-text">После настройки периода отображения графиков необходимо нажать на кнопку <img
							src="components/_img/page-education/first-steps/button-apply.png"
							alt="Применить">. Все графики,
				настроенные в соответствии с заведенными на этапе создания (в режиме редактирования) дашборда в системы EMS
				опциональными параметрами, отобразятся на экране дашборда (рисунок 37).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-visualization/screen36.png"
				 data-fancybox="gallery" data-caption="Рисунок 36 – Вывод графиков на дашборд Test в соответствии с
				настроенными ранее опциональными параметрами на этапе создания (в режиме редактирования) дашборда в системе EMS
				Test">
				<img class="img-content__image" src="components/_img/page-education/data-visualization/screen36.png"
					 alt="Рисунок 36">
			</a>
			<figcaption class="img-content__description">Рисунок 36 – Вывод графиков на дашборд <b><i>Test</i></b> в соответствии с
				настроенными ранее опциональными параметрами на этапе создания (в режиме редактирования) дашборда в системе EMS
				<b><i>Test</i></b>
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">После визуализации всех необходимых графиков можно приступить к дальнейшим исследованиям и анализу данных.</p>
		</div>

	</div>

	<div class="second-page__right-block">
		<button class="button button-dark icon icon--pdf"><a download=""
																												 href="components/education/files/EMS_INSYTE_Data_visualization.pdf">Скачать
			Pdf</a></button>
		<div class="second-page-nav page-navigation">
			<h2 class="page-navigation__title">Содержание</h2>
			<ul class="page-navigation__list">
				<li class="page-navigation__list-item">
					<a href="#nav1" class="page-navigation__list-link">Дашборды</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav2" class="page-navigation__list-link">Виджеты</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav3" class="page-navigation__list-link">Создание дашборда в системе EMS Insyte</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav4" class="page-navigation__list-link">Текстовый блок</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav5" class="page-navigation__list-link">Линейный график</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav6" class="page-navigation__list-link">Функциональный блок</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav7" class="page-navigation__list-link">Круговая диаграмма</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav8" class="page-navigation__list-link">Кольцевая диаграмма</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav9" class="page-navigation__list-link">Облако точек</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav10" class="page-navigation__list-link">Линейная диаграмма</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav11" class="page-navigation__list-link">Ступенчатый график</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav12" class="page-navigation__list-link">Бенчмаркинг</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav13" class="page-navigation__list-link">Настройка дашборда</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav14" class="page-navigation__list-link">Отображение дашборда в системе EMS Insyte</a>
				</li>
			</ul>
			<button class="page-navigation__button button button--green-dark"><a href="">Your Feedback</a></button>
		</div>
	</div>
</main>

<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Другие темы</h3>
    <button class="button button--blue"><a href="first-steps.html">Первые шаги</a></button>
    <button class="button button--blue"><a href="data-analysis.html">Анализ данных</a></button>
    <button class="button button--blue"><a href="DR-SERVICE-Demand-Management.html">Контроль выполнения разгрузки</a></button>
    <button class="button button--blue"><a href="DR-SERVICE-plan.html">Планирование разгрузки</a></button>
  </div>
</section>

@@include('./_footer.html')
</body>
</html>