@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="education__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">Анализ данных</h1>
		<p class="main-window__subtitle subtitle subtitle--white">Краткие методические указания</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="education.html">Education</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">Анализ данных</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<h2 id="nav1" class="titleH1 title--dark title--bold">Анализ данных в режиме визуализации. Встроенные функции</h2>
			<p class="custom-text">Основное назначение встроенного в область визуализации функционального блока – реализация
				простейших статистических функций при работе с построенными графиками. Для того, чтобы применить функцию,
				необходимо на верхней панели над графиком в правом верхнем углу области построения нажать на значок <img
								src="components/_img/page-education/data-analysis/button-function.png"
								alt="button-function"> (рисунок
				8).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen1_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 1.1 – Запуск встроенной функции">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen1_1.png"
					 alt="Рисунок 1.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen1_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 1.2 – Запуск встроенной функции">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen1_2.png"
					 alt="Рисунок 1.2">
			</a>
			<figcaption class="img-content__description">Рисунок 1 – Запуск встроенной функции
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav2" class="titleH1 title--dark title--bold">Функция Derivative</h2>
			<p class="custom-text">В состав функционального блока включены следующие функции:</p>
			<p class="custom-text"><i>Derivative</i> – рассчитывает разницу между последующими значениями временного ряда и
				преобразует эти результаты в скорость изменения на единицу измерения.</p>
			<p class="custom-text">При реализации функции предусмотрена цветовая палитра для подбора цветового обозначения
				графика функции (рисунок 9 – 10).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen2_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 2.1 – Настройка параметров для реализации функции">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen2_1.png"
					 alt="Рисунок 2.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen2_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 2.2 – Настройка параметров для реализации функции">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen2_2.png"
					 alt="Рисунок 2.2">
			</a>
			<figcaption class="img-content__description">Рисунок 2 – Настройка параметров для реализации функции
				<i>Derivative</i>
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen3.png"
				 data-fancybox="gallery" data-caption="Рисунок 3 – Построение графика функции <i>Derivative</i> в
				соответствии с параметрами настройки">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen3.png"
					 alt="Рисунок 3">
			</a>
			<figcaption class="img-content__description">Рисунок 3 – Построение графика функции <i>Derivative</i> в
				соответствии с параметрами настройки
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav3" class="titleH1 title--dark title--bold">Функция Difference</h2>
			<p class="custom-text"><i>Difference</i> – возвращает результат вычитания между последующими значениями временного
				ряда.</p>
			<p class="custom-text">При реализации функции предусмотрена цветовая палитра для подбора цветового обозначения
				графика функции (рисунок 11 – 12).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen4.png"
				 data-fancybox="gallery" data-caption="Рисунок 4 – Настройка параметров для реализации функции
				Difference">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen4.png"
					 alt="Рисунок 4">
			</a>
			<figcaption class="img-content__description">Рисунок 4 – Настройка параметров для реализации функции
				<i>Difference</i>
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen5.png"
				 data-fancybox="gallery" data-caption="Рисунок 5 – Построение графика функции Difference в
				соответствии с параметрами настройки">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen5.png"
					 alt="Рисунок 5">
			</a>
			<figcaption class="img-content__description">Рисунок 5 – Построение графика функции <i>Difference</i> в
				соответствии с параметрами настройки
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav4" class="titleH1 title--dark title--bold">Функция Moving Average</h2>
			<p class="custom-text"><i>Moving average</i> – рассчитывает скользящее среднее по окну последующих N <i>(Параметр
				1)</i>
				значений временного ряда, связанных с каждой меткой временного ряда в измерении (<i>Параметр 1</i> – задается
				вручную).</p>
			<p class="custom-text">При реализации функции предусмотрена цветовая палитра для подбора цветового обозначения
				графика функции (рисунок 13 – 14).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen6.png"
				 data-fancybox="gallery" data-caption="Рисунок 6 – Настройка параметров для реализации Moving Average">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen6.png"
					 alt="Рисунок 6">
			</a>
			<figcaption class="img-content__description">Рисунок 6 – Настройка параметров для реализации <i>Moving Average</i>
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen7.png"
				 data-fancybox="gallery" data-caption="Рисунок 7 – Построение графика функции Moving Average в
				соответствии с параметрами настройки">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen7.png"
					 alt="Рисунок 7">
			</a>
			<figcaption class="img-content__description">Рисунок 7 – Построение графика функции <i>Moving Average</i> в
				соответствии с параметрами настройки
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav5" class="titleH1 title--dark title--bold">Функция Round</h2>
			<p class="custom-text"><i>Round</i> – возвращает последующее значение округленное до ближайшего целого числа.</p>
			<p class="custom-text">При реализации функции предусмотрена цветовая палитра для подбора цветового обозначения
				графика функции (рисунок 15 – 16).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen8.png"
				 data-fancybox="gallery" data-caption="Рисунок 8 – Настройка параметров для реализации Round">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen8.png"
					 alt="Рисунок 8">
			</a>
			<figcaption class="img-content__description">Рисунок 8 – Настройка параметров для реализации <i>Round</i>
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen9.png"
				 data-fancybox="gallery" data-caption="Рисунок 9 – Построение графика функции Round в соответствии с
				параметрами настройки">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen9.png"
					 alt="Рисунок 9">
			</a>
			<figcaption class="img-content__description">Рисунок 9 – Построение графика функции <i>Round</i> в соответствии с
				параметрами настройки
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav6" class="titleH1 title--dark title--bold">Функция Plus Const</h2>
			<p class="custom-text"><i>Plus const</i> – возвращает значение временного ряда со сдвигом в сторону увеличения на
				величину заданной константы const <i>(Параметр 1)</i> (<i>Параметр 1</i> – задается вручную).</p>
			<p class="custom-text">При реализации функции предусмотрена цветовая палитра для подбора цветового обозначения
				графика функции, а также поле для ручного ввода константы – <i>Параметра 1</i> (рисунок 17 – 18).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen10.png"
				 data-fancybox="gallery" data-caption="Рисунок 10 – Настройка параметров для реализации Plus const">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen10.png"
					 alt="Рисунок 10">
			</a>
			<figcaption class="img-content__description">Рисунок 10 – Настройка параметров для реализации <i>Plus const</i>
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen11.png"
				 data-fancybox="gallery" data-caption="Рисунок 11 – Построение графика функции Plus const в
				соответствии с параметрами настройки">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen11.png"
					 alt="Рисунок 11">
			</a>
			<figcaption class="img-content__description">Рисунок 11 – Построение графика функции <i>Plus const</i> в
				соответствии с параметрами настройки
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav7" class="titleH1 title--dark title--bold">Функция Minus Const</h2>
			<p class="custom-text"><i>Minus const</i> – возвращает значение временного ряда со сдвигом в сторону снижения на
				величину заданной константы const <i>(Параметр 1)</i> (<i>Параметр 1</i> – задается вручную).</p>
			<p class="custom-text">При реализации функции предусмотрена цветовая палитра для подбора цветового обозначения
				графика функции, а также поле для ручного ввода константы – <i>Параметра 1</i> (рисунок 19 – 20).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen12.png"
				 data-fancybox="gallery" data-caption="Рисунок 12 – Настройка параметров для реализации Minus const">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen12.png"
					 alt="Рисунок 12">
			</a>
			<figcaption class="img-content__description">Рисунок 12 – Настройка параметров для реализации <i>Minus const</i>
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen13.png"
				 data-fancybox="gallery" data-caption="Рисунок 13 – Построение графика функции Minus const в
				соответствии с параметрами настройки">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen13.png"
					 alt="Рисунок 13">
			</a>
			<figcaption class="img-content__description">Рисунок 13 – Построение графика функции <i>Minus const</i> в
				соответствии с параметрами настройки
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav8" class="titleH1 title--dark title--bold">Функция Multiply Const</h2>
			<p class="custom-text"><i>Multiply const</i> – возвращает значение временного ряда со сдвигом в сторону увеличения
				с умножением на величину заданной константы const <i>(Параметр 1)</i> (<i>Параметр 1</i> – задается вручную).
			</p>
			<p class="custom-text">При реализации функции предусмотрена цветовая палитра для подбора цветового обозначения
				графика функции, а также поле для ручного ввода константы – <i>Параметра 1</i> (рисунок 21 – 22).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen14.png"
				 data-fancybox="gallery" data-caption="Рисунок 14 – Настройка параметров для реализации Multiply const">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen14.png"
					 alt="Рисунок 14">
			</a>
			<figcaption class="img-content__description">Рисунок 14 – Настройка параметров для реализации <i>Multiply
				const</i>
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen15.png"
				 data-fancybox="gallery" data-caption="Рисунок 15 – Построение графика функции Multiply const в
				соответствии с параметрами настройки">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen15.png"
					 alt="Рисунок 15">
			</a>
			<figcaption class="img-content__description">Рисунок 15 – Построение графика функции <i>Multiply const</i> в
				соответствии с параметрами настройки
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav9" class="titleH1 title--dark title--bold">Функция Divide Const</h2>
			<p class="custom-text"><i>Divide const</i> – возвращает значение временного ряда со сдвигом в сторону снижения с
				делением на величину заданной константы const <i>(Параметр 1)</i> (<i>Параметр 1</i> – задается вручную).</p>
			<p class="custom-text">При реализации функции предусмотрена цветовая палитра для подбора цветового обозначения
				графика функции, а также поле для ручного ввода константы – <i>Параметра 1</i> (рисунок 23 – 24).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen16.png"
				 data-fancybox="gallery" data-caption="Рисунок 16 – Настройка параметров для реализации Divide const">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen16.png"
					 alt="Рисунок 16">
			</a>
			<figcaption class="img-content__description">Рисунок 16 – Настройка параметров для реализации <i>Divide const</i>
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen17.png"
				 data-fancybox="gallery" data-caption="Рисунок 17 – Построение графика функции Divide const в
				соответствии с параметрами настройки">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen17.png"
					 alt="Рисунок 17">
			</a>
			<figcaption class="img-content__description">Рисунок 17 – Построение графика функции <i>Divide const</i> в
				соответствии с параметрами настройки
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav10" class="titleH1 title--dark title--bold">Функция Holt Winters</h2>
			<p class="custom-text"><i>Holt winters</i> - возвращает спрогнозированные значения временного ряда c учетом
				показателей сезонной корректировки по методу Холт-Винтерс. В настройках функции <i>Параметр 1</i> – размер
				сезона предсказания, <i>Параметр 2</i> – горизонт прогноза.</p>
			<p class="custom-text">При реализации функции предусмотрена цветовая палитра для подбора цветового обозначения
				графика функции, а также поля для ручного ввода констант – <i>Параметра 1,2</i>.</p>
		</div>
		<div class="text-content">
			<h2 id="nav11" class="titleH1 title--dark title--bold">Функция День/Ночь</h2>
			<p class="custom-text">Функция День/Ночь предусмотрена в параметрах визуализации для удобства восприятия
				построенных графиков и разбиения их на зоны высокой и низкой плотности данных.</p>
			<p class="custom-text">Функция реализуется посредством нажатия кнопки <img
							src="components/_img/page-education/data-analysis/button-day-night.png" alt="day/night"> на верхней панели
				окна построения (рисунок 25, 26).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen18.png"
				 data-fancybox="gallery" data-caption="Рисунок 18 – Режим отображения: по умолчанию">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen18.png"
					 alt="Рисунок 18">
			</a>
			<figcaption class="img-content__description">Рисунок 18 – Режим отображения: по умолчанию
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen19.png"
				 data-fancybox="gallery" data-caption="Рисунок 19 – Режим отображения: День/Ночь">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen19.png"
					 alt="Рисунок 19">
			</a>
			<figcaption class="img-content__description">Рисунок 19 – Режим отображения: День/Ночь
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav12" class="titleH1 title--dark title--bold">Функция Grid</h2>
			<p class="custom-text">Функция Grid (от англ. – «сетка») – представляет собой разбиение графика на набор
				горизонтальных и вертикальных линий, разделяя изображение таким образом на совокупность строк и столбцов. В
				результате образуется изображение матричного типа с макетом сетки, что позволяет проводить более гибкий и
				подробный анализ данных с контролем размещения элементов в области сетки.</p>
			<p class="custom-text">Функция реализуется посредством кнопки на верхней панели окна построения графиков (рисунок 27, 28).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen20.png"
				 data-fancybox="gallery" data-caption="Рисунок 20 – Режим отображения: Grid/off">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen20.png"
					 alt="Рисунок 20">
			</a>
			<figcaption class="img-content__description">Рисунок 20 – Режим отображения: Grid/off
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/data-analysis/screen21.png"
				 data-fancybox="gallery" data-caption="Рисунок 21 – Режим отображения: Grid/on">
				<img class="img-content__image" src="components/_img/page-education/data-analysis/screen21.png"
					 alt="Рисунок 21">
			</a>
			<figcaption class="img-content__description">Рисунок 21 – Режим отображения: Grid/on
			</figcaption>
		</figure>
	</div>

	<div class="second-page__right-block">
		<button class="button button-dark icon icon--pdf"><a download=""
																												 href="components/education/files/EMS_Insyte_Data_analysis.pdf">Скачать
			Pdf</a></button>
		<div class="second-page-nav page-navigation">
			<h2 class="page-navigation__title">Содержание</h2>
			<ul class="page-navigation__list">
				<li class="page-navigation__list-item">
					<a href="#nav1" class="page-navigation__list-link">Анализ данных в режиме визуализации. Встроенные функции</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav2" class="page-navigation__list-link">Функция Derivative</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav3" class="page-navigation__list-link">Функция Difference</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav4" class="page-navigation__list-link">Функция Moving Average</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav5" class="page-navigation__list-link">Функция Round</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav6" class="page-navigation__list-link">Функция Plus Const</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav7" class="page-navigation__list-link">Функция Minus Const</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav8" class="page-navigation__list-link">Функция Multiply Const</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav9" class="page-navigation__list-link">Функция Divide Const</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav10" class="page-navigation__list-link">Функция Holt Winters</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav11" class="page-navigation__list-link">Функция День/Ночь</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav12" class="page-navigation__list-link">Функция Grid</a>
				</li>
			</ul>
			<button class="page-navigation__button button button--green-dark"><a href="">Your Feedback</a></button>
		</div>
	</div>
</main>

<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Другие темы</h3>
    <button class="button button--blue"><a href="first-steps.html">Первые шаги</a></button>
    <button class="button button--blue"><a href="data-visualization.html">Визуализация данных</a></button>
    <button class="button button--blue"><a href="DR-SERVICE-Demand-Management.html">Контроль выполнения разгрузки</a></button>
    <button class="button button--blue"><a href="DR-SERVICE-plan.html">Планирование разгрузки</a></button>
  </div>
</section>

@@include('./_footer.html')
</body>
</html>