@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="education__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">DR-Сервис для управления спросом</h1>
		<p class="main-window__subtitle subtitle subtitle--white">Контроль выполнения разгрузки для одного потребителя.
			<br>Краткие методические указания</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="education.html">Education</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">DR-Сервис для управления спросом</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<h2 id="nav1" class="titleH1 title--dark title--bold">DR-Сервис. Общие положения. Основные понятия</h2>
			<p class="custom-text">При описании алгоритма построения графика базовой нагрузки используются следующие
				термины:</p>
			<p class="custom-text"><b>График базовой нагрузки</b> <i>(DR-baseline)</i> – расчетный график нагрузки,
				используемый для
				моделирования потребления энергопринимающего устройства, обеспечившего снижение потребления в рамках события
				управления спросом, в предположении, что такое событие не произошло</p>
			<p class="custom-text"><b>Окно построения графика базовой нагрузки, окно построения</b> <i>(baseline window)</i> –
				совокупность
				дней, предшествующих расчетному дню (дню X), используемых для построения графика базовой нагрузки</p>
			<p class="custom-text"><b>Дни исключения</b> <i>(exception days)</i> – дни, исключающиеся из расчета графика
				базовой нагрузки
				(выходные и праздничные дни)</p>
			<p class="custom-text"><b>Подстройка графика базовой нагрузки</b> <i>(DR-baseline adjustment)</i> – приведение
				графика базовой
				нагрузки в соответствие с фактическим потреблением в расчетный день</p>

			<h2 id="nav2" class="titleH1 title--dark title--bold">Контроль готовности объекта управления к снижению
				потребления</h2>
			<p class="custom-text">DR-моделирование представляет собой процедуру определения объемов оказанных услуг по
				управлению спросом.</p>
			<p class="custom-text">Объем оказанных услуг определяется в отношении каждого объекта управления по результатам
				процессов:</p>
			<ul class="list">
				<li class="list__item">Контроля готовности объекта управления к снижению потребления;</li>
				<li class="list__item">Подтверждения исполнения обязательств по снижению потребления объекта управления при
					возникновении события управления спросом.
				</li>
			</ul>
			<p class="custom-text">Необходимо принять во внимание, что объем оказанных услуг определяется для каждого полного
				и неполного календарного месяца.</p>
			<p class="custom-text">Контроль готовности объекта управления к снижению потребления проводится в отношении каждых
				рабочих суток расчетного периода. Контроль готовности объекта управления к снижению потребления в сутки X,
				осуществляется в сутки (X+1), а при совпадении суток (X+1) с праздничным или выходным днем не позднее первого
				рабочего дня, следующего за сутками (X+1).</p>
			<p class="custom-text">Объект управления признается готовым осуществлять снижение потребления в рассматриваемые
				сутки, если Исполнитель уведомил Заказчика о готовности объекта управления, а также всех или части
				энергопринимающих устройств в его составе к снижению потребления в рассматриваемые сутки в порядке.</p>
			<p class="custom-text">Объект управления признается неготовым осуществлять снижение потребления в рассматриваемые
				сутки, если выполняется хотя бы одно из следующих условий:</p>
			<ul class="list">
				<li class="list__item">Исполнитель не уведомил Заказчика о готовности объекта управления и энергопринимающих
					устройств в его составе к снижению потребления в регламентированные сроки;
				</li>
				<li class="list__item">Данных коммерческого учета в отношении всех энергопринимающих устройств, указанных в
					уведомлении о готовности, предоставленных Заказчику, заведомо недостаточно для проведения расчетов.
				</li>
			</ul>

			<h2 id="nav3" class="titleH1 title--dark title--bold">Подтверждение исполнения обязательств по снижению
				потребления объекта управления</h2>
			<p class="custom-text">Исполнение обязательств по снижению потребления объекта управления подтверждается по
				результатам процедуры определения объема снижения потребления объекта управления. Результатом процесса
				подтверждения исполнения обязательств по снижению потребления объекта управления (ОУ) является значение
				фактического снижения, определяемое для каждых суток расчетного периода.</p>
			<p class="custom-text">Определение объема снижения потребления объекта управления осуществляется при возникновении
				события управления спросом, если для суток возникновения такого события подтверждена готовность объекта
				управления к снижению потребления.</p>
			<p class="custom-text">Определение объема снижения потребления ОУ в сутки X и расчет фактического снижения,
				осуществляется в сутки X+2, а при совпадении суток (X+2) с праздничным или выходным днем не позднее первого
				рабочего дня, следующего за сутками (X+2).</p>
			<p class="custom-text">Обязательства по снижению потребления объекта управления считаются исполненными, если в
				течение каждого часа периода снижения потребления заявленной длительности объем снижения потребления ОУ равен
				объему снижения потребления в соответствии с требованиями Заказчика либо превышает его.</p>
			<p class="custom-text">Обязательства по снижению потребления ОУ в сутки X считаются неисполненными при выполнении
				любого из следующих условий:</p>
			<ul class="list">
				<li class="list__item">Если в течение хотя бы одного часа периода снижения потребления заявленной длительности
					объем снижения потребления объекта управления не достигает объема снижения потребления, указанного Заказчиком;
				</li>
				<li class="list__item">Если отсутствуют данные коммерческого учета за сутки X в отношении всех энергопринимающих
					устройств в составе объекта управления. Отсутствием данных коммерческого учета считается непоступление этих
					данных к Заказчику либо очевидная недостоверность таких данных.
				</li>
			</ul>
			<h2 id="nav4" class="titleH1 title--dark title--bold">Запуск DR – сервиса в системе EMS INSYTE</h2>
			<p class="custom-text">Для запуска сервиса по <i>demand response</i> (далее – DR) моделированию необходимо перейти
				в панель запуска дашбордов.</p>
			<p class="custom-text">Для того, чтобы отобразить созданный в системе EMS дашборд, необходимо на правой синей
				панели системы нажать на значок
				<img src="components/_img/page-education/first-steps/button-speed.png"
						 alt="speed"> . После нажатия на синей панели справа раскроется список всех действующих дашбордов, ранее
				созданных в рабочем кабинете пользователя (рисунок 1).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen1_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 1.1 – Панель запуска дашбордов в системе EMS">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen1_1.png"
					 alt="Рисунок 1.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen1_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 1.2 – Панель запуска дашбордов в системе EMS">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen1_2.png"
					 alt="Рисунок 1.2">
			</a>
			<figcaption class="img-content__description">Рисунок 1 – Панель запуска дашбордов в системе EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Требуется зайти в окно визуализации дашборда по названию, размещенному на синей панели
				(например: <i>Проверка Деманд</i>). Для отображения размещенного на дашборде Проверка Деманд графика необходимо
				настроить период отображения (с <i>дата/время</i> по <i>дата/время</i>) в левом верхнем углу экрана (рисунок 2).
			</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen2.png"
				 data-fancybox="gallery" data-caption="Рисунок 2 – Настройка периода отображения графиков на дашборде Проверка
				Деманд">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen2.png"
					 alt="Рисунок 2">
			</a>
			<figcaption class="img-content__description">Рисунок 2 – Настройка периода отображения графиков на дашборде <i>Проверка
				Деманд</i>
			</figcaption>
		</figure>
		<div class="text-content">
			<div class="note">
				<p class="note__text"><span class="note__title">Примечание:</span>дата/время указывается корректно – в
					соответствии с периодом считывания профилей, импортированных в систему.</p>
			</div>
			<p class="custom-text">После настройки периода отображения графиков необходимо нажать на кнопку <img
							src="components/_img/page-education/first-steps/button-apply.png" alt="button apply">. Все графики,
				настроенные в соответствии с заведенными на этапе создания (в режиме редактирования) дашборда в системы EMS
				опциональными параметрами, отобразятся на экране дашборда (рисунок 3).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen3.png"
				 data-fancybox="gallery" data-caption="Рисунок 3 – Отображение графика в соответствии с заданным периодом">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen3.png"
					 alt="Рисунок 3">
			</a>
			<figcaption class="img-content__description">Рисунок 3 – Отображение графика в соответствии с заданным периодом
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav5" class="titleH1 title--dark title--bold">Исходные данные</h2>
			<p class="custom-text">Для того, чтобы осуществить событие управления спросом по принципу DR-моделирования,
				необходимо предусмотреть ряд основных параметров:</p>
			<ul class="list">
				<li class="list__item">Дата реализации события по управлению спросом (согласуется Заказчиком и системным
					оператором - СО);
				</li>
				<li class="list__item">Дни исключения (согласно методике расчета) – выходные (weekends) и праздничные дни;</li>
				<li class="list__item">Фактический профиль электропотребления (на основе фиксации показаний контрольных ПУ в
					месте потребления);
				</li>
				<li class="list__item">Период снижения (задается СО);</li>
				<li class="list__item">Время снижения (задается СО) для даты предполагаемого события.</li>
			</ul>

			<h2 id="nav6" class="titleH1 title--dark title--bold">Создание базовой линии</h2>
			<p class="custom-text">Исходные данные для построения базовой линии (в качестве примера):</p>
			<ul class="list">
				<li class="list__item">Расчетный месяц – март, 2019г.
				</li>
				<li class="list__item">Событие управления спросом (план) – 27.03.2019г.</li>
				<li class="list__item">Дни исключения – выходные, 08.03.2019г.</li>
			</ul>
			<p class="custom-text">Для построения базовой линии (baseline) отмечаем в календаре период построения (рисунок
				4)</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen4.png"
				 data-fancybox="gallery" data-caption="Рисунок 4 – Настройка периода построения базовой линии">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen4.png"
					 alt="Рисунок 4">
			</a>
			<figcaption class="img-content__description">Рисунок 4 – Настройка периода построения базовой линии
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Для построения базовой линии выбираем соответствующую функцию из списка – <i>demand
				response baseline</i> (рисунок 5).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen5.png"
				 data-fancybox="gallery" data-caption="Рисунок 5 – Выбор функции построения базовой линии из списка заданных
				функций">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen5.png"
					 alt="Рисунок 5">
			</a>
			<figcaption class="img-content__description">Рисунок 5 – Выбор функции построения базовой линии из списка заданных
				функций
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Задаем настройки базовой линии:</p>
			<ul class="list">
				<li class="list__item">Цвет графика; целевой день (день предполагаемого события – <i>target_day1</i>), для
					которого строится график (рисунок 6);
				</li>
				<li class="list__item">Дни исключения (<i>exception days</i> – праздничные дни; <i>weekends</i> – выходные дни,
					рисунок 7).
				</li>
			</ul>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen6.png"
				 data-fancybox="gallery" data-caption="Рисунок 6 – Настройка цвета графика для построения базовой линии">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen6.png"
					 alt="Рисунок 6">
			</a>
			<figcaption class="img-content__description">Рисунок 6 – Настройка цвета графика для построения базовой линии
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen7.png"
				 data-fancybox="gallery" data-caption="Рисунок 7 – Настройка дней исключения для построения базовой линии">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen7.png"
					 alt="Рисунок 7">
			</a>
			<figcaption class="img-content__description">Рисунок 7 – Настройка дней исключения для построения базовой линии
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">После заведения всех настроек и нажатия на кнопку <img
							src="components/_img/page-education/first-steps/button-add.png" alt="button add"> на экран выводится
				базовая линия (рисунок 8). </p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen8.png"
				 data-fancybox="gallery" data-caption="Рисунок 8 – Вывод базовой линии в окно построения">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen8.png"
					 alt="Рисунок 8">
			</a>
			<figcaption class="img-content__description">Рисунок 8 – Вывод базовой линии в окно построения
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav7" class="titleH1 title--dark title--bold">Создание обязательств по нагрузке</h2>
			<p class="custom-text">Для построения планового графика нагрузки со смещением (обязательств по нагрузке)
				необходимо принимать во внимание следующие параметры (в качестве примера, рассмотрим):</p>
			<ul class="list">
				<li class="list__item">Расчетный месяц – март, 2019г.</li>
				<li class="list__item">Событие управления спросом (план) – 27.03.2019г.</li>
				<li class="list__item">Дни исключения – выходные, 08.03.2019г.</li>
				<li class="list__item">Величина планового снижения: 1000кВт или 1МВт (задается Заказчиком)</li>
				<li class="list__item">Период снижения: 16:00 – 20:00 (задается СО).</li>
			</ul>
			<p class="custom-text">Для построения планового графика нагрузки со смещением выбираем соответствующую функцию из
				списка – <i>demand response discharge</i> (рисунок 9).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen9.png"
				 data-fancybox="gallery" data-caption="Рисунок 9 – Выбор функции построения планового графика нагрузки со
				смещением из списка заданных функций">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen9.png"
					 alt="Рисунок 9">
			</a>
			<figcaption class="img-content__description">Рисунок 9 – Выбор функции построения планового графика нагрузки со
				смещением из списка заданных функций
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Задаем настройки планового графика нагрузки со смещением:</p>
			<ul class="list">
				<li class="list__item">Цвет графика; целевой день (день предполагаемого события – <i>target_day1</i>), для
					которого строится график (рисунок 10);
				</li>
				<li class="list__item">Дни исключения (<i>exception_days</i> – праздничные дни; <i>except_weekends</i> –
					выходные дни, рисунок 11)
				</li>
				<li class="list__item">Начало периода планового снижения (<i>discharge_start_hour</i> – 16 часов, рисунок 11)
				</li>
				<li class="list__item">Период снижения (<i>discharge_duration</i> – 4 часа, рисунок 11);</li>
				<li class="list__item">Величина снижения (<i>discharge_value</i> – 1000 кВт, рисунок 11)</li>
			</ul>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen10.png"
				 data-fancybox="gallery" data-caption="Рисунок 10 – Настройка цвета графика для построения планового графика
				нагрузки со смещением">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen10.png"
					 alt="Рисунок 10">
			</a>
			<figcaption class="img-content__description">Рисунок 10 – Настройка цвета графика для построения планового графика
				нагрузки со смещением
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen11.png"
				 data-fancybox="gallery" data-caption="Рисунок 11 – Настройка дней исключения, величины и периода снижения
				для построения планового графика нагрузки со смещением">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen11.png"
					 alt="Рисунок 11">
			</a>
			<figcaption class="img-content__description">Рисунок 11 – Настройка дней исключения, величины и периода снижения
				для построения планового графика нагрузки со смещением
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">После заведения всех настроек и нажатия на кнопку <img
							src="components/_img/page-education/first-steps/button-add.png" alt="button add"> на экран в дополнение к
				базовой линии выводится плановый график нагрузки со смещением (рисунок 12).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen12.png"
				 data-fancybox="gallery" data-caption="Рисунок 12 – Вывод планового графика нагрузки со смещением в
				дополнение к базовой линии">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen12.png"
					 alt="Рисунок 12">
			</a>
			<figcaption class="img-content__description">Рисунок 12 – Вывод планового графика нагрузки со смещением в
				дополнение к базовой линии
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav8" class="titleH1 title--dark title--bold">Вывод фактического графика нагрузки</h2>
			<p class="custom-text">Для построения графика фактической нагрузки необходимо выгрузить в систему расчетный
				профиль электропотребления, полученный на основании показаний контрольных приборов учета за соответствующий
				период времени. При визуализации фактического профиля необходимо уделять особое внимание следующим параметрам
				профиля:</p>
			<ul class="list">
				<li class="list__item">Расчетный месяц – март, 2019г.</li>
				<li class="list__item">Событие управления спросом (план) – 27.03.2019г.</li>
				<li class="list__item">Период снижения: 16:00 – 20:00 (задается СО).</li>
			</ul>
			<p class="custom-text">После заведения всех настроек в дополнение к базовой линии и плановому графику нагрузки со
				смещением строится график фактической нагрузки (рисунок 13).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen13.png"
				 data-fancybox="gallery" data-caption="Рисунок 13 – Вывод графика фактической нагрузки в дополнение к
				базовой линии и плановому графику нагрузки со смещением">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen13.png"
					 alt="Рисунок 13">
			</a>
			<figcaption class="img-content__description">Рисунок 13 – Вывод графика фактической нагрузки в дополнение к
				базовой линии и плановому графику нагрузки со смещением
			</figcaption>
		</figure>
		<div class="text-content">
			<h2 id="nav9" class="titleH1 title--dark title--bold">Вывод DR-графиков за расчетный период</h2>
			<p class="custom-text">После вывода графиков с масштабированием в день события (по плану) осуществляется сравнение
				фактического потребления <i>DR_fact (АЗС: (In) Энергия)</i> с обязательствами по разгрузке <i>DR_discharge (DR discharge)</i>
				для каждого часа (16:00 – 20:00) в день события 27.03.2019г. (рисунок 14,15)</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen14.png"
				 data-fancybox="gallery" data-caption="Рисунок 14 – Задание периода отображения DR-графиков (27.03.2019)">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen14.png"
					 alt="Рисунок 14">
			</a>
			<figcaption class="img-content__description">Рисунок 14 – Задание периода отображения DR-графиков (27.03.2019)
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen15.png"
				 data-fancybox="gallery" data-caption="Рисунок 15 – Вывод DR-графиков с масштабированием в день события">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen15.png"
					 alt="Рисунок 15">
			</a>
			<figcaption class="img-content__description">Рисунок 15 – Вывод DR-графиков с масштабированием в день события
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Для того, чтобы проверить, проходит ли по факту снижение нагрузки в день события, необходимо на каждом часе на основании [1]:</p>
			<p class="custom-text">Подтвердить исполнение обязательств по снижению потребления объекта управления (далее – ОУ) при возникновении события управления спросом.</p>
			<p class="custom-text">Исполнение обязательств по фактическому снижению потребления объекта управления подтверждается по результатам процедуры определения объема фактического снижения потребления объекта управления на основании сравнения величин за соответствующий час расчетного периода между графиком фактической нагрузки и плановым графиком нагрузки со смещением (обязательства по разгрузке). В случае, если хотя бы за один из часов периода снижения обязательства по  разгрузке превышают график ожидаемой нагрузки, исполнение обязательств по фактическому снижению потребления ОУ не подтверждается, и событие управления спросом считается безуспешным [1]. В противном случае, событие управления спросом признается успешным и учитывается при дальнейших расчетах при построении DR-параметров.</p>
			<p class="custom-text">Необходимо рассмотреть каждый час периода снижения с подсчетом разницы между графиком фактической нагрузки и обязательствами по разгрузке (рисунок 16 – 20).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen16.png"
				 data-fancybox="gallery" data-caption="Рисунок 16 – DR-показатели по состоянию на 16:00 27.03.2019г.
				DR discharge < DR fact">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen16.png"
					 alt="Рисунок 16">
			</a>
			<figcaption class="img-content__description">Рисунок 16 – DR-показатели по состоянию на 16:00 27.03.2019г.
				DR discharge < DR fact
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen17.png"
				 data-fancybox="gallery" data-caption="Рисунок 17 – DR-показатели по состоянию на 17:00 27.03.2019г.
				DR discharge < DR fact">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen17.png"
					 alt="Рисунок 17">
			</a>
			<figcaption class="img-content__description">Рисунок 17 – DR-показатели по состоянию на 17:00 27.03.2019г.
				DR discharge < DR fact
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen18.png"
				 data-fancybox="gallery" data-caption="Рисунок 18 – DR-показатели по состоянию на 18:00 27.03.2019г.
				DR discharge < DR fact">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen18.png"
					 alt="Рисунок 18">
			</a>
			<figcaption class="img-content__description">Рисунок 18 – DR-показатели по состоянию на 18:00 27.03.2019г.
				DR discharge < DR fact
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen19.png"
				 data-fancybox="gallery" data-caption="Рисунок 19 – DR-показатели по состоянию на 19:00 27.03.2019г.
				DR discharge < DR fact">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen19.png"
					 alt="Рисунок 19">
			</a>
			<figcaption class="img-content__description">Рисунок 19 – DR-показатели по состоянию на 19:00 27.03.2019г.
				DR discharge < DR fact
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/dr-service-demand-management/screen20.png"
				 data-fancybox="gallery" data-caption="Рисунок 20 – DR-показатели по состоянию на 20:00 27.03.2019г.
				DR discharge > DR fact">
				<img class="img-content__image" src="components/_img/page-education/dr-service-demand-management/screen20.png"
					 alt="Рисунок 20">
			</a>
			<figcaption class="img-content__description">Рисунок 20 – DR-показатели по состоянию на 20:00 27.03.2019г.
				DR discharge > DR fact
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text"><b>Вывод:</b> по итогам DR-моделирования фактическое снижение мощности не было реализовано для заданного системным оператором периода времени (16:00 – 20:00) за 27.03.2019г. в связи со сбоем разгрузки в период с 16:00 до 19:00. Следовательно, исполнение обязательств по фактическому снижению потребления ОУ не подтверждается, и событие управления спросом считается безуспешным.</p>
			<p class="custom-text"><b>Используемые источники:</b></p>
			<ul class="list list--number">
				<li class="list__item">Порядок определения объемов оказанных услуг по управлению спросом. АО «СО ЕЭС».</li>
			</ul>
		</div>
	</div>

	<div class="second-page__right-block">
		<button class="button button-dark icon icon--pdf"><a download=""
																												 href="components/education/files/EMS_INSYTE_DR_fact.pdf">Скачать
			Pdf</a></button>
		<div class="second-page-nav page-navigation">
			<h2 class="page-navigation__title">Содержание</h2>
			<ul class="page-navigation__list">
				<li class="page-navigation__list-item">
					<a href="#nav1" class="page-navigation__list-link">DR-Сервис. Общие положения. Основные понятия</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav2" class="page-navigation__list-link">Контроль готовности объекта управления к снижению
						потребления</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav3" class="page-navigation__list-link">Подтверждение исполнения обязательств по снижению
						потребления объекта управления</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav4" class="page-navigation__list-link">Запуск DR – сервиса в системе EMS INSYTE</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav5" class="page-navigation__list-link">Исходные данные</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav6" class="page-navigation__list-link">Создание базовой линии</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav7" class="page-navigation__list-link">Создание обязательств по нагрузке</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav8" class="page-navigation__list-link">Вывод фактического графика нагрузки</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav9" class="page-navigation__list-link">Вывод DR-графиков за расчетный период</a>
				</li>
			</ul>
			<button class="page-navigation__button button button--green-dark"><a href="">Your Feedback</a></button>
		</div>
	</div>
</main>

<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Другие темы</h3>
    <button class="button button--blue"><a href="first-steps.html">Первые шаги</a></button>
    <button class="button button--blue"><a href="data-analysis.html">Анализ данных</a></button>
    <button class="button button--blue"><a href="data-visualization.html">Визуализация данных</a></button>
    <button class="button button--blue"><a href="DR-SERVICE-plan.html">Планирование разгрузки</a></button>
  </div>
</section>

@@include('./_footer.html')
</body>
</html>