@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="education__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">Первые шаги</h1>
		<p class="main-window__subtitle subtitle subtitle--white">Краткие методические указания</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="education.html">Education</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">Первые шаги</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<h2 id="nav1" class="titleH1 title--dark title--bold">Вход в систему</h2>
			<p class="custom-text">Для начала работы с системой EMS INSYTE необходимо зайти на официальный сайт продукта по
				адресу <a href="http://ems.insyte.ru/" class="link">http://ems.insyte.ru/</a> (рисунок 1). Рабочий язык сайта –
				русский и
				английский (рисунок 2).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/login.png"
				 data-fancybox="gallery" data-caption="Рисунок 1 – Вход в систему EMS INSYTE">
				<img class="img-content__image" src="components/_img/page-education/first-steps/login.png" alt="Log in">
			</a>
			<figcaption class="img-content__description">Рисунок 1 – Вход в систему EMS INSYTE</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/start-interface.png"
				 data-fancybox="gallery" data-caption="Рисунок 2 – Интерфейс пользователя при запуске EMS INSYTE">
				<img class="img-content__image" src="components/_img/page-education/first-steps/start-interface.png"
						 alt="Start Interface">
			</a>
			<figcaption class="img-content__description">Рисунок 2 – Интерфейс пользователя при запуске EMS INSYTE
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Для получения доступа к учетной записи необходимо обратиться к администратору сайта. Для
				авторизации пользователя и входа в личный кабинет пользователя необходимо указать логин/email и пароль, выданный
				администратором (Рисунок 1) Данные заносятся в соответствущие строки, авторизация пользователя завершается
				нажатием на кнопку </p>
		</div>
		<figure class="img-content">
			<img class="img-content__image" src="components/_img/page-education/first-steps/button-login.png"
					 alt="Button login">
		</figure>
		<div class="text-content">
			<p class="custom-text">В открывшемся рабочем окне в качестве элементов управления системы EMS INSYTE в контекстном
				меню (верхняя панель) представлены три основные составляющие:</p>
			<ul class="list">
				<li class="list__item">Нагрузки <img src="components/_img/page-education/first-steps/button-nagruz.png"
																						 alt="Нагрузки"></li>
				<li class="list__item">Импорт <img src="components/_img/page-education/first-steps/button-import.png"
																					 alt="Импорт"></li>
				<li class="list__item">Устройства <img src="components/_img/page-education/first-steps/button-deveices.png"
																							 alt="Устройства"></li>
			</ul>
			<p class="custom-text">Для того, чтобы импортировать данные в систему, необходимо осуществить следующий алгоритм
				действий:</p>
			<ul class="list">
				<li class="list__item">Создание нагрузки в системе</li>
				<li class="list__item">Создание устройства с привязкой к соответствущей нагрузке</li>
				<li class="list__item">Импорт данных с привязкой к соответствующему устройству</li>
			</ul>

			<h2 id="nav2" class="titleH1 title--dark title--bold">Создание нагрузки в системе</h2>
			<p class="custom-text">Для того, чтобы создать нагрузку в системе, необходимо нажать на вкладку
				<img src="components/_img/page-education/first-steps/button-nagruz.png" alt="Нагрузки"> на верхней панели
				(рисунок 3). </p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/top-panel.png"
				 data-fancybox="gallery" data-caption="Рисунок 3 – Вкладка «Нагрузки» на верхней панели">
				<img class="img-content__image" src="components/_img/page-education/first-steps/top-panel.png" alt="Top panel">
			</a>
			<figcaption class="img-content__description">Рисунок 3 – Вкладка «Нагрузки» на верхней панели</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">В системе предусмотрено два режима отображения нагрузок (рисунок 4):</p>
			<ul class="list">
				<li class="list__item">Иерархический режим <img src="components/_img/page-education/first-steps/button-list.png"
																												alt="Иерархический режим"></li>
				<li class="list__item">Режим отображения в формате эскизов изображений <img
								src="components/_img/page-education/first-steps/button-cards.png" alt="Эскизы изображений"></li>
			</ul>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen4.png"
				 data-fancybox="gallery" data-caption="Рисунок 4 – Режимы отображения нагрузок в системе">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen4.png" alt="Рисунок 4">
			</a>
			<figcaption class="img-content__description">Рисунок 4 – Режимы отображения нагрузок в системе</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">
				На сегодняшний день в составе EMS-системы заявлено несколько десятков нагрузок, к каждой из которых привязано
				определенное устройство (рисунок 5 – 6).
			</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen5.png"
				 data-fancybox="gallery" data-caption="Рисунок 5 – Список нагрузок в системе">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen5.png" alt="Рисунок 5">
			</a>
			<figcaption class="img-content__description">Рисунок 5 – Список нагрузок в системе</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen6.png"
				 data-fancybox="gallery" data-caption="Рисунок 6 – Примеры нагрузок в системе">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen6.png" alt="Рисунок 6">
			</a>
			<figcaption class="img-content__description">Рисунок 6 – Примеры нагрузок в системе</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">
				Каждая нагрузка может иметь в своем составе несколько состаляющих, для которых исходная будет играть роль
				родительской нагрузки. Например для группы нагрузок, представленных на рисунке 7, нагрузка «Техноград»,
				размещенная в фронтальной панели, будет являться родительской.
			</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen7.png"
				 data-fancybox="gallery" data-caption="Рисунок 7 – Примеры нагрузок в системе">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen7.png" alt="Рисунок 7">
			</a>
			<figcaption class="img-content__description">Рисунок 7 – Примеры нагрузок в системе</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Для создания нагрузки в системе требуется нажать плюс
				<img src="components/_img/page-education/first-steps/button-plus.png" alt="Кнопка добавить"> на правой верхней
				панели экрана (рисунок 8). Для добавления нагрузки в появившемся диалоговом окне потребуется ввести два
				параметра: </p>
			<ul class="list">
				<li class="list__item">Название нагрузки</li>
				<li class="list__item">Родительская нагрузка (в случае отсутствия родительной нагрузки указывается корень
					соответствующего раздела – Root)
				</li>
			</ul>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen8_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 8.1 – Добавление нагрузки на лицевую панель раздела
				«Нагрузки»">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen8_1.png" alt="Рисунок 8.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen8_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 8.2 – Добавление нагрузки на лицевую панель раздела
				«Нагрузки»">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen8_2.png" alt="Рисунок 8.2">
			</a>
			<figcaption class="img-content__description">Рисунок 8 – Добавление нагрузки на лицевую панель раздела
				«Нагрузки»
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Например: после добавления нагрузки Test_load в раздел «Нагрузки» на лицевой панели раздела
				появится соответствующий значок
				<img src="components/_img/page-education/first-steps/button-testLoad.png" alt="Test-load">
			</p>
			<p class="custom-text">Для того, чтобы добавить нагрузки, находящиеся в составе нагрузки <i>Test_load</i>,
				необходимо вновь нажать на плюс
				<img src="components/_img/page-education/first-steps/button-plus.png" alt="Кнопка добавить"> на правой панели
				экрана, создать новую нагрузку, в родительской нагрузке которой указать <i>Test_load</i> (рисунок 9).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen9_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 9.1 – Создание нагрузки Factory внутри нагрузки Test_load">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen9_1.png" alt="Рисунок 9.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen9_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 9.2 – Создание нагрузки Factory внутри нагрузки Test_load">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen9_2.png" alt="Рисунок 9.2">
			</a>
			<figcaption class="img-content__description">Рисунок 9 – Создание нагрузки Factory внутри нагрузки Test_load
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">В зависимости от характера импортируемой в систему нагрузки необходимо подобрать
				соответствующее изображение (виджет) из набора (архива) виджетов в формате .png, который будет направлен
				пользователю перед авторизацией в системе. </p>
			<div class="note">
				<p class="note__text"><span class="note__title">Примечание:</span> импорт изображения возможен только для
					нагрузок, родительская нагрузка которых не представляет собой корень раздела <i>(root)</i>. Нагрузки с
					родительской нагрузкой типа <i>root</i> отображаются в системе в виде вкладок на лицевой панели раздела.</p>
			</div>
		</div>

		<div class="text-content">
			<h2 id="nav3" class="titleH1 title--dark title--bold">Импорт устройства в систему</h2>
			<p class="custom-text">Следующим этапом после создания нагрузки является регистрация привязанного к ней устройства
				в системе.</p>
			<p class="custom-text">Добавление нового устройства в систему осуществляется нажатием на кнопку
				<img src="components/_img/page-education/first-steps/button-add-device.png" alt="Добавить устройство"></p>
			<div class="custom-text">В системе предусмотрено две категории устройств - реальные и виртуальные (рисунок 10).
			</div>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen10_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 10.1 – Импорт виртуального устройства в систему">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen10_1.png"
					 alt="Рисунок 10.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen10_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 10.2 – Импорт виртуального устройства в систему">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen10_2.png"
						 alt="Рисунок 10.2">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen10_3.png"
				 data-fancybox="gallery" data-caption="Рисунок 10.3 – Импорт виртуального устройства в систему">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen10_3.png"
						 alt="Рисунок 10.3">
			</a>
			<figcaption class="img-content__description">Рисунок 10 – Импорт виртуального устройства в систему</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Реальные устройства устанавливаются компанией ООО «ИНСАЙТ-МЕНЕДЖМЕНТ» в местах потребления
				энергоресурсов с автоматическим считыванием профилей энергопотребления и интеграцией их в систему EMS. </p>
			<p class="custom-text">Виртуальные устройства создаются пользователем в системе вручную с целью импорта данных для
				их дальнейшего исследования и анализа.</p>
			<p class="custom-text">Функция регистрации виртуального устройства в системе выполняется нажатием клавиши
				<img src="components/_img/page-education/first-steps/button-virtual.png" alt="Button virtual">
			</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen11_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 11.1 – Создание виртуального устройства в системе с привязкой к нагрузке Factory (родительская нагрузка – Test_load)">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen11_1.png"
					 alt="Рисунок 11.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen11_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 11.2 – Создание виртуального устройства в системе с привязкой к нагрузке Factory (родительская нагрузка – Test_load)">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen11_2.png"
					 alt="Рисунок 11.2">
			</a>
			<figcaption class="img-content__description">Рисунок 11 – Создание виртуального устройства в системе с привязкой к
				нагрузке
				<br><i><b>Factory</b> (родительская нагрузка – <b>Test_load</b>)</i>.
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen12_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 12.1 – Создание виртуального устройства Smart_Meter_Test в системе с привязкой к нагрузке Factory (родительская нагрузка – Test_load) с одной переменной Active_power,W">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen12_1.png"
					 alt="Рисунок 12.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen12_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 12.2 – Создание виртуального устройства Smart_Meter_Test в системе с привязкой к нагрузке Factory (родительская нагрузка – Test_load) с одной переменной Active_power,W">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen12_2.png"
					 alt="Рисунок 12.2">
			</a>
			<figcaption class="img-content__description">Рисунок 12 – Создание виртуального устройства
				<i><b>Smart_Meter_Test</b></i>
				в системе с привязкой к нагрузке <i><b>Factory</b> (родительская нагрузка – <b>Test_load</b>)</i> с одной
				переменной <i>Active_power,W</i>
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Каждое устройство характеризуется набором переменных считывания, которые также должны
				указываться в системе с привязкой к соответствующей нагрузке (рисунок 11, 12).</p>
			<p class="custom-text">Для редактирования виртуального устройства необходимо перейти в режим настройки кнопкой
				<img src="components/_img/page-education/first-steps/button-edit-deveices.png" alt="edit device">. Откроется
				диалоговое окно с параметрами настройки, в котором возможно либо удалить само устройство либо дополнять/убавлять
				количество его переменных с соответствующими настройками (Рисунок 13). </p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen13_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 13.1 – Окно редактирования виртуального устройства Smart_Meter_Test">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen13_1.png"
					 alt="Рисунок 13.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen13_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 13.2 – Окно редактирования виртуального устройства Smart_Meter_Test">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen13_2.png"
					 alt="Рисунок 13.2">
			</a>
			<figcaption class="img-content__description">Рисунок 13 – Окно редактирования виртуального устройства
				<i><b>Smart_Meter_Test</b></i></figcaption>
		</figure>
		<div class="text-content">
			<div class="note">
				<p class="note__text"><span class="note__title">Примечание:</span> дата/время является не переменной, а
					метрикой; в качестве отдельной переменной устройства не указывается.</p>
			</div>
		</div>

		<div class="text-content">
			<h2 id="nav4" class="titleH1 title--dark title--bold">Импорт данных в систему</h2>
			<p class="custom-text">Заключительным этапом перед построением дашбордов с последующим исследованием и анализом
				данных является импорт данных в EMS-систему с привязкой к определенному устройству.</p>
			<div class="note">
				<p class="note__text"><span class="note__title">Примечание:</span> данные выгружаются в систему в формате .csv
				</p>
			</div>
			<p class="custom-text">Импорт данных осуществляется с внутренних устройств (в реальные устройства – см. п.1.3) и
				внешних устройств (в виртуальные устройства). Импорт данных в виртуальные устройства реализуется нажатием на
				кнопку
				<img src="components/_img/page-education/first-steps/button-file.png" alt="Button file">
			</p>
			<p class="custom-text">После нажатия на кнопку необходимо указать путь к директории, где хранится файл и нажать на
				него одним кликом (рисунок 14).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen14_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 14.1 – Импорт данных из файла Test_data в систему EMS">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen14_1.png"
					 alt="Рисунок 14.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen14_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 14.2 – Импорт данных из файла Test_data в систему EMS">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen14_2.png"
					 alt="Рисунок 14.2">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen14_3.png"
				 data-fancybox="gallery" data-caption="Рисунок 14.3 – Импорт данных из файла Test_data в систему EMS">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen14_3.png"
					 alt="Рисунок 14.3">
			</a>
			<figcaption class="img-content__description">Рисунок 14 – Импорт данных из файла <i><b>Test_data</b></i> в систему
				EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Для того, чтобы осуществить импорт данных корректно, рекомендуется предварительно
				воспользоваться простым текстовым редактором (пр. Блокнот) для открытия файла и определения следующих его
				параметров (рисунок 14, 15):</p>
			<ul class="list">
				<li class="list__item">Разделитель между ячейками строки</li>
				<li class="list__item">Формат даты и времени в загружаемом файле</li>
			</ul>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen15_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 15.1 – Настройка импорта данных из файла Test_data в систему EMS">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen15_1.png"
					 alt="Рисунок 15.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen15_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 15.2 – Настройка импорта данных из файла Test_data в систему EMS">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen15_2.png"
					 alt="Рисунок 15.2">
			</a>
			<figcaption class="img-content__description">Рисунок 15 – Настройка импорта данных из файла
				<i><b>Test_data</b></i>
				в систему EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Каждой переменной устройства соответствует один импортируемый csv-файл.</p>
			<p class="custom-text">Для того, чтобы отнести импортируемые в заданном формате данные к соответствующей
				переменной, необходимо в поле
				<img src="components/_img/page-education/first-steps/input-peremen.png" alt="Выбрать переменную"> <br> задать
				переменную устройства для импорта.
			</p>
			<p class="custom-text">В случае распознавания файла системой строится график с фрагментом считанных данных
				(Рисунок 16). Для завершения процедуры импорта необходимо нажать клавишу
				<img src="components/_img/page-education/first-steps/button-import-data.png" alt="Import data">
			</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen16_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 16.1 – Настройка импорта данных из файла Test_data в систему EMS с распознаванием">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen16_1.png"
					 alt="Рисунок 16.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen16_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 16.2 – Настройка импорта данных из файла Test_data в систему EMS с распознаванием">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen16_2.png"
					 alt="Рисунок 16.2">
			</a>
			<figcaption class="img-content__description">Рисунок 16 – Настройка импорта данных из файла
				<i><b>Test_data</b></i>
				в систему EMS с распознаванием
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">В случае проведения успешного импорта данных пользователю будет выдано уведомление (рисунок
				17).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen17.png"
				 data-fancybox="gallery" data-caption="Рисунок 17 – Уведомление об успешном импорте данных из файла Test_data в систему EMS">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen17.png"
					 alt="Рисунок 17">
			</a>
			<figcaption class="img-content__description">Рисунок 17 – Уведомление об успешном импорте данных из файла
				<i><b>Test_data</b></i> в систему EMS
			</figcaption>
		</figure>

		<div class="text-content">
			<h2 id="nav5" class="titleH1 title--dark title--bold">Создание дашборда</h2>
			<p class="custom-text">Для создания дашборда пользователю необходимо раскрыть панель, расположенную слева в
				рабочем окне (Рисунок 18).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen18.png"
				 data-fancybox="gallery" data-caption="Рисунок 18 – Создание дашборда">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen18.png"
					 alt="Рисунок 18">
			</a>
			<figcaption class="img-content__description">Рисунок 18 – Создание дашборда</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">После нажатия на кнопку пользователь переходит в рабочую область системы EMS для создания
				дашбордов.</p>
			<p class="custom-text"><b>Дашборд</b> (англ. dashboard – информационная панель) – визуальное представление данных,
				сгруппированных по смыслу на одном экране для более легкого визуального восприятия информации.</p>
			<p class="custom-text">Для того, чтобы сформировать дашборд, пользователю достаточно собрать ключевые метрики,
				которые необходимо отобразить.</p>
			<p class="custom-text">Как только необходимые данные (предварительно импортированные в систему с привязкой к
				конкретному устройству, установленному на конкретной нагрузке – см. пп. 1.2–1.4) будут подобраны пользователем,
				их необходимо отразить на дашборде с помощью специально разработанных инструментов визуализации –
				<b>виджетов</b> – в
				которых уже сгруппированы необходимые функции и параметры, что значительно упрощает работу с метриками и
				приводит к созданию значимых информационных панелей.</p>
			<p class="custom-text">Для повышения гибкости и адаптируемости системы при работе с требованиями (к визуализации
				данных) Заказчиков в системе предусмотрены различные виджеты (рисунок 19).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen19_1.png"
				 data-fancybox="gallery" data-caption="Рисунок 19.1 – Информационная панель с доступными виджетами на этапе
				формирования дашборда">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen19_1.png"
					 alt="Рисунок 19.1">
			</a>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen19_2.png"
				 data-fancybox="gallery" data-caption="Рисунок 19.2 – Информационная панель с доступными виджетами на этапе
				формирования дашборда">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen19_2.png"
					 alt="Рисунок 19.2">
			</a>
			<figcaption class="img-content__description">Рисунок 19 – Информационная панель с доступными виджетами на этапе
				формирования дашборда
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Для того, чтобы добавить виджет в рабочую область, на него необходимо нажать и, не
				отпуская, перетащить в рабочую область.</p>
			<p class="custom-text">Ключевой этап в создании дашборда – расстановка виджетов с масштабированием в окне
				размещения элементов в режиме редактирования в порядке, удобном для восприятия и демонстрации (Рисунок 20,
				Рисунок 21).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen20.png"
				 data-fancybox="gallery" data-caption="Рисунок 20 – Режим редактирования дашборда.
				Окно размещения элементов дашборда">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen20.png"
					 alt="Рисунок 20">
			</a>
			<figcaption class="img-content__description">Рисунок 20 – Режим редактирования дашборда.
				Окно размещения элементов дашборда
			</figcaption>
		</figure>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen21.png"
				 data-fancybox="gallery" data-caption="Рисунок 21 – Расстановка виджетов в окне размещения элементов
				дашборда Test">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen21.png"
					 alt="Рисунок 21">
			</a>
			<figcaption class="img-content__description">Рисунок 21 – Расстановка виджетов в окне размещения элементов
				дашборда <i><b>Test</b></i>
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">После настройки и редактирования всех опций внесенные в режиме редактирования изменения
				необходимо сохранить и перейти к формированию дашборда с названием <i><b>Test</b></i> нажатием на кнопку
				(рисунок
				22).
				<img src="components/_img/page-education/first-steps/button-add-dashboard.png" alt="add Dashboard"></p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen22.png"
				 data-fancybox="gallery" data-caption="Рисунок 22 – Заключительный этап создания дашборда в ржиме
				редактирования после настройки всех виджетов">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen22.png"
					 alt="Рисунок 22">
			</a>
			<figcaption class="img-content__description">Рисунок 22 – Заключительный этап создания дашборда в ржиме
				редактирования после настройки всех виджетов
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">В случае корректного ввода опциональных параметров в каждом виджете и правильных настроек
				дашборда после нажатия на кнопку <img src="components/_img/page-education/first-steps/button-add-dashboard.png"
																							alt="add Dashboard"> пользователь системы будет проинформирован об
				успешном создании дашборда
				диалоговым окном с соответствующим подтверждением (рисунок 23).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen23.png"
				 data-fancybox="gallery" data-caption="Рисунок 23 – Диалоговое окно
				с подтверждением успешного создания дашборда в системе EMS">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen23.png"
					 alt="Рисунок 23">
			</a>
			<figcaption class="img-content__description">Рисунок 23 – Диалоговое окно
				с подтверждением успешного создания дашборда в системе EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Для того, чтобы отобразить созданный в системе EMS дашборд Test, необходимо на правой синей
				панели системы нажать на значок <img src="components/_img/page-education/first-steps/button-speed.png"
																						 alt="speed">. После нажатия на синей панели справа раскроется список всех
				действующих
				дашбордов, ранее созданных в рабочем кабинете пользователя (рисунок 24). </p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen24.png"
				 data-fancybox="gallery" data-caption="Рисунок 24 – Список действующих дашбордов в системе EMS">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen24.png"
					 alt="Рисунок 24">
			</a>
			<figcaption class="img-content__description">Рисунок 24 – Список действующих дашбордов в системе EMS</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">Требуется зайти в окно визуализации дашборда <i><b>Test</b></i> по названию, размещенному
				на синей
				панели. Для отображения всех размещенных на дашборде <i><b>Test</b></i> графиков необходимо настроить период
				отображения <i>(с
					дата/время по дата/время)</i> в левом верхнем углу экрана (рисунок 25).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen25.png"
				 data-fancybox="gallery" data-caption="Рисунок 25 – Настройка периода отображения графиков
				на дашборде Test">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen25.png"
					 alt="Рисунок 25">
			</a>
			<figcaption class="img-content__description">Рисунок 25 – Настройка периода отображения графиков
				на дашборде <i><b>Test</b></i>
			</figcaption>
		</figure>
		<div class="text-content">
			<div class="note">
				<p class="note__text"><span class="note__title">Примечание:</span> дата/время указывается корректно – в
					соответствии с периодом считывания профилей, импортированных в систему.</p>
			</div>
			<p class="custom-text">После настройки периода отображения графиков необходимо нажать на кнопку
				<img src="components/_img/page-education/first-steps/button-apply.png" alt="button apply">. Все графики,
				настроенные в соответствии с заведенными на этапе создания (в режиме редактирования) дашборда в системы EMS
				опциональными параметрами, отобразятся на экране дашборда (рисунок 27).</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-education/first-steps/screen26.png"
				 data-fancybox="gallery" data-caption="Рисунок 26 – Отображение графиков на дашборде Test в
				соответствии с настроенными
				ранее опциональными параметрами на этапе создания (в режиме редактирования) дашборда в системе EMS">
				<img class="img-content__image" src="components/_img/page-education/first-steps/screen26.png"
					 alt="Рисунок 26">
			</a>
			<figcaption class="img-content__description">Рисунок 26 – Отображение графиков на дашборде <b><i>Test</i></b> в
				соответствии с настроенными
				ранее опциональными параметрами на этапе создания (в режиме редактирования) дашборда в системе EMS
			</figcaption>
		</figure>
		<div class="text-content">
			<p class="custom-text">После визуализации всех необходимых графиков можно приступить к анализу данных.</p>
		</div>

		
	</div>

	<div class="second-page__right-block">
		<button class="button button-dark icon icon--pdf"><a download=""
																												 href="components/education/files/EMS_INSYTE_First_steps.pdf">Скачать
			Pdf</a></button>
		<div class="second-page-nav page-navigation">
			<h2 class="page-navigation__title">Содержание</h2>
			<ul class="page-navigation__list">
				<li class="page-navigation__list-item">
					<a href="#nav1" class="page-navigation__list-link">Вход в систему</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav2" class="page-navigation__list-link">Создание нагрузки в системе</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav3" class="page-navigation__list-link">Импорт устройства в систему</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav4" class="page-navigation__list-link">Импорт данных в систему</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav5" class="page-navigation__list-link">Создание дашборда</a>
				</li>
			</ul>
			<button class="page-navigation__button button button--green-dark"><a href="">Your Feedback</a></button>
		</div>
	</div>
</main>

<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Другие темы</h3>
    <button class="button button--blue"><a href="data-visualization.html">Визуализация данных</a></button>
    <button class="button button--blue"><a href="data-analysis.html">Анализ данных</a></button>
    <button class="button button--blue"><a href="DR-SERVICE-Demand-Management.html">Контроль выполнения разгрузки</a>
    </button>
    <button class="button button--blue"><a href="DR-SERVICE-plan.html">Планирование разгрузки</a></button>
  </div>
</section>

@@include('./_footer.html')
</body>
</html>