<div class="aboutme__left-block-accordion accordion">
    <h3 class="accordion__item accordion__item--active">
        <span class="accordion__title">Разработка Сайта</span>
    </h3>
    <div>
      <p class="accordion__description accordion__description--show">Если вы уже ответили на вопросы: какая цель сайта и знаете примерно для какой аудитории нацелен ваш сайт, нажмите кнопку <br><b class="titleH2--yellow">«Заказать дизайн»</b> <br> <b class="titleH3--blue">«Заказать сайт»</b> <br> в зависимости, какая услуга вам нужна, и отправьте вашу контактную информацию для дальнейшего сотрудничества.<br> <br> Подробнее почитать из каких этапов состоит разработка сайта можно тут 👉 <a class="link" href="http://tilda.education/courses/web-design/basicsteps/" target="_blank">Разработка сайта</a></p>
    </div>

    <h3 class="accordion__item">
        <span class="accordion__title">Доработать существующий дизайн</span>
    </h3>
    <div>
      <p class="accordion__description accordion__description--show">Если у вас существующий сайт и вы хотели бы его преобразить, напишите мне и мы подумаем что можно сделать.</p>
    </div>

    <h3 class="accordion__item">
        <span class="accordion__title">Создание анимации на сайте</span>
    </h3>
    <div>
      <p class="accordion__description accordion__description--show">Нравиться создавать интерактивные сайты. Работать с анимацией на сайте, а именно с SVG Анимацией.</p>
    </div>

    //<h3 class="accordion__item">
    //    <span class="accordion__title">Работа с React.js библиотекой</span>
    //</h3>
    //<div>
    //  <p class="accordion__description accordion__description--show">Есть опыт работы с React.js, используя синтаксис JSX, данная страница сделана на React.js, подробнее про разработку можно почитать тут 👉</p>
    //</div>
</div>