<section class="tools">
  <div class="tools__container">
    <h4 class="aboutme__titleH4 titleH4">Рабочие инструменты: </h4>

    <div class="tools__images">
      <div class="tools__images-container">
        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image" src="img/_src/_aboutme/_developing-tools/design/sketch.svg" alt="sketch"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/design/widget-line/widget-line-sk.svg" alt="Sketch Indicator">
              <p class="tools__image-description-percent">90%</p>
              <h5 class="titleH5">Sketch</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image" src="img/_src/_aboutme/_developing-tools/design/adobe-photoshop.svg" alt="Photoshop"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/design/widget-line/widget-line-ph.svg" alt="Photoshop Indicators">
              <p class="tools__image-description-percent">60%</p>
              <h5 class="titleH5">Photoshop</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image" src="img/_src/_aboutme/_developing-tools/design/adobe-illustrator.svg" alt="Illustrator"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/design/widget-line/widget-line-il.svg" alt="Illustrator Indicators">
              <p class="tools__image-description-percent">60%</p>
              <h5 class="titleH5">Illustrator</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image icon-figma" src="img/_src/_aboutme/_developing-tools/design/figma.svg" alt="Figma"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/design/widget-line/widget-line-fig.svg" alt="Figma Indicators">
              <p class="tools__image-description-percent">80%</p>
              <h5 class="titleH5">Figma</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image tools__image-principle" src="img/_src/_aboutme/_developing-tools/design/principle.svg" alt="Principle"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/design/widget-line/widget-line-prin.svg" alt="Principle Indicators">
              <p class="tools__image-description-percent">50%</p>
              <h5 class="titleH5">Principle</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
