<div class="tools">
  <div class="tools__container">

    <h4 class="aboutme__titleH4 titleH4">Рабочие инструменты: </h4>

    <div class="tools__images">
      <div class="tools__images-container">

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image" src="img/_src/_aboutme/_developing-tools/developing/html5.svg" alt="HTML5"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/developing/widget-line/widget-line-html.svg" alt="HTML5 Indicators">
              <p class="tools__image-description-percent">80%</p>
              <h5 class="titleH5">HTML5</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image icon-sass" src="img/_src/_aboutme/_developing-tools/developing/sass.svg" alt="Sass"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/developing/widget-line/widget-line-sass.svg" alt="Sass Indicators">
              <p class="tools__image-description-percent">65%</p>
              <h5 class="titleH5">Sass</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image" src="img/_src/_aboutme/_developing-tools/developing/js.svg" alt="JS"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/developing/widget-line/widget-line-js.svg" alt="JS Indicators">
              <p class="tools__image-description-percent">85%</p>
              <h5 class="titleH5">JavaScript</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image icon-npm" src="img/_src/_aboutme/_developing-tools/developing/npm.svg" alt="NPM"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/developing/widget-line/widget-line-npm.svg" alt="NPM Indicators">
              <p class="tools__image-description-percent">30%</p>
              <h5 class="titleH5">npm</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image icon-gulp" src="img/_src/_aboutme/_developing-tools/developing/gulp.svg" alt="Gulp"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/developing/widget-line/widget-line-gulp.svg" alt="Gulp Indicators">
              <p class="tools__image-description-percent">45%</p>
              <h5 class="titleH5">Gulp</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <img class="tools__image" src="img/_src/_aboutme/_developing-tools/developing/react.svg" alt="React"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/developing/widget-line/widget-line-react.svg" alt="React Indicators">
              <p class="tools__image-description-percent">75%</p>
              <h5 class="titleH5">React</h5>
          </div>
        </div>

        <div class="tools__image-item">
          <span class="icon-info"></span>
          <a href="/works" class="tools__link"><span class="tools__link-icon" title="Ссылка на GitLab"></span></a>
          <img class="tools__image icon-git" src="img/_src/_aboutme/_developing-tools/developing/github-logo.svg" alt="Git"/>

          <div class="tools__image-description">
              <img class="tools__image-description-indicator" src="img/_src/_aboutme/_developing-tools/developing/widget-line/widget-line-git.svg" alt="Git Indicators">
              <p class="tools__image-description-percent">55%</p>
              <h5 class="titleH5">Git</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
