<div class="aboutme__left-block">
    <div class="aboutme__left-block--social contacts-social">
        <a class="contacts-social__link" href="https://www.instagram.com/o_upsssss" target="_blank">
            <img class="contacts-social__icon" src="img/_src/_contacts/social/instagram.svg" alt="Instagram">
        </a>
        <a class="contacts-social__link" href="https://vk.com/azmagulov" target="_blank">
            <img class="contacts-social__icon contacts-social__icon_vkontakte" src="img/_src/_contacts/social/vk.svg" alt="Vkontakte">
        </a>
        <a class="contacts-social__link" href="tg://resolve?domain=AZmagulov">
            <img class="contacts-social__icon contacts-social__icon_telegram" src="img/_src/_contacts/social/telegram.svg" alt="Telegram">
        </a>
        <a class="contacts-social__link" href="https://www.behance.net/azmaghulovce59" target="_blank">
            <img class="contacts-social__icon contacts-social__icon_behance" src="img/_src/_contacts/social/behance.svg" alt="Behance">
        </a>
        //<a href="#git" target="_blank">
        //  <img class="contacts-social__icon contacts-social__icon_git" src="img/_src/_aboutme/_developing-tools/developing/github-logo.svg" alt="Git">
        //</a>
    </div>
    <div class="aboutme__left-block-container">
        <p class="hello-text">Привет! ✌️ <br>Спасибо, что заглянул! Я
        <kbd class="hello-text__frontend">frontend</kbd> разработчик, разрабатываю сайты начиная с проектирования дизайна и заканчивая рабочей веб-страницей в интернете.
        </p>

        include _accordion.pug
    </div>
</div>