<div class="aboutme__right-block">
  <div class="aboutme__right-block-container">
    <h2 class="aboutme__right-block-titleH2 titleH2">Я могу разработать:</h2>

    <section class="developing design-site">
      <h3 class="developing__titleH3 titleH3 titleH3--yellow">Дизайн сайта, <br>Мобильного приложения</h3>

      <div class="design-site__brief popup" body-scroll-lock-ignore>
        <div class="popup__logotype-AZ logotype-AZ main-window__logotype-AZ"></div>
        <div class="preloader-face"></div>
        <div class="design-site__brief-container popup__container">

        //- template(id="popup-design-form")
        //-   include ../forms/popup-design-brief.pug

        </div>
      </div>

      <div class="developing__content">
        <div class="developing__image-container">
          <button class="design-site__brief-button developing__button button button--yellow">Заказать дизайн</button>

          include ../../../public/img/_src/_aboutme/design-site.svg
        </div>

        <div class="developing__description">
          <div class="developing__description-container">
            <section class="works">
              <div class="aboutme__works">
                <h4 class="aboutme__titleH4 titleH4">Работы: </h4>
                include _slider.pug
              </div>
            </section>
            <span class="separator"></span>
            include _design-tools.pug
          </div>
      </div>
      </div>
    </section>

    <section class="developing developing-site">
      <h3 class="developing__titleH3 titleH3 titleH3--blue">Разработка сайта</h3>

      <div class="error-navigate">
        <div class="error-navigate__container">
          <p class="error-navigate__message">Заполните поля отмеченные <b>*</b></p>
        </div>
      </div>

      <div class="developing__content">
        <div class="developing__image-container">
          <button class="developing-site-order__button developing__button button button--blue">Заказать сайт</button>

          include ../../../public/img/_src/_aboutme/developing-site.svg
        </div>

        <div class="developing__description">
          <div class="developing__description-container">

            <div class="works">
              <div class="aboutme__works">
                <h4 class="aboutme__titleH4 titleH4">Работы: </h4>
                include _slider-develop.pug
              </div>
            </div>

            <span class="separator"></span>

            include _developing-tools.pug
          </div>
        </div>
      </div>
    </section>
  </div>
</div>