<figure class="slider">
  <div class="slider__container">

    <div class="slider__item slider__item--active">
        <img class="slider__image" src="img/_src/_aboutme/_slider/design/ems-insyte-small300.png" alt="EMS Insyte">

        <div class="slider__description">
            <div class="slider__description-container">

                <ul class="slider__list list">
                    <li class="slider__list-item-company-name list__item" title="EMS Insyte">
                        <small class="list__small-text">Название сайта</small>EMS Insyte
                    </li>
                    <li class="list__item--year list__item">
                        <small class="list__small-text"><span class="list__small-text-year">2019</span>Год</small>
                    </li>
                    //<li class="list__item">
                    //    <small class="list__small-text">Тип сайта</small>
                    //    <a class="list__link" href="#">Корпоративный</a>
                    //</li>
                    <li class="list__item">
                        <a class="list__link link link--earth" href="/i/insyte">EMS Insyte</a>
                    </li>
                </ul>

                <a href="works/design/3">
                    <span class="button__icon" title="Подробнее..."></span>
                </a>

            </div>
        </div>
    </div>

    <div class="slider__item">
        <img class="slider__image" src="img/_src/_aboutme/_slider/design/Cryptos-small300.png" alt="Cryptos">

        <div class="slider__description">
            <div class="slider__description-container">

            <ul class="slider__list list">
                <li class="slider__list-item-company-name list__item" title="Cryptos">
                    <small class="list__small-text">Название сайта</small>Cryptos
                </li>
                <li class="list__item--year list__item">
                    <small class="list__small-text"><span class="list__small-text-year">2019</span>Год</small>
                </li>
                //<li class="list__item">
                //    <small class="list__small-text">Тип сайта</small>
                //    <a class="list__link" href="#">Корпоративный</a>
                //</li>
                //<li class="list__item">
                //    <small class="list__small-text">Адрес сайта:</small>
                //    <a class="list__link" href="#">Insyte</a>
                //</li>
            </ul>

            <a href="works/design/2">
                <span class="button__icon" title="Подробнее..."></span>
            </a>

            </div>
        </div>
    </div>

    <div class="slider__item">
        <img class="slider__image" src="img/_src/_aboutme/_slider/design/insyte2-small300.png" alt="Insyte">

        <div class="slider__description">
            <div class="slider__description-container">

            <ul class="slider__list list">
                <li class="slider__list-item-company-name list__item" title="Insyte">
                    <small class="list__small-text">Название сайта</small>Insyte
                </li>
                <li class="list__item--year list__item">
                    <small class="list__small-text"><span class="list__small-text-year">2018</span>Год</small>
                </li>
                //<li class="list__item">
                //    <small class="list__small-text">Адрес сайта:</small>
                //    <a class="list__link" href="#">Insyte</a>
                //</li>
            </ul>

            <a href="works/design/4">
                <span class="button__icon" title="Подробнее..."></span>
            </a>

            </div>
        </div>
    </div>

    <div class="slider__item">
        <img class="slider__image" src="img/_src/_aboutme/_slider/design/koncurs-small300.png" alt="Koncurs">

        <div class="slider__description">
            <div class="slider__description-container">

                <ul class="slider__list list">
                    <li class="slider__list-item-company-name list__item" title="Сайт конкурсов">
                        <small class="list__small-text">Название сайта</small>Сайт конкурсов
                    </li>
                    <li class="list__item--year list__item">
                        <small class="list__small-text"><span class="list__small-text-year">2017</span>Год</small>
                    </li>
                    //<li class="list__item">
                    //    <small class="list__small-text">Тип сайта</small>
                    //    <a class="list__link" href="#">Корпоративный</a>
                    //</li>
                </ul>

                <a href="works/design/5">
                    <span class="button__icon" title="Подробнее..."></span>
                </a>

            </div>
        </div>
    </div>

    <div class="slider__item">
        <img class="slider__image" src="img/_src/_aboutme/_slider/design/mountains-small300.png" alt="Mountains">

        <div class="slider__description">
            <div class="slider__description-container">

                <ul class="slider__list list">
                    <li class="slider__list-item-company-name list__item" title="Укротитель гор">
                        <small class="list__small-text">Название сайта</small>Укротитель гор
                    </li>
                    <li class="list__item--year list__item">
                        <small class="list__small-text"><span class="list__small-text-year">2017</span>Год</small>
                    </li>
                    //<li class="list__item">
                    //    <small class="list__small-text">Тип сайта</small>
                    //    <a class="list__link" href="#">Корпоративный</a>
                    //</li>
                    //<li class="list__item">
                    //    <small class="list__small-text">Адрес сайта:</small>
                    //    <a class="list__link" href="#">Insyte</a>
                    //</li>
                </ul>

                <a href="works/design/1">
                    <span class="button__icon" title="Подробнее..."></span>
                </a>

            </div>
        </div>
    </div>

    <div class="slider__arrow-navigation">
        <span class="icon-arrow-left"></span>
        <span class="icon-arrow-right"></span>
    </div>

    <div class="slider__dot-navigation"></div>

  </div>
</figure>