.finished-brief__contacts
  flex-grow: 2
  color: #424242

  b
    color: #6d6d6d
    font-weight: 400

    a
      color: inherit
      border-bottom: 1px solid #6d6d6d
      padding-bottom: 2px
      &:hover
        text-decoration: none
        color: #bdbdbd
        border-bottom: 1px solid #bdbdbd
  
  span
    display: block

.finished-brief__header 
  display: flex
  justify-content: space-between
  align-items: flex-start

.finished-brief__logo 
  position: absolute
  margin-top: 40px
  margin-bottom: 40px
  right: 20px

.finished-brief__titleH1 
  font-size: 40px

.finished-brief__titleH2 
  color: #696969
  font-weight: 300
  font-size: 20px
  line-height: 24px
  margin-bottom: 12px
  margin-top: 40px
  position: relative
  &:before
    content: ''
    width: 20px
    height: 1px
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: -36px
    margin: auto
    background: #ffffff1c

.finished-brief__textarea, .finished-brief__inputText 
  margin-bottom: 0


.finished-brief__text
  color: #afafaf
  line-height: 20px
  position: relative


.finished-brief__checkboxList-label, .finished-brief__radioList-label
  margin-left: 20px

  &:before
    content: ''
    width: 16px
    height: 16px
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: -20px
    margin: auto
    background: url('../img/_src/icons/tick.svg') no-repeat
    background-size: 100%

.finished-brief__checkboxList-textarea, .finished-brief__radioList-textarea
  margin-left: 20px
  margin-top: -8px
  border-left: 1px solid #ffffff1c
  padding-left: 12px

.icon-download 
  background: url("../../img/_src/icons/files-save-document.svg") no-repeat
  background-position: center
  opacity: .7
  background-size: 50%

.icon-print 
  background: url("../../img/_src/icons/print.svg") no-repeat
  background-position: center
  opacity: .7
  background-size: 50%

@media (min-width: 1px)
  .finished-brief__logo
    position: absolute
    margin-top: 40px
    padding-bottom: 40px
    right: 20px

@media (min-width: 768px)
  .finished-brief__logo
    position: absolute
    margin-top: 40px
    margin-bottom: 40px
    padding-bottom: 0
    right: 20px
