@keyframes mouse-scroll
	0%
		top: 0

	50%
		top: 8px

	100%
		top: 0

@keyframes light-window
  0%
    opacity: 0

  50%
    opacity: .6

  100%
    opacity: 0

@keyframes glich_background
  0%
    opacity: 0.02

  50%
    opacity: 0.1

  100%
    opacity: 0.02

@keyframes blur_background
  0%
    opacity: 0.05

  50%
    opacity: 0.2

  100%
    opacity: 0.05

@keyframes Azmagulov
  0%
    opacity: 0.3

  50%
    opacity: 0.7

  100%
    opacity: 0.3

@keyframes slide
  from
    transform: translateX(-200px)
    transform: translateY(-100px)

  50%
    transform: translateY(40px)
    transform: translateX(40px)

  to
    transform: translateX(-200px)
    transform: translateY(-100px)


@keyframes dashray
  0%
    stroke-dasharray: 0 140px
    stroke-dashoffset: 180px
    stroke: #ffffff15

  50%
    stroke-dasharray: 180px 0
    stroke-dashoffset: 0px
    stroke: #ffffff45

  100%
    stroke-dasharray: 0 140px
    stroke: #ffffff10
    stroke-dashoffset: 180px


@keyframes dashray2
  0%
    stroke-dasharray: 0 100px
    stroke-dashoffset: 100px
    stroke: #ffffff15

  50%
    stroke-dasharray: 100px 0
    stroke-dashoffset: 0
    stroke: #ffffff45

  100%
    stroke-dasharray: 0 100px
    stroke: #ffffff10
    stroke-dashoffset: 100px


@keyframes blocksDown
  0%
    transform: translateY(-200px) scale(1)

  20%
    transform: translateY(0) scale(.9)

  25%
    transform: scale(1)

  50%
    transform: scale(.95)

  80%
    transform: scale(1)

  90%
    transform: translateY(0) scale(.9)

  100%
    transform: translateY(200px) scale(1.2)


@keyframes blocksRight
  0%
    transform: translateX(200px) scale(1)

  20%
    transform: translateX(0) scale(.9)

  25%
    transform: scale(1)

  50%
    transform: scale(.85)

  80%
    transform: scale(1)

  85%
    transform: translateX(0) scale(.9)

  100%
    transform: translateX(-200px) scale(1.2)


@keyframes blocksLeft
  0%
    transform: translateX(-200px) scale(1)

  20%
    transform: translateX(0) scale(.9)

  25%
    transform: scale(1)

  50%
    transform: scale(.85)

  80%
    transform: scale(1)

  85%
    transform: translateX(0) scale(.9)

  100%
    transform: translateX(200px) scale(1.2)

@keyframes blocksUp
  0%
    transform: translateY(200px) scale(1)

  20%
    transform: translateY(0) scale(.9)

  25%
    transform: scale(1)

  50%
    transform: scale(.9)

  80%
    transform: scale(1)

  85%
    transform: translateY(0) scale(.9)

  100%
    transform: translateY(-200px) scale(1.2)

@keyframes scaleHeader
  0%
    transform: scale(1)

  20%
    transform: scale(1.05)

  80%
    transform: scale(1.05)

  100%
    transform: scale(1)


@keyframes scaleSmallElements
  0%
    transform: scale(0)

  4%
    transform: scale(1)

  10%
    transform: scale(.9)

  15%
    transform: scale(.8)

  20%
    transform: scale(.8)

  80%
    transform: scale(1)

  90%
    transform: scale(.8)

  100%
    transform: scale(0)


@keyframes scaleSmallElements2
  0%
    transform: scale(0)

  4%
    transform: scale(.9)

  10%
    transform: scale(1)

  15%
    transform: scale(.8)

  20%
    transform: scale(1)

  40%
    transform: scale(.8)

  60%
    transform: scale(1)

  80%
    transform: scale(.8)

  100%
    transform: scale(0)


@keyframes fixedMenuShow
  0%
    top: -200px
  100%
    top: 0

@keyframes error-shake
  0%
    transform: translateX(0)

  30%
    transform: translateX(-10px)

  60%
    transform: translateX(10px)

  90%
    transform: translateX(0)