.ui-state-highlight
  height: 1.5 em
  line-height: 1.2 em
  background: #82d168
  border-radius: 4px

.ui-sortable-handle
  -ms-touch-action: none
  touch-action: none

.ui-accordion-header-active
  .accordion__title
    color: #84c473

    &:after
      transform: rotate(90deg)
      content: '-'
      color: #4dc432

    &:before
      background: #4dc432
      background: url('../img/_src/icons/tick.svg') no-repeat
      background-position: center center
      background-size: 100%
      transform: scale(1.3)
      box-shadow: 0 0 2px #9aff9f80, 0 0 4px #9aff9f60, 0 0 10px #9aff9f40, 0 0 20px #9aff9f20
      opacity: 1

    &:hover
      &:after
        right: 0