@import form-success

$backgroundDark: #030303
$color-headers: #d0d0d0

@mixin color-headers--yellow-gradient
  background: linear-gradient(130deg, #FDAD00 0%, #564300 100%)
  -webkit-text-fill-color: transparent
  background-clip: text

@mixin color-headers--blue-gradient
  background: linear-gradient(130deg,#0089ff 0,#5e00a5 100%)
  -webkit-text-fill-color: transparent
  background-clip: text

@mixin color-headers--red-gradient
  background: linear-gradient(130deg, #fe7775 0%, #36161c 100%)
  -webkit-text-fill-color: transparent
  background-clip: text

@mixin color-headers--green-gradient
  background: linear-gradient(130deg, #9dfe6e 0%, #28361c 100%)
  -webkit-text-fill-color: transparent
  background-clip: text

@mixin color-headers--color-scheme
  background: linear-gradient(90deg, #6BFF7A -0%, rgba(99, 227, 255, 0.5) 20%, #AD00FF 100%)
  -webkit-text-fill-color: transparent
  background-clip: text

$color-subtitle: #ffffff30

.preloader-face
  position: absolute
  top: 10px
  left: 0
  right: 0
  margin: auto
  display: flex !important
  align-items: center
  justify-content: center
  color: #ffffff
  z-index: 100
  // visibility: hidden
  transition: 1s
  // opacity: 0

.preloader-face--show
  visibility: visible
  opacity: 1
  transition: 1s

.titleH1
  font-weight: 800
  font-size: 60px

.title--red
  @include color-headers--red-gradient

.title--green
  @include color-headers--green-gradient

.page-in-work
  margin-top: 80px
  margin-bottom: 160px

.page-in-work__titleH1
  text-align: center

.titleH2
  margin: 32px 0
  color: $color-headers
  font-weight: 600

.titleH2--yellow
  @include color-headers--yellow-gradient

.titleH3
  margin: 24px 0
  line-height: 24px
  position: relative
  color: $color-headers
  font-weight: 600

.titleH3--yellow
  @include color-headers--yellow-gradient

.titleH3--blue
  @include color-headers--blue-gradient

.titleH4
  @include text-crop
  line-height: 16px
  font-weight: 300
  margin: 20px 10px 20px 0
  padding-left: 8px
  color: $color-headers

.title--color-scheme
  @include color-headers--color-scheme

//---------------
// button style -- ⬇
//---------------

@mixin color-button-boxShadow
  color: #ffffff
  box-shadow: 0 0px 2px #ffffff10, 0 1px 4px #ffffff10, 0 2px 8px #ffffff10, 0 4px 16px #ffffff10, 0 16px 32px #ffffff20, 0 20px 64px #ffffff20

@mixin color-button-boxShadow--hover
  color: #ffffff80
    box-shadow: 0 1px 2px #ffffff50, 0 2px 4px #ffffff10, 0 4px 8px #ffffff10, 0 8px 16px #ffffff10, 0 16px 32px #ffffff50, 0 32px 64px #ffffff40

@mixin color-button-boxShadow--yellow
  color: #FDAD00
  box-shadow: 0 0 2px #ffa200, 0 1px 4px #bb692f, 0 2px 8px #9c580c, 0 4px 16px #ffb56312, 0 16px 32px #231500, 0 20px 64px #231500

@mixin color-button-boxShadow--yellow-hover
  color: #fdd17c
  box-shadow: 0 1px 2px #FDAD00, 0 2px 4px #FDAD00, 0 4px 8px #FDAD00, 0 8px 16px #FDAD00, 0 16px 32px #FDAD00, 0 32px 64px #FDAD00

@mixin color-button-boxShadow--blue
  color: #3756FE
  box-shadow: 0 0 2px #6d6dff, 0 1px 4px #0f2dff, 0 2px 8px #3535ff, 0 4px 16px #38006b, 0 16px 32px #000069, 0 20px 64px #0e0e59

@mixin color-button-boxShadow--blue-hover
  color: #809dfe
  box-shadow: 0 1px 2px #3756FE, 0 2px 4px #3756FE, 0 4px 8px #3756FE, 0 8px 16px #3756FE, 0 16px 32px #3756FE, 0 32px 64px #3756FE

@mixin color-button-boxShadow--green
  box-shadow: 1px 0px 2px #193419, 1px 1px 4px #193419, 1px 3px 8px #193419, 1px 6px 16px #193419, 1px 12px 32px #0C190C, 1px 32px 60px #0C190C
  a
    color: #4dc432

@mixin color-button-boxShadow--green-hover
  box-shadow: 0 1px 2px #47c45d, 0 2px 4px #47c45d, 0 4px 8px #47c45d, 0 8px 16px #357F3A, 0 16px 32px #357F3A, 0 32px 64px #357F3A
  a
    color: #346c22


.button
  width: 100%
  flex-basis: 100%
  background: transparent
  border: none
  padding: 8px 20px
  margin: 0
  outline: none !important
  overflow: visible
  border-radius: 50px
  @include color-button-boxShadow

  &:hover
    transition: .2s
    @include color-button-boxShadow--hover

.button__container
  display: block
  width: 100%
  border-radius: 20px
  padding: 8px 20px
  margin: 0
  font-weight: 600

.button--yellow
  @include color-button-boxShadow--yellow

  &:hover
    transition: .2s
    @include color-button-boxShadow--yellow-hover


.button--blue
  @include color-button-boxShadow--blue

  &:hover
    transition: .2s
    @include color-button-boxShadow--blue-hover

.button--green
  @include color-button-boxShadow--green

  &:hover
    transition: .2s
    @include color-button-boxShadow--green-hover

//---------------
// form style -- ⬇
//---------------

$colorLabel_default: #cdcdcd
$colorInputBorder: #ffffff20
$colorInputBorder_hover: #ffffff40
$colorInputBorder_focus: #ffffff70
$colorTextForms: #c0c0c0
$colorBoxShadow: #ffffff30
$backgroundTextInput: #101010


// Checkbox colors
$backgroundCheckbox_default: #CDD1DA
$colorBoxShadowCheckbox_default: rgba(0, 0, 0, .2)
$backgroundCheckbox_active: #9FD468
$colorBoxShadowCheckbox_active: hsla(130, 100%, 80%, .9)
$colorCheckboxLabel_active: hsla(120, 100%, 80%, 1)


.form
  width: 100%
  max-width: 320px
  display: flex
  flex-direction: column

.form__label
  display: flex
  flex-direction: column
  position: relative
  transition: .2s

  &:hover
    .form__input-text
      transform: scale(1.01)

    .form__textarea
      transform: scale(1.01)

    .form__label-text
      color: #818181

.form__info
  color: #8b8b8b
  line-height: 18px
  font-size: 13px
  padding-left: 20px
  position: relative

  &:before
    content: ''
    background: url("../../img/_src/info.svg")
    width: 10px
    height: 10px
    display: block
    position: absolute
    top: 3px
    left: 0
    opacity: .4

  b
    color: #c5ab49

.form__input-text
  min-height: 48px
  min-width: 100%
  border-radius: 100px
  background: $backgroundTextInput
  border: 1px solid $colorInputBorder
  margin-bottom: 32px
  color: $colorTextForms
  padding: 0 20px
  font-size: 18px
  transition: 0.3s
  outline: none

  &:hover
    border: 1px solid $colorInputBorder_hover
    transition: 0.3s

  &:focus
    border-color: $colorInputBorder_focus
    box-shadow: 0 2px 4px $colorBoxShadow

    &:required
      &:valid
        border-color: #81c465

    &:required
      &:invalid
        border-color: #dc665c

  &:required
    border-color: #dc665c
    &:valid
      border-color: #81c465

  &:optional
    border-color: $colorInputBorder


.form__label-text
  @include text-crop
  color: $colorLabel_default
  margin-left: 20px
  display: block
  margin-bottom: 6px
  cursor: pointer
  font-weight: 600
  letter-spacing: 0.5px
  line-height: 24px
  max-width: 100%
  white-space: pre-wrap
  transition: .3s
  order: -1

  &::selection
    background: transparent

.form__label-text--required
  position: relative
  overflow: visible
  &:before
    content: '*'
    display: block
    width: 12px
    height: 12px
    position: absolute
    left: -20px
    top: 3px
    color: #dc4036

.form__textarea
  height: 240px
  max-height: 240px
  width: 100%
  min-width: 100%
  max-width: 100%
  border-radius: 20px
  background: $backgroundTextInput
  border: 1px solid $colorInputBorder
  color: $colorTextForms
  padding: 12px 20px
  font-size: 18px
  margin-bottom: 32px
  outline: none
  position: relative
  transition: .3s

  &:hover
    border: 1px solid $colorInputBorder_hover
    transition: 0.3s

  &:focus
    border-color: $colorInputBorder_focus

    &:required
      &:valid
        border-color: #81c465

    &:required
      &:invalid
        border-color: #dc665c

  &:required
    border-color: #dc665c
    &:valid
      border-color: #81c465

  &:optional
    border-color: $colorInputBorder

.form__textarea--small
  max-height: 100px
  height: 100px
  min-height: 50px

.form__checkbox--checked-textarea
  border-radius: 4px

.form__radio--checked-textarea
  border-radius: 4px

.form--error
  border-color: #dc665c !important

.form__textarea--checked-textarea-error
  background: #dc665c !important
  color: #0d0d0d
  transition: .2s

  .form__label
    color: #3a1d1d !important
    font-weight: 400

  .form__textarea
    border-color: #dc665c !important

.form__textarea--success
  border-color: #81c465
  background: inherit

.form__switchbox
  display: flex
  justify-content: center

.form__switchbox-input
  font-size: 18px
  position: absolute
  z-index: -1
  opacity: 0
  margin: 10px 0 0 20px

.form__switchbox-input:checked + .form__switchbox-label::before
  background: $backgroundCheckbox_active
  box-shadow: 0 1px 2px #47c45d 50, 0 2px 4px #47c45d 10, 0 4px 8px #47c45d 10, 0 8px 16px #47c45d 10, 0 16px 32px #47c45d 50, 0 32px 64px #47c45d 40

.form__switchbox-input:checked + .form__switchbox-label::after
  right: 2px

.form__switchbox-input:checked + .form__switchbox-label
  color: $colorCheckboxLabel_active

  .form__switchbox-link
    color: $colorCheckboxLabel_active

.form__switchbox-label
  display: inline-block
  color: $colorLabel_default
  margin: 0 0 20px 0
  position: relative
  padding: 0 72px 0 0
  cursor: pointer
  font-size: 11px
  order: -1
  max-width: 100%

  &:before
    content: ''
    position: absolute
    top: -4px
    right: 0
    width: 50px
    height: 26px
    border-radius: 13px
    background: #CDD1DA
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2)
    transition: .1s ease-in-out

  &:after
    content: ''
    position: absolute
    top: -2px
    right: 26px
    width: 22px
    height: 22px
    border-radius: 10px
    background: $backgroundCheckbox_default
    box-shadow: 0 2px 5px $colorBoxShadowCheckbox_default
    transition: .1s ease-in-out

  &::selection
    background: transparent
    color: inherit

.form__switchbox-link
  margin: 0
  padding: 0
  display: inline-block
  color: $colorLabel_default
  text-decoration: underline

  &:hover
    text-decoration: none
    color: $colorLabel_default

  &::selection
    background: transparent
    color: inherit

.form__file-input
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

.form__file-input:focus + .form__file-input-label, .form__file-input.has-focus + .form__file-input-label
  outline: 1px dotted #4dc432
  outline: -webkit-focus-ring-color auto 5px
//
//.form__file-input:focus + .form__file-input-label *
//  pointer-events: none
.form__file
  position: relative
  cursor: pointer

  &:hover
    .form__file-input-label
      opacity: 1

      &:before
        transform: scale(1.5)

.form__file-input-label
  color: #4dc432
  padding-left: 22px
  cursor: pointer
  opacity: .7

  &:before
    content: ''
    display: block
    width: 16px
    height: 16px
    position: absolute
    left: 0
    top: 4px
    background: url("../img/_src/icons/download.svg") no-repeat
    background-size: 100%
    transform-origin: right center
    transition: .2s

.form__file-input-label--error
  &::after
    content: ''
    display: inline-block
    width: 16px
    height: 16px
    position: absolute
    left: 0
    bottom: -16px
    background: url("../img/_src/icons/danger-error.svg") no-repeat
    background-size: 100%

.form__file-error-message
  position: absolute
  left: 22px
  bottom: -23px
  color: #d2494b

.form__checkbox-container
  display: flex
  align-items: center
  align-content: center
  cursor: move
  transition: .15s

  &:hover
    border-color: #525252

.form__radio-container
  display: flex
  align-items: center
  align-content: center
  cursor: move
  transition: .15s

.form__checkbox-list
  .form__checkbox--list-item
    &:first-child
      &:before
        content: ''
    &:nth-child(2)
      &:before
        content: '1'
        color: #087c01

    &:nth-child(3)
      &:before
        content: '2'
        color: #084d01

    &:nth-child(4)
      &:before
        content: '3'
        color: #083f01

    &:nth-child(5)
      &:before
        content: '4'

    &:nth-child(6)
      &:before
        content: '5'

    &:nth-child(7)
      &:before
        content: '6'

    &:nth-child(8)
      &:before
        content: '7'

    &:nth-child(9)
      &:before
        content: '8'

.form__checkbox--list-item
  &:before
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 8px
    margin: auto
    color: #0a2c01
    height: 16px
    line-height: 18px

.form__checkbox-input
  margin-left: 24px
  margin-right: 12px
  height: 32px
  cursor: pointer

.form__checkbox-label
  margin: 0
  width: 100%
  color: #b9b9b9
  font-weight: 300
  cursor: pointer
  line-height: 18px
  padding: 8px 24px 8px 0
  position: relative
  transition: .1s

.form__checkbox-input:checked + .form__checkbox-label
  color: #81c465

.form__radio-input
  margin-left: 24px
  margin-right: 12px
  height: 32px
  cursor: pointer

.form__radio-label
  margin: 0
  width: 100%
  color: #b9b9b9
  font-weight: 300
  cursor: pointer
  line-height: 18px
  padding: 8px 24px 8px 0
  position: relative
  transition: .1s

  &:hover
    color: #81c465

.form__radio-input:checked + .form__radio-label
  color: #81c465

.form__checkbox-list-titleH4
  text-align: left
  margin-left: 20px
  margin-bottom: 8px
  color: #737373

.form__checkbox--drag-drop
  background: #181818
  position: relative
  border-radius: 4px
  margin-bottom: 4px
  &:after
    content: ''
    background: url("../img/_src/icons/arrow-cross.svg") no-repeat
    background-size: 100%
    display: block
    width: 12px
    height: 12px
    position: absolute
    top: -2px
    bottom: 0
    right: 4px
    margin: auto
    opacity: .4

  .form__checkbox-label
    padding-right: 30px

.form__item-list
  margin-bottom: 28px
  border: 1px solid #191919
  padding: 16px 8px
  border-radius: 8px
  background: $backgroundTextInput

  .form__label-text--required
    &:before
      left: -16px
      top: 2px

  .form__info
    &:before
      left: 3px
      top: 2px

.form__checkbox-list--tag-type
  display: flex
  flex-wrap: wrap

.form__checkbox--tag-type

  &:nth-child(even)
    .form__checkbox-label
      margin-left: 16px

  .form__checkbox-input
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1

  .form__checkbox-label
    border: 1px dashed #ccc
    border-radius: 30px
    padding: 8px 16px
    transition: .4s
    margin: 12px 0 2px 28px

    &:hover
      border-color: #4dc432
      transition: .2s
      color: #7ad662

  .form__checkbox-input:checked + .form__checkbox-label
    color: #7ad662
    border-style: solid
    border-color: #4dc432
    &:before
      content: ''
      display: block
      width: 20px
      height: 20px
      background: url("../img/_src/icons/tick-2.svg") no-repeat
      background-size: 100%
      position: absolute
      left: -10px
      top: 6px

.form__textarea--checkbox-checked
  display: none
  margin-top: 8px
  margin-bottom: 0
  width: 100%

.form__textarea--radio-checked
  display: none
  margin-top: 8px
  margin-bottom: 0

.form__input-text--info
  margin-bottom: 12px

.form__warning
  font-size: 14px
  line-height: 18px
  padding-left: 20px
  margin-top: 20px
  color: #c4ad6b
  position: relative

  &:before
    content: ''
    width: 14px
    height: 14px
    display: block
    background: url("../img/_src/icons/danger-1.svg") no-repeat
    background-size: 100%
    position: absolute
    top: 3px
    left: 0

.form__guarantee
  color: #3c7d2b
  line-height: 20px
  width: 50%
  text-align: center
  margin: 4px auto 28px

//---------------
// list style -- ⬇
//---------------

.list
  list-style: none
  margin: 0
  padding: 0

.slider__list
  display: flex
  flex-direction: column
  justify-content: space-between

.list__item
  @include text-crop
  margin: 6px 12px
  font-weight: 600
  display: flex
  justify-content: space-between
  align-items: flex-start
  flex-wrap: wrap
  border-radius: 4px
  width: 115%
  position: relative
  left: -7.5%
  transition: .4s

.link--earth
  &:after
    content: ''
    display: block
    width: 16px
    height: 16px
    position: absolute
    top: 0
    bottom: 0
    right: -20px
    margin: auto
    background: url(../img/_src/icons/earth.svg) no-repeat
    background-size: 100%

.list__link
  margin-top: 12px
  color: #578cff
  line-height: 18px
  border-bottom: 0px solid transparent !important

  &:hover
    text-decoration: none
    color: #95baff

.list__small-text
  @include text-crop
  flex-basis: 100%
  font-weight: 400
  margin-right: 8px
  font-size: 14px
  line-height: 16px
  color: #cccccc70

.list__item--company-name
  @include text-crop
  width: 100%
  font-size: 32px
  display: block

  .list__small-text
    display: block
    flex-basis: 100%
    margin-bottom: -8px


.icon-close
  background: url("../img/_src/icons/close.svg") no-repeat
  background-size: 100%
  width: 24px
  height: 24px
  display: block

.error-navigate
  font-size: 14px
  padding: 20px
  border-radius: 8px
  position: absolute
  background: #0d0d0d
  left: 60px
  max-width: 200px
  top: 0
  color: $colorTextForms
  display: block
  visibility: hidden
  opacity: 0
  z-index: -1
  transition: .3s
  transform: translateX(-200px)

.error-navigate__container
  width: 100%

.error-navigate--show
  z-index: 21
  opacity: 1
  visibility: visible
  transform: translateX(0)
  transition: .3s
  animation: error-shake .5s ease-in-out

.error-navigate__message
  line-height: 20px
  max-width: 100%
  white-space: pre
  position: relative
  width: 200px
  margin-left: 20px
  margin-bottom: 0
  color: #c4ad6b

  &:before
    content: ''
    width: 20px
    height: 20px
    display: block
    position: absolute
    top: 2px
    left: -30px
    background: url("../img/_src/icons/danger-1.svg") no-repeat
    margin: auto

  b
    color: #dc4036

.error-shake
  animation: error-shake 1s ease-in-out

.error-shake-switchbox
  color: #dc665c
  animation: error-shake 1s ease-in-out
  .form__switchbox-link
    color: #dc665c

//links
.link
  color: #124b5f
  border-bottom: 1px solid #023d5278
  padding-bottom: 2px
  position: relative
  transition: .4s

  &:hover
    color: #017cff
    border-bottom: 1px solid #017cff80
    transition: .2s



// cap in page
.page-in-work__social-media
  justify-content: center !important
  margin: 32px 0 60px

  .contacts-social__icon
    width: 40px
    margin: 0

  .contacts-social__link
    margin-right: 20px

    &:last-child
      margin-right: 0

    &:hover
      text-decoration: none
      border-bottom: none

.page-in-work__subtitle
  text-align: center
  color: #353535
  padding: 0 20px
  margin: 0

@media (min-width: 1px)
  .titleH1
    font-size: 40px
    line-height: 40px
    margin-bottom: 40px

  .titleH3
    text-align: center

  .titleH4
    text-align: center
    display: block
    width: 100%

  .error-navigate
    left: 10px
    max-width: 100%
    background: #420005

  .error-navigate__message
    word-break: break-word
    white-space: normal

  .form__checkbox-list-titleH4
    text-align: left

  .form__checkbox-label
    &:hover
      color: inherit

@media (min-width: 350px)
  max-width: 250px

@media (min-width: 768px)
  .titleH3
    text-align: left

@media (min-width: 1000px) and (max-width: 1100px)
  .form__checkbox-label
    &:hover
      color: #81c465

  .error-navigate
    left: 20px
    width: 150px

  .error-navigate__message
    margin-left: 0
    margin-bottom: 8px

    &:before
      position: relative
      left: 0
      margin: 0 0 12px 0

@media (min-width: 1100px)
  .error-navigate
    left: 60px
    width: 250px

@media (min-width: 1400px)
  .error-navigate
    left: 160px
    width: 250px

@media (min-width: 1500px)
  .error-navigate
    left: 60px
    width: 250px