// User variables:
$accent: orange
$white: #fff


$backgroundDark: #030303


// top-menu colors
$borderMenu: #ffffff06
$colorMenu_default: #515151
$colorMenu_hover: #c2c2c2
$colorMenu_active: #fff
$textShadow_hover: #ffffff90
$afterElementMenu: ffffff20

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

@mixin text-crop
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
