@import vars
@import fonts
@import libs
@import ui
@import breadcrumbs
@import tabs
@import ui-jquery-styles
@import keyframes
@import main-window
@import header
@import footer
@import contacts/contactsDark
@import works/works
@import works/works
@import about/about
@import article

::placeholder
  color: #666

::selection
  background-color: $white
  color: #D0D0D0

//::-webkit-scrollbar
//  width: 3px
//  border-radius: 50%
//
//::-webkit-scrollbar-thumb
//  border-width: 1px 1px 1px 2px
//  border-color: #777
//  background-color: #aaa
//
//  &:hover
//    border-width: 1px 1px 1px 2px
//    border-color: #555
//    background-color: #777
//
//::-webkit-scrollbar-track
//  border-width: 0
//  display: none
//
//  &:hover
//    border-left: solid 1px #aaa
//    background-color: #eee

a
  text-decoration: none
  &:hover
    text-decoration: none

input, textarea
  outline: none

  &:focus:required:invalid
    border-color: red

  &:required:valid
    border-color: green

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: 'San Francisco', sans-serif
  overflow-x: hidden
  background: $backgroundDark
  padding-bottom: 50px
  color: #ccc

.separator
  height: 1px
  border: none
  display: block
  margin: 4px
  background: #ffffff10

