@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="smart-metering__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">IoT smart metering solutions</h1>
		<p class="main-window__subtitle subtitle subtitle--white">and smart meter data visualization with ThingsBoard</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="usecase.html">Use Case</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">Smart Metering</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<h2 id="nav1" class="titleH1 title--dark title--bold">IoT and smart meters</h2>
			<p class="custom-text">Traditionally being a part of the electrical grid infrastructure, a smart meter is an
				electronic device that allows for remote monitoring and recording of energy consumption. However, in the age of
				IoT and IoT platforms, standalone smart meters give way to more advanced and multi-purpose smart metering
				solutions. These solutions offer a broader range of remote monitoring and alerting capabilities as well as
				provide powerful data analytics tools to help companies and individual users optimize their energy, water, gas,
				or fuel consumption.</p>
			<p class="custom-text">A typical challenge for companies implementing smart meters is how to integrate them within
				their infrastructure and set up custom-tailored smart metering use cases. The best way to achieve these goals is
				by using an IoT platform that offers out-of-the-box solutions and templates for smart metering, such as
				ThingsBoard. One of the strongest advantages of an enterprise-grade IoT platform is its data processing
				capabilities. Not only will you be able to collect data from your diverse smart meters in a centralized way, but
				also set up custom visualization dashboards, configure user alerts and notifications, and feed the collected
				data into other applications or data stores.</p>
			<p class="custom-text">Another critical advantage is the cost of smart metering implementation. Using an IoT
				platform allows you to have all the necessary functionality right away and focus on building particular smart
				metering use cases instead, saving time and avoiding the risks associated with in-house IoT development.</p>

			<h2 id="nav2" class="titleH1 title--dark title--bold">Smart metering solutions with ThingsBoard</h2>
			<div class="cards1-smart-metering cards-type2">
				<div class="cards-type2__item">
					<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/1.svg"
							 alt="vidget 1">
					<p class="cards-type2__description">Collect data from smart meters using different connectivity methods</p>
				</div>
				<div class="cards-type2__item">
					<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/2.svg"
							 alt="vidget 2">
					<p class="cards-type2__description">Analyze incoming smart meter data to derive actionable insights</p>
				</div>
				<div class="cards-type2__item">
					<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/3.svg"
							 alt="vidget 5">
					<p class="cards-type2__description">Store data for reporting and historical analysis</p>
				</div>
				<div class="cards-type2__item">
					<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/4.svg"
							 alt="vidget 4">
					<p class="cards-type2__description">Visualize the collected data on a custom dashboard</p>
				</div>
				<div class="cards-type2__item">
					<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/5.svg"
							 alt="vidget 11">
					<p class="cards-type2__description"> Feed processed smart metering data into third-party applications for
						accounting and billing</p>
				</div>
			</div>

			<h2 id="nav3" class="titleH1 title--dark title--bold">Building end-to-end smart metering solutions with
				ThingsBoard</h2>
			<p class="custom-text">ThingsBoard IoT platform provides out-of-the-box components and APIs to dramatically drive
				down effort required to create smart metering solutions, resulting in highly improved time to market,
				reliability, and competitiveness of your solutions. By our estimates, companies may save up to 90% of their
				product development time when utilizing the following features and benefits of ThingsBoard:</p>
		</div>
		<div class="cards2-smart-metering cards-type2">
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/2_1.svg"
						 alt="vidget 1">
				<p class="cards-type2__description">Reliable and fault tolerant data collection for your smart water meters,
					energy monitors, smart energy meters, etc.;</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/2_2.svg"
						 alt="vidget 2">
				<p class="cards-type2__description">Advanced, customizable data visualization for real-time and historical smart
					metering monitoring</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/2_3.svg"
						 alt="vidget 5">
				<p class="cards-type2__description">Alarm widgets to instantly notify users and / or operators about any
					critical events or unusual consumption levels</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/2_4.svg"
						 alt="vidget 4">
				<p class="cards-type2__description">Smart metering management by utilizing ThingsBoard API to control and manage
					smart meters</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/2_5.svg"
						 alt="vidget 11">
				<p class="cards-type2__description">Customizable end-user dashboards (featuring drill-down capabilities) to
					analyze and share the results of smart metering monitoring</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/2_6.svg"
						 alt="vidget 11">
				<p class="cards-type2__description">Integration with third-party analytics frameworks and solutions for advanced
					processing of smart metering data and reporting</p>
			</div>
			<div class="cards-type2__item">
				<img class="cards-type2__image" src="components/_img/page-useCase/smart-metering/2_7.svg"
						 alt="vidget 11">
				<p class="cards-type2__description">Device management to allow you organize your endpoints in groups by specific
					attributes, simplify navigation between different types of entities and endpoint groups, and enable more
					flexible data analysis based on your custom groups</p>
			</div>
		</div>
		<div class="text-content">
			<h2 id="nav4" class="titleH1 title--dark title--bold">Smart metering dashboard</h2>
			<p class="custom-text">The following interactive dashboard hosted on live demo server represents smart metering
				IoT data visualization that may be embedded in your IoT project or solution. See the dashboard description
				below.</p>
		</div>
		<figure class="img-content">
			<img class="img-content__image img-content--full-width" src="components/_img/page-useCase/use-case-demo.png"
					 alt="demo-dashboard">
		</figure>
		<button class="usecase__button-live-demo button button--blue icon icon--live-demo"><a href="#">Live Demo</a>
		</button>
		<div class="text-content">
			<p class="custom-text">The attached dashboard demonstrates real-time data from smart-meters that is collected
				using ThingsBoard MQTT API. The data is stored in Cassandra DB on our demo server.</p>
			<p class="custom-text">We would like to highlight the following features:</p>
			<ul class="list">
				<li class="list__item">low-latency updates using web-sockets;</li>
				<li class="list__item">ability to zoom-in into the charts by selecting time range with the mouse;</li>
				<li class="list__item">advanced tooltips and legend;</li>
				<li class="list__item">dashboard toolbar in the top-right corner enables global time selector and switch between dashboards.</li>
			</ul>
			<h2 id="nav5" class="titleH1 title--dark title--bold">Smart metering solution overview</h2>
			<p class="custom-text">The diagram below identifies data flow and integration points for typical smart metering solution that uses ThingsBoard platform to collect and analyze monitoring data from smart meters.</p>
		</div>
		<figure class="img-content">
			<img class="img-content__image img-content--full-width" src="components/_img/page-useCase/smart-metering/Smart-meters-overview.png"
					 alt="smart-farming-solution-overview">
		</figure>
		<div class="text-content">
			<p class="custom-text">You may notice that there are plenty of connectivity options for smart meters: both via direct connection to the cloud and via Platform Integrations. The ThingsBoard platform supports industry standard encryption algorithms (SSL) and device credentials types (X.509 certificates and access tokens). The collected data is stored in Cassandra - a popular NoSQL database, which is widely recognized for its fault-tolerance and reliability.</p>
			<p class="custom-text">ThingsBoard Rule Engine enables forwarding incoming data to various analytics systems, such as Apache Spark or Hadoop using Kafka or other Message buses.</p>
		</div>
	</div>

	<div class="second-page__right-block">
		<div class="second-page-nav page-navigation">
			<h2 class="page-navigation__title">Содержание</h2>
			<ul class="page-navigation__list">
				<li class="page-navigation__list-item">
					<a href="#nav1" class="page-navigation__list-link">IoT and smart meters</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav2" class="page-navigation__list-link">Smart metering solutions with ThingsBoard</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav3" class="page-navigation__list-link">Building end-to-end smart metering solutions with
						ThingsBoard</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav4" class="page-navigation__list-link">Smart metering dashboard</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav5" class="page-navigation__list-link">Smart metering solution overview</a>
				</li>
			</ul>
			<button class="page-navigation__button button button--green-dark"><a href="">Your Feedback</a></button>
		</div>
	</div>
</main>

<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Other Themes</h3>
    <button class="button button--blue"><a href="smart-energy.html">Smart Energy</a></button>
    <button class="button button--blue"><a href="smart-farming.html">Smart Farming</a></button>
  </div>
</section>

@@include('./_footer.html')
</body>
</html>