@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="smart-energy__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">Smart energy monitoring</h1>
		<p class="main-window__subtitle subtitle subtitle--white">data visualization and energy efficiency analysis</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="usecase.html">Use Case</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">Smart Energy</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<h2 id="nav1" class="titleH1 title--dark title--bold">Overview</h2>
			<p class="custom-text">ThingsBoard platform provides out-of-the-box components and APIs to dramatically reduce
				time to market and your effort to create smart energy solutions and energy monitoring systems. Save up to 90% of
				development time for your smart energy solution by utilizing following benefits:</p>
			<ul class="list">
				<li class="list__item">Reliable and fault tolerant data collection for your smart meters and energy monitors;
				</li>
				<li class="list__item">Advanced and flexible data visualization for real-time and historical smart energy
					monitoring;
				</li>
				<li class="list__item">Customizable end-user dashboards to analyze and share the results of energy efficiency
					monitoring;
				</li>
				<li class="list__item">Integration with third-party analytics frameworks and solutions for advanced electricity
					usage monitoring;
				</li>
				<li class="list__item">Enable energy management by utilizing ThingsBoard API to control and manage smart
					meters.
				</li>
			</ul>
			<p class="custom-text">The platform provides production ready server infrastructure to connect your smart meter
				devices, collect, store and analyze energy monitoring data, and share results of the analysis with your
				customers and end-users.</p>

			<h2 id="nav2" class="titleH1 title--dark title--bold">Smart energy dashboard</h2>
			<p class="custom-text">The following interactive dashboard hosted on live demo server represents smart energy IoT
				data visualization that may be embedded in your IoT project or solution. See dashboard description below.</p>
		</div>
		<figure class="img-content">
			<img class="img-content__image img-content--full-width" src="components/_img/page-useCase/use-case-demo.png"
					 alt="demo-dashboard">
		</figure>
		<button class="usecase__button-live-demo button button--blue icon icon--live-demo"><a href="#">Live Demo</a>
		</button>
		<div class="text-content">
			<p class="custom-text">The attached dashboard demonstrates real-time data from smart-meters that is collected
				using ThingsBoard MQTT API. The data is stored in Cassandra DB on our demo server.</p>
			<p class="custom-text">We would like to highlight following features:</p>
			<ul class="list">
				<li class="list__item">low-latency updates using web-sockets;</li>
				<li class="list__item">ability to zoom-in into the charts by selecting time range with the mouse;</li>
				<li class="list__item">advanced tooltips and legend;</li>
				<li class="list__item">dashboard toolbar in the top-right corner enables global time selector and switch between
					dashboards.
				</li>
			</ul>
			<h2 id="nav3" class="titleH1 title--dark title--bold">Smart energy solution overview</h2>
			<p class="custom-text">The diagram below identifies data flow and integration points for typical smart energy solution that uses ThingsBoard platform to collect and analyze energy monitoring data from smart meters.</p>
		</div>
		<figure class="img-content">
			<img class="img-content__image img-content--full-width"
					 src="components/_img/page-useCase/smart-metering/Smart-meters-overview.png"
					 alt="smart-farming-solution-overview">
		</figure>
		<div class="text-content">
			<p class="custom-text">You may notice that there are plenty of connectivity options for smart meters: either direct connection to the cloud or through the IoT Gateway. Platform supports industry standard encryption algorithms (SSL) and device credentials types (X.509 certificates and access tokens). The collected data is stored in Cassandra - fault-tolerant and reliable NoSQL database. ThingsBoard Rule Engine allows to forward incoming data to various analytics systems, such as Apache Spark or Hadoop using Kafka or other Message buses.</p>
    </div>
  </div>

	<div class="second-page__right-block">
		<div class="second-page-nav page-navigation">
			<h2 class="page-navigation__title">Содержание</h2>
			<ul class="page-navigation__list">
				<li class="page-navigation__list-item">
					<a href="#nav1" class="page-navigation__list-link">Overview</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav2" class="page-navigation__list-link">Smart energy dashboard</a>
				</li>
				<li class="page-navigation__list-item">
					<a href="#nav3" class="page-navigation__list-link">Smart energy solution overview</a>
				</li>
			</ul>
			<button class="page-navigation__button button button--green-dark"><a href="">Your Feedback</a></button>
		</div>
	</div>
</main>

<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Other Themes</h3>
    <button class="button button--blue"><a href="smart-metering.html">Smart Metering</a></button>
    <button class="button button--blue"><a href="smart-farming.html">Smart Farming</a></button>
  </div>
</section>

@@include('./_footer.html')
</body>
</html>