<div class="error-developing" >	<h1 class="error-developing__title" >Страница в разработке</h1 >	<!--    <img class="error-developing__image" src="components/_img/error-developing/error-developing.svg" alt="Error Developing">--></div >