<section class="footer">
   <div class="footer__left-block">
       <div class="footer__logo logo">
           <a href="">
               @@include('./_img/logo.svg')
           </a>
       </div>
       <div class="footer__social-buttons social-buttons">
           <img src="components/_img/icons/social/VK.svg" alt="Vkontakte" class="social-icon">
           <img src="components/_img/icons/social/instagram.svg" alt="Instagram" class="social-icon">
           <img src="components/_img/icons/social/Facebook.svg" alt="Facebook" class="social-icon">
       </div>
       <div class="buttons">
           <button type="button" class="footer__button button icon icon--login button--yellow">
               <a href="https://ems.insyte.ru/#/login">Log in</a>
           </button>
           <button type="button" class="footer__button button icon icon--registration button--green">
               <a href="https://ems.insyte.ru/#/login">Registration</a>
           </button>
           <button type="button" class="footer__button button icon icon--price button--yellow">
              <a href="">Price</a>
            </button>
       </div>
       <div class="links">
          <a href="partners.html" class="link link--white">Partners</a>
          <a href="aboutus.html" class="link link--white">About Us</a>
        </div>
    </div>
    <ul class="pages">
        <li class="pages__header">Education</li>
        <li class="pages__item"><a href="first-steps.html" class="pages__link link link--white">First Steps</a></li>
        <li class="pages__item"><a href="data-visualization.html" class="pages__link link link--white">Energy Data Visualization</a></li>
        <li class="pages__item"><a href="data-analysis.html" class="pages__link link link--white">Energy Data Analysis</a></li>
        <li class="pages__item"><a href="DR-SERVICE-Demand-Management.html" class="pages__link link link--white">Demand Response service</a></li>
        <li class="pages__item"><a href="DR-SERVICE-plan.html" class="pages__link link link--white">Demand Response service</a></li>
    </ul>
    <div class="pages-links">
      <h4 class="footer-title-links">Use Cases</h4>
      <ul class="pages">
        <li class="pages__item"><a href="smart-metering.html" class="pages__link link link--white">Smart Metering</a></li>
        <li class="pages__item"><a href="smart-energy.html" class="pages__link link link--white">Smart Energy</a></li>
        <li class="pages__item"><a href="smart-farming.html" class="pages__link link link--white">Smart Farming</a></li>
        <li class="pages__item"><a href="Demand-Response-simulation.html" class="pages__link link link--white">Demand Response simulation</a></li>
        <li class="pages__item"><a href="Basic-statistics.html" class="pages__link link link--white">Basic statistics</a></li>
        <li class="pages__item"><a href="Statictics-in-dynamics.html" class="pages__link link link--white">Statictics in dynamics</a></li>
        <li class="pages__item"><a href="Statistics-in-static.html" class="pages__link link link--white">Statistics in static</a></li>
        <li class="pages__item"><a href="Energy-balance.html" class="pages__link link link--white">Energy balance</a></li>
        <li class="pages__item"><a href="Energy-analysis.html" class="pages__link link link--white">Energy analysis</a></li>
        <li class="pages__item"><a href="Load-peak-forecasting.html" class="pages__link link link--white">Load peak forecasting</a></li>
        <li class="pages__item"><a href="Statictics-for-the-fuelstation.html" class="pages__link link link--white">Statictics for the fuel station</a></li>
        <li class="pages__item"><a href="Benchmarking.html" class="pages__link link link--white">Benchmarking</a></li>
      </ul>
    </div>
    <div class="contacts">
      <h4 class="contacts__header">Contacts</h4>
      <ul class="contacts__list">
          <li class="contacts__item contacts__item--email">sales@insyte.ru</li>
          <li class="contacts__item contacts__item--phone">8 800 25 007 52</li>
          <li class="contacts__item contacts__item--skype">insyte77</li>
          <li class="contacts__item contacts__item--address">Perm, st. Chernyshevsky, 15B</li>
      </ul>
    </div>
</section>