<header class="header" >
	<div class="header__logo logo" >
		<a href="index.html" >
			@@include('./_img/logo.svg')
		</a >
	</div >

	<button type="button" class="header__buttton button icon icon--login button--yellow" >
		<a href="https://ems.insyte.ru/#/login" >Log in</a >
	</button >
	<button type="button" class="header__buttton button icon icon--registration button--green" >
		<a href="https://ems.insyte.ru/#/login" >Registration</a >
	</button >

	<div class="menu-desctop" >
		<ul class="menu-list" >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="education.html" >Education</a >
			</li >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="solutions.html" >Solutions</a >
			</li >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="usecase.html" >Use Cases</a ></li >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="partners.html" >Partners</a ></li >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="aboutus.html" >About Us</a ></li >
		</ul >
	</div >

	<button class="header__buttton button icon icon--price button--yellow" >
		<a href="" >Price</a >
	</button >
</header >

<header class="header-mobile" >
	<div class="header__logo logo" >
		<a href="index.html" >
			@@include('./_img/logo.svg')
		</a >
	</div >
	<div class="menu-icon" >
		<div class="gamburg" >
			<span ></span >
			<span ></span >
			<span ></span >
			<span ></span >
		</div >
	</div >
	<div class="menu-mobile" >
		<ul class="menu-list" >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="education.html" >Education</a >
			</li >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="solutions.html" >Solutions</a >
			</li >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="usecase.html" >Use Cases</a ></li >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="partners.html" >Partners</a ></li >
			<li class="menu-list__item" ><a class="menu-list__link link link--white" href="aboutus.html" >About Us</a ></li >
			<li class="menu-list__button" >
				<button class="header__buttton button icon icon--login button--yellow" >
					<a href="https://ems.insyte.ru/#/login" >Log in</a >
				</button >
			</li >
			<li class="menu-list__button" >
				<button class="header__buttton button icon icon--registration button--green" >
					<a href="https://ems.insyte.ru/#/login" >Registration</a >
				</button >
			</li >
			<li class="menu-list__button" >
				<button class="header__buttton button icon icon--price button--yellow" >
					<a href="" >Price</a >
				</button >
			</li >
		</ul >
	</div >
</header >