<div class="finished-brief">
  if formData && designBriefFormRequest
    - var textareaLabelRegular = /^textarea\[[0-9]+\]\[textLabel\]$/;
    - var textareaValRegular = /^textarea\[[0-9]+\]\[val\]$/;
    - var inputTextLabelRegular = /^inputText\[[0-9]+\]\[label\]$/;
    - var inputTextValRegular = /^inputText\[[0-9]+\]\[text\]$/;
    - var checkboxListRegular = /^checkbox\[[0-9]+\]\[listLabel\]$/;
    - var checkboxLabelRegular = /^checkbox\[[0-9]+\]\[textLabel\]$/;
    - var checkboxTextareaRegular = /^checkbox\[[0-9]+\]\[textarea\]$/;
    - var radioListLabelRegular = /^radio\[[0-9]+\]\[listLabel\]$/;
    - var radioLabelRegular = /^radio\[[0-9]+\]\[label\]$/;
    - var radioTextareaLabelRegular = /^radio\[[0-9]+\]\[labelTextarea\]$/;
    - var radioTextareaRegular = /^radio\[[0-9]+\]\[textarea\]$/;
    - var checkboxList = '';

    each val, index in formData

      if index.search(textareaLabelRegular) != -1 && val != ''
          <h2 class="finished-brief__textarea-label finished-brief__titleH2">#{val}</h2>

      if index.search(textareaValRegular) != -1 && val != ''
          <p class="finished-brief__textarea-text finished-brief__text">#{val}</p>

      if index.search(inputTextLabelRegular) != -1 && val != ''
          <h2 class="finished-brief__input-text-label finished-brief__titleH2">#{val}</h2>

      if index.search(inputTextValRegular) != -1 && val != ''
          <p class="finished-brief__input-text-val finished-brief__text">#{val}</p>

      if index.search(checkboxListRegular) != -1 && val != ''
        if checkboxList == ''
          - checkboxList = val;
          <h2 class="finished-brief__checkboxList-title1 finished-brief__titleH2">#{val}</h2>
        else 
          if checkboxList != val
            - checkboxList = val;
            <h2 class="finished-brief__checkboxList-title2 finished-brief__titleH2">#{val}</h2>

      if index.search(checkboxLabelRegular) != -1 && val != ''
        <p class="finished-brief__checkboxList-label finished-brief__text">#{val}</p>
      
      if index.search(checkboxTextareaRegular) != -1 && val != ''
        <p class="finished-brief__checkboxList-textarea finished-brief__text">#{val}</p>

      if index.search(radioListLabelRegular) != -1 && val != ''
        <h2 class="finished-brief__radioList-title1 finished-brief__titleH2">#{val}</h2>

      if index.search(radioLabelRegular) != -1 && val != ''
        <p class="finished-brief__radioList-label finished-brief__text">#{val}</p>

      if index.search(radioTextareaLabelRegular) != -1 && val != ''
        <p class="finished-brief__radioList-label finished-brief__text">#{val}</p>

      if index.search(radioTextareaRegular) != -1 && val != ''
        <p class="finished-brief__radioList-textarea finished-brief__text">#{val}</p>


    img(class="finished-brief__logo" src="./img/_src/logo.svg" width="100px")
</div>