<!DOCTYPE html>
<html lang="ru">

<head>
  include partials/header/_head.pug

  block title

</head>
  body
    div.page-preloader
      .loader
      .logotype
    include partials/header/_main-window.pug
    include partials/header/header.pug

    block content

    include partials/_footer/footer.pug
