<main class="useCase">
	<section class="usecase__main-window main-window">
		<div class="main-window__container">
			<div class="text-content">
				<h1 class="main-window__title-accent title-accent white-text">IoT use cases</h1>
				<p class="usecase__subtitle main-window__subtitle subtitle subtitle--white">Being robust, scalable and user
					friendly, EMS Insyte IoT platform supports various IoT use cases by providing flexible and powerful
					out-of-the-box features to cut down time to market of your connected products and smart solutions. The
					platform is device-agnostic, so you can feed and analyze telemetry data from any sensor, connected device or
					application. EMS Insyte comprehensive features and rich platform APIs allow you to save time and resources on
					routine IoT tasks and concentrate on specific features of your IoT solution.
					<br><br>
					Some of the industry use cases where EMS Insyte is being successfully utilized are listed below. Each use case
					is equipped with PoC dashboard and reference solution architecture.
					<br><br>
					Should you have any comments or questions please feel free to Contact US.</p>
			</div>
		</div>
	</section>
	<div class="usecase__cards cards">
		<div class="usecase__cards-item cards__item">
			<img class="usecase__cards-image cards__image" src="components/_img/page-useCase/smart-metering.svg"
					 alt="Smart Metering">
			<h2 class="usecase__cards-title cards__title">Smart Metering</h2>
			<p class="usecase__cards-description cards__description">IoT smart metering solutions and smart meter data
				visualization with EMS Insyte</p>
			<button class="usecase__cards-button cards__button button icon icon--learning">
				<a href="smart-metering.html">Learning More</a>
			</button>
		</div>
		<div class="usecase__cards-item cards__item">
			<img class="usecase__cards-image cards__image" src="components/_img/page-useCase/smart-energy.svg"
					 alt="Smart Energy">
			<h2 class="usecase__cards-title cards__title">Smart Energy</h2>
			<p class="usecase__cards-description cards__description">Smart energy monitoring, data visualization and energy
				efficiency analysis</p>
			<button class="usecase__cards-button cards__button button icon icon--learning">
				<a href="smart-energy.html">Learning More</a>
			</button>
		</div>
		<div class="usecase__cards-item cards__item">
			<img class="usecase__cards-image cards__image" src="components/_img/page-useCase/smart-farming.svg"
					 alt="Smart Farming">
			<h2 class="usecase__cards-title cards__title">Smart Farming</h2>
			<p class="usecase__cards-description cards__description">Smart farming and smart agriculture solutions</p>
			<button class="usecase__cards-button cards__button button icon icon--learning">
				<a href="smart-farming.html">Learning More</a>
			</button>
		</div>

		<h2 class="usecase__titleH2 titleH2 title--bold title--dark">Тестирование реальных объектов в системе EMS INSYTE</h2>

		<section class="usecase__test">
			<div class="usecase__cards-item cards__item cards__item--bg-image" style="background: url('components/_img/page-useCase/TestReal/1.png') no-repeat  center top; background-size: cover;">
				<h2 class="usecase__cards-title cards__title">Demand Response simulation</h2>
				<p class="usecase__cards-description cards__description">For for one consumer as well as for a group of consumers</p>
				<button class="usecase__cards-button cards__button button icon icon--learning">
					<a href="Demand-Response-simulation.html">Learning More</a>
				</button>
			</div>
			<div class="usecase__cards-item cards__item cards__item--bg-image" style="background: url('components/_img/page-useCase/TestReal/2.png') no-repeat  center top; background-size: cover;">
				<h2 class="usecase__cards-title cards__title">Basic statistics</h2>
				<p class="usecase__cards-description cards__description">Investigation of active and reactive power consumption dynamics</p>
				<button class="usecase__cards-button cards__button button icon icon--learning">
					<a href="Basic-statistics.html">Learning More</a>
				</button>
			</div>
			<div class="usecase__cards-item cards__item cards__item--bg-image" style="background: url('components/_img/page-useCase/TestReal/3.png') no-repeat  center top; background-size: cover;">
				<h2 class="usecase__cards-title cards__title">Statictics in dynamics</h2>
				<p class="usecase__cards-description cards__description">Differentiation of power consumption</p>
				<button class="usecase__cards-button cards__button button icon icon--learning">
					<a href="Statictics-in-dynamics.html">Learning More</a>
				</button>
			</div>
			<div class="usecase__cards-item cards__item cards__item--bg-image" style="background: url('components/_img/page-useCase/TestReal/4.png') no-repeat  center top; background-size: cover;">
				<h2 class="usecase__cards-title cards__title">Statistics in static</h2>
				<p class="usecase__cards-description cards__description">Modelling of the data of consumption</p>
				<button class="usecase__cards-button cards__button button icon icon--learning">
					<a href="Statistics-in-static.html">Learning More</a>
				</button>
			</div>
			<div class="usecase__cards-item cards__item cards__item--bg-image" style="background: url('components/_img/page-useCase/TestReal/5.png') no-repeat  center top; background-size: cover;">
				<h2 class="usecase__cards-title cards__title">Energy balance</h2>
				<p class="usecase__cards-description cards__description">Balance sheet figures</p>
				<button class="usecase__cards-button cards__button button icon icon--learning">
					<a href="Energy-balance.html">Learning More</a>
				</button>
			</div>
			<div class="usecase__cards-item cards__item cards__item--bg-image" style="background: url('components/_img/page-useCase/TestReal/6.png') no-repeat  center top; background-size: cover;">
				<h2 class="usecase__cards-title cards__title">Energy analysis</h2>
				<p class="usecase__cards-description cards__description">Research of non-optimal modes of consumption</p>
				<button class="usecase__cards-button cards__button button icon icon--learning">
					<a href="Energy-analysis.html">Learning More</a>
				</button>
			</div>
			<div class="usecase__cards-item cards__item cards__item--bg-image" style="background: url('components/_img/page-useCase/TestReal/6.1.png') no-repeat  center top; background-size: cover;">
				<h2 class="usecase__cards-title cards__title">Load peak forecasting</h2>
				<p class="usecase__cards-description cards__description">Peak consumption hours prediction</p>
				<button class="usecase__cards-button cards__button button icon icon--learning">
					<a href="Load-peak-forecasting.html">Learning More</a>
				</button>
			</div>
			<div class="usecase__cards-item cards__item cards__item--bg-image" style="background: url('components/_img/page-useCase/TestReal/7.png') no-repeat  center top; background-size: cover;">
				<h2 class="usecase__cards-title cards__title">Statictics for the fuel station</h2>
				<p class="usecase__cards-description cards__description">Extraction of typical consumption modes</p>
				<button class="usecase__cards-button cards__button button icon icon--learning">
					<a href="Statictics-for-the-fuelstation.html">Learning More</a>
				</button>
			</div>
			<div class="usecase__cards-item cards__item cards__item--bg-image" style="background: url('components/_img/page-useCase/TestReal/8.png') no-repeat  center top; background-size: cover;">
				<h2 class="usecase__cards-title cards__title">Benchmarking</h2>
				<p class="usecase__cards-description cards__description">Ranking of consumers according to the value of electricity consumption in real time</p>
				<button class="usecase__cards-button cards__button button icon icon--learning">
					<a href="Benchmarking.html">Learning More</a>
				</button>
			</div>
		</section>
	</div>
</main>

