<section class="aboutEMS" >
	<div class="aboutEMS__image image fast" >
		<div class="aboutEMS__svg" id="aboutEMS__svg"></div>
	</div >
	<div class="aboutEMS__text text" >
		<h1 class="aboutEMS__titleH1 title-accent title--dark title--bold fast" >EMS INSYTE</h1 >
		<p class="aboutEMS__subtitle subtitle subtitle--white fast" >Online energy services: statistics, analytics, energy efficiency</p >

		<button class="aboutEMS__button button icon icon--learning button--orange" >
      <a href="" >About EMS INSYTE</a >
		</button >

	</div >
</section >