<section class="advantages" >
	<div class="advantages__item" >
		<div class="advantages__image" >
			<div class="advantages__svg1" id="advantages__svg1"></div>
		</div >
		<div class="advantages__text" >
			<h3 class="advantages__titleH3 title--bold titleH3 title--dark" >Consumers, Things and IoT-devices management</h3 >
			<p class="advantages__description" >Monitoring and control connected IoT-devices in secure way using stable MQTT
				protocol. Online variables configuration, setup relations between variables, IoT-devices, things (energy
				consumption equipment), customers or any other entities.</p >
		</div >
	</div >
	<div class="advantages__item" >
		<div class="advantages__image" >
			<div class="advantages__svg2" id="advantages__svg2"></div>
		</div >
		<div class="advantages__text" >
			<h3 class="advantages__titleH3 title--bold titleH3 title--dark" >Collect and visualize data</h3 >
			<p class="advantages__description" >Collect and store telemetry data in scalable and fault-tolerant way. Visualize
				your data with built-in or custom widgets and flexible dashboards. Share dashboards with your customers.</p >
		</div >
	</div >
	<div class="advantages__item" >
		<div class="advantages__image" >
			<div class="advantages__svg3" id="advantages__svg3"></div>
		</div >
		<div class="advantages__text" >
			<h3 class="advantages__titleH3 title--bold titleH3 title--dark" >Process and Act</h3 >
			<p class="advantages__description" >Energy data processing via Python scripts. Aggregation, transformation and
				prediction for your data. Online rules and scenarios for connected IoT-devices.</p >
		</div >
	</div >
	<div class="advantages__item" >
		<div class="advantages__image" >
			<div class="advantages__svg4" id="advantages__svg4"></div>
		</div >
		<div class="advantages__text" >
			<h3 class="advantages__titleH3 title--bold titleH3 title--dark" >Energy services</h3 >
			<p class="advantages__description" >Use your EMS INSYTE and get flexibility with integrated services: statistics,
				analytics, energy efficiency. EMS INSYTE also supports new types of services, like Demand response or Peaks
				detection.</p >
		</div >
	</div >

</section >