<section class="iot-devices" >
	<h1 class="iot-devices__titleH1 title-accent title--bold title--dark fast" >IoT devices</h1 >
	<a href="" class="iot-devices_link-all link link--dark fast" >See all</a >
	<div class="iot-devices__item faster" >
		<img src="components/_img/Controllers/1.png" alt="Controller 1" class="iot-devices__image" >
		<div class="iot-devices__separator separator" ></div >
		<h4 class="iot-devices__titleH4 titleH4 title--dark" >Central controller for smart home LanDrive SPIDER2</h4 >
		<p class="iot-devices__description" >Multifunctional GSM-controller for smart home SPIDER2. It has no analogues in
			the world in functionality. Manages ...</p >

		<button class="iot-devices__button button button--blue icon icon--details" >
			<a href="" >More details</a >
		</button >
	</div >
	<div class="iot-devices__item faster" >
		<img src="components/_img/Controllers/2.png" alt="Controller 2" class="iot-devices__image" >
		<div class="iot-devices__separator separator" ></div >
		<h4 class="iot-devices__titleH4 titleH4 title--dark" >Central controller for smart home LanDrive SPIDER2</h4 >
		<p class="iot-devices__description" >Multifunctional GSM-controller for smart home SPIDER2. It has no analogues in
			the world in functionality. Manages ...</p >

		<button class="iot-devices__button button button--blue icon icon--details" >
			<a href="" >More details</a >
		</button >
	</div >
	<div class="iot-devices__item faster" >
		<img src="components/_img/Controllers/3.png" alt="Controller 3" class="iot-devices__image" >
		<div class="iot-devices__separator separator" ></div >
		<h4 class="iot-devices__titleH4 titleH4 title--dark" >Central controller for smart home LanDrive SPIDER2</h4 >
		<p class="iot-devices__description" >Multifunctional GSM-controller for smart home SPIDER2. It has no analogues in
			the world in functionality. Manages ...</p >

		<button class="iot-devices__button button button--blue icon icon--details" >
			<a href="" >More details</a >
		</button >
	</div >
	<div class="iot-devices__item faster" >
		<img src="components/_img/Controllers/1.png" alt="Controller 4" class="iot-devices__image" >
		<div class="iot-devices__separator separator" ></div >
		<h4 class="iot-devices__titleH4 titleH4 title--dark" >Central controller for smart home LanDrive SPIDER2</h4 >
		<p class="iot-devices__description" >Multifunctional GSM-controller for smart home SPIDER2. It has no analogues in
			the world in functionality. Manages ...</p >

		<button class="iot-devices__button button button--blue icon icon--details" >
			<a href="" >More details</a >
		</button >
	</div >
</section >