<section class="main" >
	<div class="main__text text" >
		<h1 class="main__titleH1 title-accent title--dark fadeInUp fast" >EMS INSYTE</h1 >
		<h2 class="main__titleH2 titleH2 title--dark fadeInUp fast" >IoT Energy Management System</h2 >
		<p class="main__subtitle subtitle fadeInUp fast" >IoT-device and loads management, energy data monitoring,
			processing and visualization for energy saving</p >

		<button class="main__button button icon icon--learning button--orange fadeInUp" >
			<a href="" >Learning more</a >
		</button >
	</div >
	<div class="main__image image slideInRight faster" >
		<!-- <img class="main__image-controller" src="components/_img/main-widnow/controller.png" alt="Controller"> -->
		<img class="main__image-dashboard" src="components/_img/main-widnow/dashboard1.png" alt="Dashboard" >
	</div >

	<div class="video-bg" >
		<video width="100%" height="auto" class="main-video" autoplay="autoplay" loop="loop" preload="auto"
					 poster="components/_img/main-widnow/bg-video.png" >
			<source src="video/main-video-v2.mp4" type="video/mp4" >
			<source src="video/main-video-v2.webm" type="video/webm" >
			<source src="video/main-video-v2.ogv" type="video/ogg" >
		</video >
	</div >

</section >