<section class="news" >
	<h1 class="news__titleH1 title-accent title--bold title--white fast" >News Insyte</h1 >
	<a href="" class="news_link-all link link--white fast" >See all</a >

	<div class="news__container" >
		<div class="news__item faster" >
			<span class="news__image-overlay" ></span >
			<h4 class="news__titleH4 titleH4 title--white" >INSYTE Electronics chose IoT module design solutions at the
				Skolkovo industrial design competition</h4 >
			<p class="news__description" >INSYTE Electronics held a competition between young industrial designers to develop
				a solution for a unique module for the “smart home” at the design hackathon “Industrial Design Days in Skolkovo”
				(June 26-29, 2019). As a result, 4 of the most worthy versions of our product were chosen - all of them will be
				implemented.INSYTE Electronics held a competition between young industrial designers to develop a solution for a
				unique module for the “smart home” at the design hackathon “Industrial Design Days in Skolkovo” (June 26-29,
				2019). As a result, 4 of the most worthy versions of our product were chosen - all of them will be
				implemented.</p >

			<div class="news__additional" >
				<span class="news__date" >1 July 2019 y.</span ><a href="" class="news__link link link--white" >Learn
				more...</a >
			</div >
		</div >

		<div class="news__item faster" >
			<span class="news__image-overlay" ></span >
			<h4 class="news__titleH4 titleH4 title--white" >INSYTE Electronics chose IoT module design solutions at the
				Skolkovo industrial design competition</h4 >
			<p class="news__description" >INSYTE Electronics held a competition between young industrial designers to develop
				a solution for a unique module for the “smart home” at the design hackathon “Industrial Design Days in Skolkovo”
				(June 26-29, 2019). As a result, 4 of the most worthy versions of our product were chosen - all of them will be
				implemented.</p >

			<div class="news__additional" >
				<span class="news__date" >1 July 2019 y.</span ><a href="" class="news__link link link--white" >Learn
				more...</a >
			</div >
		</div >

		<div class="news__item faster" >
			<span class="news__image-overlay" ></span >
			<h4 class="news__titleH4 titleH4 title--white" >INSYTE Electronics chose IoT module design solutions at the
				Skolkovo industrial design competition</h4 >
			<p class="news__description" >INSYTE Electronics held a competition between young industrial designers to develop
				a solution for a unique module for the “smart home” at the design hackathon “Industrial Design Days in Skolkovo”
				(June 26-29, 2019). As a result, 4 of the most worthy versions of our product were chosen - all of them will be
				implemented.</p >

			<div class="news__additional" >
				<span class="news__date" >1 July 2019 y.</span ><a href="" class="news__link link link--white" >Learn
				more...</a >
			</div >
		</div >
	</div >
</section >