<section class="partners">
  <img src="components/_img/Partners/logo-nti 2.svg" alt="NTI" class="partners__logo">
  <img src="components/_img/Partners/skolkovo.svg" alt=Skolkovo"" class="partners__logo">
  <img src="components/_img/Partners/influx-logo-white-01.svg" alt="influx" class="partners__logo">
  <img src="components/_img/Partners/city.svg" alt="smart city" class="partners__logo">
</section>