<section class="real-time-dashborads" >
	<h1 class="real-time-dashborads__titleH1 title-accent title--bold title--white fast" >Real-Time IoT Dashboards</h1 >
	<p class="real-time-dashborads__subtitle subtitle subtitle--white fast" >Aggregator Participation Plan for Daily Unloading</p >
	<figure class="slider" >
		<div class="slider__container" >

			<div class="slider__items" >
				<div class="slider__item slider__item--active" >
					<img class="slider__image" src="components/_img/RealTimeDashboards/slider/activeDashboard.png" alt="Insyte" >
				</div >
				<div class="slider__item" >
					<img class="slider__image" src="components/_img/RealTimeDashboards/slider/activeDashboard.png" alt="Insyte" >
				</div >
				<div class="slider__item" >
					<img class="slider__image" src="components/_img/RealTimeDashboards/slider/activeDashboard.png" alt="Insyte" >
				</div >
			</div >

			<div class="slider__description" >
				<div class="slider__other" >
					<div class="faster" >
						<div class="slider__item-description slider__item-description--active" >
							<p >Description of this screen 1</p >
						</div >
						<div class="slider__item-description" >
							<p >Description of this screen 2</p >
						</div >
						<div class="slider__item-description" >
							<p >Description of this screen 3</p >
						</div >
					</div >
					<div class="slider__arrow-navigation" >
						<span class="icon-arrow-left" ></span >
						<div class="slider__dot-navigation" ></div >
						<span class="icon-arrow-right" ></span >
					</div >
					<!--          <div class="slider__mini-map faster">-->
					<!--            <div class="slider__mini-map-item slider__mini-map-item&#45;&#45;active">-->
					<!--              <img class="slider__mini-map-image" src="components/_img/RealTimeDashboards/slider/miniDashboardActive.png" alt="Dasboard 1">-->
					<!--            </div>-->
					<!--            <div class="slider__mini-map-item">-->
					<!--              <img class="slider__mini-map-image" src="components/_img/RealTimeDashboards/slider/miniDashboard2.png" alt="Dasboard 2">-->
					<!--            </div>-->
					<!--            <div class="slider__mini-map-item">-->
					<!--              <img class="slider__mini-map-image" src="components/_img/RealTimeDashboards/slider/miniDashboard3.png" alt="Dasboard 3">-->
					<!--            </div>-->
					<!--          </div>-->

					<div >
						<button type="button" class="real-time-dashborads__button fast button icon icon--login button--yellow" >
							<a href="https://ems.insyte.ru/#/login" >Log in</a >
						</button >
						<button type="button"
										class="real-time-dashborads__button fast button icon icon--registration button--green" >
							<a href="https://ems.insyte.ru/#/login" >Registration</a >
						</button >
					</div >
				</div >


			</div >
	</figure >
	<!--  <div class="slider">-->
	<!--    <div class="slider__images faster">-->
	<!--      <img class="slider__item slider__image" src="components/_img/RealTimeDashboards/slider/activeDashboard.png" alt="Dashboard 1">-->
	<!--    </div>-->
	<!--    <div class="slider__other">-->
	<!--      <div class="slider__image-description faster">-->
	<!--        <p>Description of this screen</p>-->
	<!--      </div>-->
	<!--      <ul class="slider__navigation faster">-->
	<!--        <li class="slider__navigation-item slider__navigation-item&#45;&#45;active"></li>-->
	<!--        <li class="slider__navigation-item"></li>-->
	<!--        <li class="slider__navigation-item"></li>-->
	<!--      </ul>-->
	<!--      <div class="slider__mini-map faster">-->
	<!--        <div class="slider__mini-map-item slider__mini-map-item&#45;&#45;active">-->
	<!--          <img class="slider__mini-map-image" src="components/_img/RealTimeDashboards/slider/miniDashboardActive.png" alt="Dasboard 1">-->
	<!--        </div>-->
	<!--        <div class="slider__mini-map-item">-->
	<!--          <img class="slider__mini-map-image" src="components/_img/RealTimeDashboards/slider/miniDashboard2.png" alt="Dasboard 2">-->
	<!--        </div>-->
	<!--        <div class="slider__mini-map-item">-->
	<!--          <img class="slider__mini-map-image" src="components/_img/RealTimeDashboards/slider/miniDashboard3.png" alt="Dasboard 3">-->
	<!--        </div>-->
	<!--      </div>-->
	<!--      <div>-->

	<!--      <button type="button" class="real-time-dashborads__button fast button icon icon&#45;&#45;login button&#45;&#45;yellow">-->
	<!--        <a href="">Log in</a>-->
	<!--      </button>-->
	<!--      <button type="button" class="real-time-dashborads__button fast button icon icon&#45;&#45;registration button&#45;&#45;green">-->
	<!--        <a href="">Registration</a>-->
	<!--      </button>-->
	<!--      </div>-->
	<!--    </div>-->
	<!--  </div>-->
</section >