@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="smart-energy__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">Demand Response simulation</h1>
		<p class="main-window__subtitle subtitle subtitle--white">For for one consumer as well as for a group of consumers</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="usecase.html">Use Case</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">Demand Response simulation</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<p class="custom-text"><b>Service:</b> Demand Response-simulation <br>
				<b>Section:</b> Testing real objects in the EMS INSYTE system <br>
				<b>Customer:</b> Energy sales company. <br>
			</p>
			<p class="custom-text">
				<b>Principle:</b> EMS INSYTE system allows to simulate the behavior of consumers of different categories in order to determine their possible and actual energy consumption reduction
			</p>
			<p class="custom-text">
				The figure shows four main tasks of demand response simulation: reduction of power consumption of power receiving devices using a base load diagram for one consumer (plan/fact), as well as for a group of consumers (plan/fact). There are several approaches to determining the amount of reduction of the power take-up consumption in DR simulation. The most common approach is to use base load charts.
			</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-useCase/TestReal/1.png"
				 data-fancybox="gallery" data-caption="Picture 1 – Demand Response-simulation">
				<img class="img-content__image" src="components/_img/page-useCase/TestReal/1.png"
						 alt="Picture 1">
			</a>
    </figure>
    <div class="prev-next-pages">
      <a href="Benchmarking.html" class="link link--prev">Benchmarking</a>
      <a href="Basic-statistics.html" class="link link--next">Basic statistics</a>
    </div>
	</div>
</main>
<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Other Themes</h3>
    <button class="button button--blue"><a href="Basic-statistics.html">Basic statistics</a></button>
    <button class="button button--blue"><a href="Statictics-in-dynamics.html">Statictics in dynamics</a></button>
    <button class="button button--blue"><a href="Statistics-in-static.html">Statistics in static</a></button>
    <button class="button button--blue"><a href="Energy-balance.html">Energy balance</a></button>
    <button class="button button--blue"><a href="Energy-analysis.html">Energy analysis</a></button>
    <button class="button button--blue"><a href="Load-peak-forecasting.html">Load peak forecasting</a></button>
    <button class="button button--blue"><a href="Statictics-for-the-fuelstation.html">Statictics for the fuel station</a></button>
    <button class="button button--blue"><a href="Benchmarking.html">Benchmarking</a></button>
  </div>
</section>

@@include('./_footer.html')
</body>
</html>