@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="smart-energy__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">Energy balance</h1>
		<p class="main-window__subtitle subtitle subtitle--white">Balance sheet figures</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="usecase.html">Use Case</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">Energy balance</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<p class="custom-text"><b>Service:</b> Statistics<br>
				<b>Section:</b> Testing of real objects in the EMS INSYTE system. Balance sheet figures<br>
				<b>Description of the object:</b> A large machine-building enterprise. <br>
			</p>
			<p class="custom-text">
				<b>Principle:</b> control of balance indicators on points of reception and holiday of the enterprise. Tracking of electric power transit to other consumers. Monitoring of own consumption of the enterprise. Calculation of deviation between the amount of electricity supplied to the enterprise by main inputs and the amount of electricity supplied by transit and spent for own needs of the enterprise
			</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-useCase/TestReal/5.png"
				 data-fancybox="gallery" data-caption="Picture 1 – control of balance indicators on points of reception">
				<img class="img-content__image" src="components/_img/page-useCase/TestReal/5.png"
						 alt="Picture 1">
			</a>
		</figure>
    <div class="prev-next-pages">
      <a href="Statistics-in-static.html" class="link link--prev">Statistics in static</a>
      <a href="Energy-analysis.html" class="link link--next">Energy analysis</a>
    </div>
	</div>
</main>

<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Other Themes</h3>
    <button class="button button--blue"><a href="Demand-Response-simulation.html">Demand Response simulation</a></button>
    <button class="button button--blue"><a href="Basic-statistics.html">Basic statistics</a></button>
    <button class="button button--blue"><a href="Statictics-in-dynamics.html">Statictics in dynamics</a></button>
    <button class="button button--blue"><a href="Statistics-in-static.html">Statistics in static</a></button>
    <button class="button button--blue"><a href="Energy-analysis.html">Energy analysis</a></button>
    <button class="button button--blue"><a href="Load-peak-forecasting.html">Load peak forecasting</a></button>
    <button class="button button--blue"><a href="Statictics-for-the-fuelstation.html">Statictics for the fuel station</a></button>
    <button class="button button--blue"><a href="Benchmarking.html">Benchmarking</a></button>
  </div>
</section>
@@include('./_footer.html')
</body>
</html>