@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="smart-energy__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">Load peak forecasting</h1>
		<p class="main-window__subtitle subtitle subtitle--white">Peak consumption hours prediction</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="usecase.html">Use Case</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">Load peak forecasting</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<p class="custom-text"><b>Service:</b> Forecast of rush hours<br>
				<b>Section:</b> Load prediction for a real object <br>
				<b>Description of the object:</b> Filling station. <br>
			</p>
			<p class="custom-text">
				<b>Principle:</b> peak consumption hours prediction for working days of the billing month based on actual peak hours profiles for previous billing periods for the respective region (Perm region). At the heart are the existing effective forecasting methods for time series processing
			</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-useCase/TestReal/7.png"
				 data-fancybox="gallery"
				 data-caption="Picture 1 – peak consumption hours prediction for working days of the billing month">
				<img class="img-content__image" src="components/_img/page-useCase/TestReal/7.png"
						 alt="Picture 1">
			</a>
		</figure>
    <div class="prev-next-pages">
      <a href="Energy-analysis.html" class="link link--prev">Energy analysis</a>
      <a href="Statictics-for-the-fuelstation.html" class="link link--next">Statictics for the fuel station</a>
    </div>
	</div>  
</main>

<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Other Themes</h3>
    <button class="button button--blue"><a href="Demand-Response-simulation.html">Demand Response simulation</a></button>
    <button class="button button--blue"><a href="Basic-statistics.html">Basic statistics</a></button>
    <button class="button button--blue"><a href="Statictics-in-dynamics.html">Statictics in dynamics</a></button>
    <button class="button button--blue"><a href="Statistics-in-static.html">Statistics in static</a></button>
    <button class="button button--blue"><a href="Energy-balance.html">Energy balance</a></button>
    <button class="button button--blue"><a href="Energy-analysis.html">Energy analysis</a></button>
    <button class="button button--blue"><a href="Statictics-for-the-fuelstation.html">Statictics for the fuel station</a></button>
    <button class="button button--blue"><a href="Benchmarking.html">Benchmarking</a></button>
  </div>
</section>
@@include('./_footer.html')
</body>
</html>