@@include('./_head.html')

<body>
@@include('./_preloader.html')
@@include('./_header.html')

<section class="smart-energy__main-window  main-window">
	<div class="main-window__container">
		<h1 class="main-window__title-accent title-accent white-text">Statictics in dynamics</h1>
		<p class="main-window__subtitle subtitle subtitle--white">Differentiation of power consumption</p>
	</div>
</section>

<nav class="second-page-breadcrumbs spectrum spectrum--medium spectrum--dark">
	<ul class="spectrum-Breadcrumbs">
		<li class="spectrum-Breadcrumbs-item">
			<div class="spectrum-Breadcrumbs-itemLink" role="link" tabindex="0"><a href="usecase.html">Use Case</a></div>
		</li>
		<li class="spectrum-Breadcrumbs-item">
			<a class="spectrum-Breadcrumbs-itemLink" role="link" aria-current="page">Statictics in dynamics</a>
		</li>
	</ul>
</nav>

<main class="second-page-content">
	<div class="content">
		<div class="text-content">
			<p class="custom-text"><b>Service:</b> Statistics<br>
				<b>Section:</b> Testing of real objects in the EMS INSYTE system. Dynamic indicators<br>
				<b>Description of the object:</b> The large industrial enterprise in chemical branch. <br>
			</p>
			<p class="custom-text">
				<b>Principle:</b> differentiation of power consumption with identification of sites of uncharacteristic consumption of active capacity on each input. Search of the periods of a sharp decline / rise in electricity consumption with a comparison of the operating mode of the enterprise. Calculation of average and maximum active power consumption with presentation of data in the form of various diagrams and graphs for more accurate visual analysis
			</p>
		</div>
		<figure class="img-content">
			<a class="seconds-page-image-fancybox" href="components/_img/page-useCase/TestReal/3.png"
				 data-fancybox="gallery" data-caption="Picture 1 – differentiation of power consumption with identification of sites of uncharacteristic consumption of active capacity on each input">
				<img class="img-content__image" src="components/_img/page-useCase/TestReal/3.png"
						 alt="Picture 1">
			</a>
		</figure>
    <div class="prev-next-pages">
      <a href="Basic-statistics.html" class="link link--prev">Basic statistics</a>
      <a href="Statistics-in-static.html" class="link link--next">Statistics in static</a>
    </div>
	</div>
</main>

<section class="other-pages">
  <div class="other-page__container">
    <h3 class="titleH3 title--dark title--bold">Other Themes</h3>
    <button class="button button--blue"><a href="Demand-Response-simulation.html">Demand Response simulation</a></button>
    <button class="button button--blue"><a href="Basic-statistics.html">Basic statistics</a></button>
    <button class="button button--blue"><a href="Statistics-in-static.html">Statistics in static</a></button>
    <button class="button button--blue"><a href="Energy-balance.html">Energy balance</a></button>
    <button class="button button--blue"><a href="Energy-analysis.html">Energy analysis</a></button>
    <button class="button button--blue"><a href="Load-peak-forecasting.html">Load peak forecasting</a></button>
    <button class="button button--blue"><a href="Statictics-for-the-fuelstation.html">Statictics for the fuel station</a></button>
    <button class="button button--blue"><a href="Benchmarking.html">Benchmarking</a></button>
  </div>
</section>
@@include('./_footer.html')
</body>
</html>