@import contacts-social

.contacts
  position: relative
  padding-top: 50px
  display: flex
  justify-content: center
  width: 100%
  margin: 0 auto

.contacts__titleH2
  margin-top: 0

.contacts__titleH4
  margin-left: 0
  margin-bottom: 12px

.contacts__subtitle
  color: $color-subtitle
  font-size: 13px
  margin: 0 0 8px 0

.contacts-data
  display: flex
  flex-direction: column
  max-width: 300px
  margin-right: 160px

.contacts-form__button
  margin-top: 20px

@media (min-width: 1px)
  .contacts
    flex-direction: column
    align-items: center
    align-content: center
    width: 100%

  .contacts-data
    margin-bottom: 60px
    margin-right: 0

  .contacts-social
    justify-content: center
    margin-bottom: 20px

  .contacts-form
    width: 90%
    margin-bottom: 160px

  .contacts__subtitle
    text-align: center

  .contacts__titleH2
    text-align: center
    line-height: 32px

  .contacts__titleH4
    text-align: center
    margin-bottom: 20px

@media (min-width: 768px)
  .contacts__titleH4
    padding-left: 0

  .contacts
    flex-direction: row
    align-items: flex-start
    align-content: center

  .contacts-data
    margin-bottom: 80px

  .contact-form
    max-width: 320px

  .contacts__titleH2
    line-height: 32px

  .contacts__titleH4
    margin-bottom: 20px
