// Add Class container-contacts_for-light for <section class="contacts">
.container-contacts_for-light .contact-form
	max-width: 100%
	display: flex
	flex-direction: column
	align-items: center

.container-contacts_for-light .contact-form__titleH2
	color: #101010

.container-contacts_for-light .contact-form__titleH2:after
	content: '↓'
	width: 24px
	height: 24px
	background-position: center
	display: block
	margin: 40px auto
	color: #000

.container-contacts_for-light .contact-form__subtitle
	color: #00000060
	font-size: 13px

.container-contacts_for-light .contact-form__label
	color: #00000080
	margin-left: 20px
	display: block
	margin-bottom: 12px

.container-contacts_for-light .contact-form__text
	min-height: 48px
	min-width: 320px
	border-radius: 100px
	background: none
	border: 1px solid #00000020
	margin-bottom: 32px
	color: #101010
	padding-left: 20px
	font-size: 18px
	transition: 0.3s
	outline: none

.container-contacts_for-light .contact-form__text:hover, .container-contacts_for-light .contact-form__textarea:hover
	border: 1px solid #00000040
	transition: 0.3s

.container-contacts_for-light .contact-form__text:focus, .container-contacts_for-light .contact-form__textarea:focus
	border-color: #00000070
	box-shadow: 0px 2px 4px #00000030

.container-contacts_for-light .contact-form__textarea
	height: 240px
	max-height: 240px
	width: 100%
	min-width: 320px
	max-width: 320px
	border-radius: 20px
	background: none
	border: 1px solid #00000020
	color: #101010
	padding-top: 12px
	padding-left: 20px
	font-size: 18px
	margin-bottom: 32px
	outline: none

.container-contacts_for-light .contact-form-checkbox__label
	margin: 0
	display: inline-block
	color: #242424ff
	margin: 0 0 20px 0


.container-contacts_for-light .contact-form-checkbox__input
	font-size: 18px


.container-contacts_for-light .contact-form__button_send
	margin: 12px
	height: 48px
	width: 320px
	border-radius: 100px
	font-weight: bold
	font-size: 18px
	color: #ffffff90
	background: #0d0d0d
	border: 1px solid #00000030
	transition: .5s
	box-shadow: 0 2px 8px #00000030


.container-contacts_for-light .contact-form__button_send:hover
	transition: .2s
	box-shadow: 0 2px 40px #00000060
	cursor: pointer
