<figure class="works__card card">
    picture
        <source class="main-window__illustration" srcset="img/_src/_works/design/preview/webp/#{val.preview}.webp" type="image/webp">
        <img class="card__image" src="img/_src/_works/design/preview/#{val.preview}.jpg" alt="#{val.siteName}">
    <figcaption class="card__description">
        <p class="card__subtitile"></p>
        <h2 class="card__title">#{val.siteName}</h2>
        <div class="card__text">#{val.descriptionProject}</div>
        <ul class="card__list">
            <li class="card__list-item">#{val.dateDevelopment} год</li>
        </ul>
        <button class="card__button button button--green">
            <a href="/works/design/#{val.id}">Подробнее</a>
        </button>
    </figcaption>
</figure>