//div.page-in-work
//    h1.page-in-work__titleH1.titleH1.title--red Страница в разработке
//    p.page-in-work__subtitle Можете посмотреть мои некоторые работы в социальных сетях:
//    <div class="page-in-work__social-media contacts-social">
//        <a class="page-in-work__social-icon contacts-social__link" href="https://www.behance.net/azmaghulovce59" target="_blank">
//            <img class="contacts-social__icon contacts-social__icon_behance" src="img/_src/_contacts/social/behance.svg" alt="Behance">
//        </a>
//    </div>

if !id
    <section class="git-works works">
        <h2 class="works__titleH2 titleH2 titleH3--blue">Работы на Git</h2>
        include _works-git
    </section>
    <section class="design-site-works works">
      <div class="works__container">

        <h2 class="works__titleH2 titleH2 titleH2--yellow">Работы по Дизайну</h2>

         each val, index in works
           include _works-design


      </div>
    </section>

else
    include _work-design